Bkp/gepaci-agent-V1.1.json
{
  "name": "gepaci-agent-V1.1",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2416,
        864
      ],
      "id": "769093fa-3592-4d3e-9477-7782634feceb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "HIV493e91Mlq2ZRT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2528,
        976
      ],
      "id": "d3235e1b-7409-4899-a540-3d5596b48f09",
      "name": "Google Gemini Chat Atendimento",
      "credentials": {
        "googlePalmApi": {
          "id": "oGRdmFIGj3kd3Pmo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagemAtual }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=**INSTRUÇÕES PARA COLETA DE IDENTIFICAÇAO DA AGENTE \"Gê**\n\nVocê é a **Gê**, atendente virtual do **Gepaci**. Sua função nessa etapa será somente solicitar, coletar e validar se a informação passada pelo usuário é uma matricula/RE (contendo 6 dígitos) ou um CPF (contendo no máximo 11 dígitos)\n\n\n### 1. **Estilo de Atendimento**\n\n* Seja sempre **educada**, **objetiva**, **compreensiva** e **empática**.\n* Mantenha um tom **humanizado e acolhedor**.\n* Faça **apenas uma pergunta por vez**. Nunca sobrecarregue o cliente com múltiplas perguntas simultâneas.\n* **Nunca utilize informações externas** as orientações desse script\n\n### 2. **Início da Conversa**\n\n1. Inicie a conversa se apresentando cordialmente dependendo do **horário atual: {{ $now }}**. Apresente-se de forma simpática como Gê, atendente virtual do Gepaci.\n2. Pergunte qual é a **Matricula/RE** (contendo 6 dígitos) caso seja um funcionário Icomon ou o **CPF** em caso de Ex-Funcionário.\n3. Valide se a informação passada possui o número de dígitos informado. Caso positivo, passe para o proximo nó.\n4. Se a informação passada não atender aos requisitos, solicite os dados novamente.\n5. ATENÇÃO: Você não deve apresentar fórmulas ou códigos na conversa.\n\n*Aguarde a resposta de cada pergunta antes de seguir para a próxima.*\n\n### 3. **Encerramento da Conversa**\n\nSe o colaborados não for localizado após duas tentativas ou se o mesmo informar que não é um funcionário ou ex-funcionário, finalize a conversa chamando."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2720,
        -1024
      ],
      "id": "99d652f4-b83d-470f-b7fd-be8035a5c54d",
      "name": "Validar Usuario",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Coletar Mensagem Atendimento').item.json.mensagemAtual }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=**INSTRUÇÕES GERAIS PARA O AGENTE \"Gê\"**\n\nVocê é a **Gê**, atendente virtual do **Gepaci** da empresa *Icomon*, especializada em fornecer informações sobre os processos de gestão de pessoas e também realizar o direcionamento do atendimento em casos específicos de **alteração de conta ou de tipo de benefício**.\n\n### 1. **Estilo de Atendimento**\n\n* Seja sempre **educada**, **objetiva**, **compreensiva** e **empática**.\n* Mantenha um tom **humanizado e acolhedor**.\n* Faça **apenas uma pergunta por vez**. Nunca sobrecarregue o usuário com múltiplas perguntas simultâneas.\n* **Nunca utilize informações externas** ao conteúdo da **Tool Banco Verorial** aplicada na Tools.\n* Você tem autonomia para alterar as frases do Script e da base de conhecimentos, mas sem perder o sentido da informação.\n\n### 2. **Início da Conversa**\n\n1. Consulte o histórico da conversa no Redis Memory. Se a saudação já foi realizada por outro agente, você deverá chamar o usuário pela primeira parte do nome **{{ $json.nomeUsuario }}** e perguntar como pode ajudar hoje.\n2. Caso você seja o primeiro agente a abordar o usuário, inicie a conversa se apresentando cordialmente e com um \"Bom dia/Boa tarde/Boa noite\" dependendo do **horário atual: {{ $now }}**. Chame o usuário pela primeira parte do nome **{{ $json.nomeUsuario }}** e pergunte em que pode ajudar.\n3. Exemplos de frases para apresentação: \"Prazer **{{ $json.nomeUsuario }}** (somente o primeiro nome) eu sou a Gê, sua agente virtual e será um privilégio te ajudar. Para qual assunto posso te auxiliar?\".\n4. ATENÇÃO: Não apresente os dados pessoas como senha e logins nas suas respostas.\n5. ATENÇÃO: O nome do usuário deve ser usado somente na apresentação ou em alguns casos que achar necessário. Você não deve utiliza-lo em toda resposta que enviar.\n6. Nesse ponto você não precisa solicitar os dados do usuário. Todos eles já foram coletados no banco de dados e podem ser utilizados na conversa, caso necessário.\n7. ATENÇÃO: Utilize sempre mensagens curtas (de no máximo 3 linhas) para que o usuário possa acompanhar o dialogo como uma conversa normal com um humano.\n8. Se o assunto solicitado pelo usuário tiver mais tópicos e a pergunta foi muito abrangente, tente sondar quais informações o usuário precisa para que seja mais preciso na resposta. Exemplos: \n  - Assunto cancelamento de ingressos: Você deve perguntar ao usuário quais ingressos ele deseja cancelar.\n  - Assunto plano de Saúde> Você deve questionar quais informações sobre Plano de Saúde o usuário necessita.\n9. Nunca envie a documentação inteira para o usuário. Somente os pontos solicitados.\n10. Não repita informações já passadas. Apenas complemente as informações.\n11. ATENÇÃO: Não apresente os dados pessoas como senha e logins nas suas respostas.\n12. ATENÇÃO: Você não deve apresentar fórmulas ou códigos na conversa.\n13. ATENÇÃO: Nunca de exemplos de serviços ou benefícios que não estejam na base de conhecimento.\n\n*Aguarde a resposta de cada pergunta antes de seguir para a próxima.*\n\n### 4. **Alteração de conta ou de tipo de benefício**\n\n1. Para esse tipo de solicitação você deve acionar a Tools do Redis para alterar o status de atendimento e não passar nenhuma informação.\n2. Nesse ponto você não deve responder ao usuário. Acione diretamente o agente para que ele siga com a conversa.\n3. Se o usuário errar o token o atendimento será encaminhado para você novamente. Você deve analisar o histórico da conversa, acionar a Tools do Redis para alterar o status de atendimento novamente e depois encaminhar o usuário para que o AI Agent Tools **AI Acessos IcoPass** de sequência ao atendimento.\n\n### 4. **Uso da Base de Conhecimento**\n\n* Utilize as respostas fornecidas pelo cliente para consultar a **Tool Banco Verorial**.\n* Com base nessas informações, apresente **soluções** relevantes os questionamentos ou dúvidas do usuário.\n* Você deve apresentar somente as informações relevantes a solicitação do cliente. Exemplo: \"Informação sobre Ingressos Cinemark\". Você deve somente as informações referentes a esse benefício.\n* Seja **objetiva**, mas mantenha o foco no que for útil e aplicável.\n* **Nunca ofereça nada fora da Tool Banco Verorial**.\n\n  > Caso o cliente solicite algo fora da base, **peça desculpas** e pergunte se deseja falar com um especialista.\n  > Se insistir, explique gentilmente a limitação e, se necessário, **encerre educadamente a conversa**.\n\n### 5. **Cases de Sucesso**\n\n* Utilize os exemplos disponíveis na **Tool Banco Verorial**.\n* **Jamais divulgue nomes de clientes**, respeitando a **confidencialidade**.\n\n### 6. **Encerramento do Atendimento**\n\n* Agradeça e encerre o atendimento cordialmente.\n\n### 7. **Uso do Bloco `<Tool Banco Verorial>`**\n\nSempre que precisar fornecer informações, **consulte apenas este bloco**.\nSe a informação não estiver presente, **não invente**."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2192,
        -384
      ],
      "id": "f06ef86d-3f33-469b-aea6-862b7a55c118",
      "name": "Atendimento",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "inputIdentity",
              "value": "={{ $('Tratar somente Numeros').item.json.messageOnlyNumbers }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        -1056
      ],
      "id": "a1669b89-54be-480b-814b-ba4f19ada848",
      "name": "coletar identificador",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/db-contas",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "json.phoneNumber",
              "value": "={{ $('coletar dados da conversa').item.json.phoneNumber }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        176
      ],
      "id": "9c8c40bb-051b-4254-a3b6-0de2d488cb5d",
      "name": "Sql Agtesla",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "dadosCliente.Nome",
              "value": "={{ $('Sql Agtesla').item.json.body.NOME_SCL }}",
              "type": "string"
            },
            {
              "id": "b4057371-72ff-4f0b-8cea-80002b90a3a2",
              "name": "dadosCliente.Re",
              "value": "={{ $('Sql Agtesla').item.json.body.RE_SCL }}",
              "type": "string"
            },
            {
              "id": "97d8db74-5db5-4924-b230-20718dc5805b",
              "name": "dadosCliente.Status",
              "value": "={{ $('Sql Agtesla').item.json.body.STATUS_SCL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        448
      ],
      "id": "60788d86-4cf3-443b-b04d-abaf31f7ad02",
      "name": "coletar dados usuario",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec732077-a790-418b-a4f4-7fceeef216e2",
              "leftValue": "={{ $json.messageOnlyNumbers }}",
              "rightValue": "^[0-9]{6}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "60536cd9-5339-4560-a516-39d523053786",
              "leftValue": "={{ $json.messageOnlyNumbers }}",
              "rightValue": "^[0-9]{11}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        -1040
      ],
      "id": "0ef09053-0284-44fb-854c-1c1d6e40249a",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "efb806dd-479d-40c7-acbd-e96169cf8f80",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -288
      ],
      "id": "5b50c896-2e0c-40fb-a48d-e10bda7f2749",
      "name": "Webhook",
      "webhookId": "efb806dd-479d-40c7-acbd-e96169cf8f80"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2784,
        992
      ],
      "id": "1fe5eb62-36c5-4e22-9ae4-a07c09c30fa8",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21b073af-b386-45de-bc4b-6cbf2e2aee20",
              "leftValue": "={{ $json.statusAtendimento }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -80
      ],
      "id": "a8a8cb35-2cb3-4828-a7a1-23dd6192287c",
      "name": "If2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b60e9583-6fe9-45ff-ac2f-aadaaa27c51f",
              "name": "session",
              "value": "={{ $('Webhook').item.json.body.session }}",
              "type": "string"
            },
            {
              "id": "1f37ee26-a963-497c-b693-a14afd0bdff1",
              "name": "chatId",
              "value": "={{ $('Webhook').item.json.body.chatId }}",
              "type": "string"
            },
            {
              "id": "01a74efd-5d4e-4869-b157-8611c12facf8",
              "name": "pushName",
              "value": "={{ $('Webhook').item.json.body.pushName }}",
              "type": "string"
            },
            {
              "id": "ee194e95-3390-43ba-8f4c-e5ad1054b4d6",
              "name": "payload_id",
              "value": "={{ $('Webhook').item.json.body.payload_id }}",
              "type": "string"
            },
            {
              "id": "36b91569-2721-46ab-b458-6c2c00c1f659",
              "name": "event",
              "value": "={{ $('Webhook').item.json.body.event }}",
              "type": "string"
            },
            {
              "id": "384c4862-3a8c-4c1f-a28f-2dad32b1fb75",
              "name": "fromMe",
              "value": "={{ $('Webhook').item.json.body.fromMe }}",
              "type": "string"
            },
            {
              "id": "6c3fee67-5a3e-4daf-b7e0-8a987bf24dc1",
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.message }}",
              "type": "string"
            },
            {
              "id": "c06f028b-6543-451e-ab4c-ef99e6feea7d",
              "name": "phoneNumber",
              "value": "={{ $json.foneTratado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -288
      ],
      "id": "dc9ec959-64d3-4839-8e60-32fd638ab5b2",
      "name": "coletar dados da conversa",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "Consultar Bando db_contas",
        "height": 624,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        80
      ],
      "typeVersion": 1,
      "id": "1b6169f3-06d6-4db2-bedc-b537121039c4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "21b073af-b386-45de-bc4b-6cbf2e2aee20",
              "leftValue": "={{ $json.body.ID }}",
              "rightValue": 200,
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        176
      ],
      "id": "c272d3e8-4d51-47af-bcf7-573ae712485c",
      "name": "If3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst whatsapp = $('Webhook').first().json.body.contacts[0].phones[0].phone;\nconst onlyPhone = whatsapp\n  .replace(/\\D/g, '')\n  .replace(/^55/, '');\nconst result = [\n  {\n    foneTratado: onlyPhone\n  }\n];\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -288
      ],
      "id": "b500ed9b-5045-4eac-84b5-cd17d0b805d8",
      "name": "Tratar número",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Inicio",
        "height": 400,
        "width": 784,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -336
      ],
      "typeVersion": 1,
      "id": "36bf299f-3432-43de-bbb1-c1f6cc55f861",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "statusAtendimento",
        "key": "={{ $json.session }}",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -288,
        -80
      ],
      "id": "0c9e0273-e30a-44b6-808c-c5b3b79503fd",
      "name": "Consultar Status",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 120,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Webhook').item.json.body.session }}",
        "value": "inicio_conversa",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -368,
        176
      ],
      "id": "8ddf323e-95d0-41e6-8728-4be21ac2e753",
      "name": "Setar Status Inicial",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "statusAtendimento",
        "key": "={{ $('coletar dados da conversa').item.json.session }}",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        592,
        160
      ],
      "id": "bd5cbcef-67e1-447e-affb-6e29ca3daead",
      "name": "Status direcionamento",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08f1353f-0d65-46cd-9613-78a2304040d9",
                    "leftValue": "={{ $json.statusAtendimento }}",
                    "rightValue": "inicio_conversa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "verificar_usuario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1eeb533-409f-409b-bebd-b35ca3bb6c54",
                    "leftValue": "={{ $json.statusAtendimento }}",
                    "rightValue": "atendimento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atendimento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3743f36-1131-45b3-9d33-ced97cbf2c57",
                    "leftValue": "={{ $json.statusAtendimento }}",
                    "rightValue": "acesso_icopass",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "validar_icopass"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57b50e12-5a8c-4ef1-b842-05557744c30d",
                    "leftValue": "={{ $json.statusAtendimento }}",
                    "rightValue": "nao_localizado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=nao_localizado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3735b938-34a3-4117-9b89-561d09ee2e1b",
                    "leftValue": "={{ $json.statusAtendimento }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finalizar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        800,
        96
      ],
      "id": "937c884a-414e-4375-be18-34a192001b34",
      "name": "Gerenciar direcionamento"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session }}_{{ $('Webhook').item.json.body.chatId }}",
        "sessionTTL": 1200,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2656,
        864
      ],
      "id": "7518797b-9747-4f07-a573-c7a2f877e3e8",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Webhook').item.json.body.session }}_message",
        "value": "={{ $('Webhook').item.json.body.message }}",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -80,
        -80
      ],
      "id": "405448a5-b66b-4613-94a5-c0127bf4830b",
      "name": "Mensagem atual",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3808,
        368
      ],
      "id": "8b71b76a-f99e-4425-a664-639865bb1471",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        4064,
        384
      ],
      "id": "cae3bb3d-6811-4b02-a9a3-ce38b4216686"
    },
    {
      "parameters": {
        "content": "Direcionamentos\n",
        "height": 1056,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -352
      ],
      "typeVersion": 1,
      "id": "233ea4ba-036b-4d88-a568-ce05522d1ec2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "341efbfa-c910-48de-8435-deda0b23ea41",
              "leftValue": "={{ $('API Identidade').item.json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        -784
      ],
      "id": "b8e9fe77-528d-4335-8093-04c008a3ef19",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Webhook').item.json.body.session }}",
        "value": "nao_localizado",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1632,
        -800
      ],
      "id": "82155daf-20b5-4b7e-b32a-ee57a3acebe8",
      "name": "Setar Status Nao Localizado",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Webhook').item.json.body.session }}",
        "value": "atendimento",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2016,
        -768
      ],
      "id": "b5463867-6ab4-408a-9669-0a8f51907d16",
      "name": "Setar Status Atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagemAtual }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "**INSTRUÇÕES PARA COLABORADOR NÃO ENCONTRADO NA BASE**\n\nVocê é a **Gê**, atendente virtual do **Gepaci**. Sua função nessa etapa será para somente para orientar o usuário a entrar em contato com os canais de atendimento adequados.\n\n\n### 1. **Estilo de Atendimento**\n\n* Seja sempre **educada**, **objetiva**, **compreensiva** e **empática**.\n* Mantenha um tom **humanizado e acolhedor**.\n* Faça **apenas uma pergunta por vez**. Nunca sobrecarregue o cliente com múltiplas perguntas simultâneas.\n* **Nunca utilize informações externas** as orientações desse script\n\n### 2. **Início da Conversa**\n\n1. O atendimento já foi iniciado em outro momento e não foi possível localizar o colaborador com os dados informados.\n2. Informe que não poderá seguir com o atendimento por esse canal e oriente o mesmo a entrar em contato através do número: **0800-999-9999**.\n3. Caso o usuário insista, passe algumas orientações básicas ou oriente o mesmo a procurar seus superiores.\n\n*Aguarde a resposta de cada pergunta antes de seguir para a próxima.*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1984,
        1296
      ],
      "id": "1778716f-7c0a-4cc2-8a62-e1b3802bb79d",
      "name": "Colaborador Não Encontrado",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('Webhook').item.json.body.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2368,
        -1024
      ],
      "id": "9e90f4b8-2275-40c2-a8e4-d9ec569e71d7",
      "name": "Coletar Mensagem Verificacao",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('Webhook').item.json.body.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1760,
        1296
      ],
      "id": "51c68937-27b1-410b-be77-1c747bfce0b6",
      "name": "Coletar Mensagem Nao Encontrado",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('coletar dados da conversa').item.json.session }}_message",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1744,
        -384
      ],
      "id": "416acdc1-7a6f-4116-9b12-edb69c702102",
      "name": "Coletar Mensagem Atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').item.json.session }}",
        "value": "atendimento",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        176,
        448
      ],
      "id": "54c18a41-54c9-4596-8735-652df103eff2",
      "name": "Setar Status Atendimento1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').item.json.session }}_nome",
        "value": "={{ $('coletar dados usuario').item.json.dadosCliente.Nome }}",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        448
      ],
      "id": "99daabb2-e06c-4c42-808a-62a0179c0964",
      "name": "Setar Nome",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "nomeUsuario",
        "key": "={{ $('coletar dados da conversa').item.json.session }}_nome",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1952,
        -384
      ],
      "id": "6e937314-ffaa-4b5f-91c6-b7c548436235",
      "name": "Coletar Nome Usuario",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').item.json.session }}_nome",
        "value": "={{ $('coletar dados usuario1').item.json.dadosCliente.Nome }}",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2192,
        -768
      ],
      "id": "73977096-0e56-4843-a9be-30deff68873d",
      "name": "Setar Nome1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "dadosCliente.Nome",
              "value": "={{ $json.body.body.nome }}",
              "type": "string"
            },
            {
              "id": "b4057371-72ff-4f0b-8cea-80002b90a3a2",
              "name": "dadosCliente.Re",
              "value": "={{ $('coletar identificador').item.json.inputIdentity }}",
              "type": "string"
            },
            {
              "id": "97d8db74-5db5-4924-b230-20718dc5805b",
              "name": "dadosCliente.Status",
              "value": "={{ $json.body.body.colaborador }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        -768
      ],
      "id": "2fbe3687-aec8-49eb-8e33-1f2a6ffaa4c8",
      "name": "coletar dados usuario1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "**INSTRUÇÕES PARA NÃO ENCONTRADO NA BASE OU NÃO FUNCIONÁRIO**\n\nVocê é a **Gê**, atendente virtual do **Gepaci**. Sua função nessa etapa será para somente para orientar o usuário a entrar em contato com os canais de atendimento adequados.\n\n\n### 1. **Estilo de Atendimento**\n\n* Seja sempre **educada**, **objetiva**, **compreensiva** e **empática**.\n* Mantenha um tom **humanizado e acolhedor**.\n* Faça **apenas uma pergunta por vez**. Nunca sobrecarregue o cliente com múltiplas perguntas simultâneas.\n* **Nunca utilize informações externas** as orientações desse script\n\n### 2. **Início da Conversa**\n\n1. O atendimento já foi iniciado em outro momento e não foi possível localizar o colaborador com os dados informados.\n2. Você receberá direcionamento de usuários que não foram localizados na base ou de pessoas que nunca trabalharam na empresa.\n3. Para pessoas que não trabalham e nunca trabalharam na Icomon, informe que esse canal é exclusivo para funcionários e ex-funcionarios e encerre o atendimento de forma amigavel.\n4. Para funcionários que não foram localizados, informe que não poderá seguir com o atendimento por esse canal e oriente o mesmo a entrar em contato através do número: **0800-999-9999**.\n5. Após passar essas informações você pode se despedir e encerrar o atendimento.",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2704,
        528
      ],
      "id": "fef8e654-4604-4906-8620-790b4ad915e8",
      "name": "AI Nao Localizado"
    },
    {
      "parameters": {
        "jsCode": "\nconst mensagem = $('coletar dados da conversa').first().json.message;\nconst onlyNumbers = mensagem\n  .replace(/\\D/g, '')\nconst result = [\n  {\n    messageOnlyNumbers: onlyNumbers\n  }\n];\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -1040
      ],
      "id": "28201ab4-42c8-46cd-af89-e90e8396afff",
      "name": "Tratar somente Numeros",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2288,
        48
      ],
      "id": "30d706f0-efcf-4c4d-b217-58251972e6fd",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "HIV493e91Mlq2ZRT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2656,
        -80
      ],
      "id": "03fa7893-4314-43d2-80d8-042b022c1c74",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "HIV493e91Mlq2ZRT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2336,
        -80
      ],
      "id": "31366937-c795-45ea-870c-d40c33133c03",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "htCf539ApNjfrbw8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/identidade",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "json.chatInput",
              "value": "={{ $json.inputIdentity }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        -1056
      ],
      "id": "0a56b929-4a1d-4a79-a220-860fcb4fbac2",
      "name": "API Identidade",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 100,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/icopass",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tokenUser",
              "value": "={{ $json.inputToken }}"
            },
            {
              "name": "matricula",
              "value": "=r999451"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1824,
        640
      ],
      "id": "20dfdfc8-8607-410e-8caf-64b1e59f9557",
      "name": "API IcoPass",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 100,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec732077-a790-418b-a4f4-7fceeef216e2",
              "leftValue": "={{ $json.messageOnlyNumbers }}",
              "rightValue": "^[0-9]{6}$",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        400
      ],
      "id": "9464030c-f31b-498a-b9e2-f77e7c89f232",
      "name": "If IcoPass"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "inputToken",
              "value": "={{ $('Tratar somente Numeros1').item.json.messageOnlyNumbers }}",
              "type": "string"
            },
            {
              "id": "995dfa0d-2e48-4fb3-9a60-087d76e3c96e",
              "name": "matriculaUsuario",
              "value": "={{ $('Coletar Matricula Usuario').item.json.matricula }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        640
      ],
      "id": "6bf79b02-25cc-4c78-91c0-285de2e50ea4",
      "name": "coletar token",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst mensagem = $('Coletar Mensagem IcoPass').first().json.mensagemAtual;\nconst onlyNumbers = mensagem\n  .replace(/\\D/g, '')\nconst result = [\n  {\n    messageOnlyNumbers: onlyNumbers\n  }\n];\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        400
      ],
      "id": "a1436ff2-efdd-4aba-b0a9-e968c2ac5cc7",
      "name": "Tratar somente Numeros1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').item.json.session }}_matricula",
        "value": "={{ $('coletar dados usuario').item.json.dadosCliente.Re }}",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -192,
        448
      ],
      "id": "2601bf98-7c3d-49c3-b16d-b6e0543f79a4",
      "name": "Setar Matricula",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').item.json.session }}_matricula",
        "value": "={{ $('coletar dados usuario1').item.json.dadosCliente.Re }}",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2368,
        -768
      ],
      "id": "2d9591a5-8043-4fd0-95dc-fbbe655e0d4d",
      "name": "Setar Matricula1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').item.json.session }}",
        "value": "acesso_icopass",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        2160,
        -32
      ],
      "id": "04c747e7-92a3-47f3-9692-8c5d2a2a592d",
      "name": "Status Icopass",
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Webhook').item.json.body.session }}",
        "value": "nao_localizado",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2192,
        624
      ],
      "id": "283d9336-2d2e-4250-901b-1988a271ffb8",
      "name": "Setar Status Nao Localizado1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "341efbfa-c910-48de-8435-deda0b23ea41",
              "leftValue": "={{ $('API IcoPass').item.json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        640
      ],
      "id": "e71d0b46-c0b7-4d5f-918e-e5ef6564aa45",
      "name": "If4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Token validado. Retorno da API: {{ $('API IcoPass').item.json.statusCode }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "Nesse ponto você só precisa informar ao usuário que o token foi validado e depois finalizar o atendimento se despedindo cordialmente. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2464,
        656
      ],
      "id": "4e1b0894-df32-4a96-a819-84e7b49eaa39",
      "name": "Token Valido"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Webhook').item.json.body.session }}",
        "value": "atendimento",
        "expire": true,
        "ttl": 200
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2960,
        656
      ],
      "id": "7fa9e8c6-722c-4bea-97b0-56dfc6004101",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "matricula",
        "key": "={{ $('coletar dados da conversa').item.json.session }}_matricula",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1488,
        640
      ],
      "id": "7b0daea9-b179-44c7-9bf7-47915225a3c2",
      "name": "Coletar Matricula Usuario",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        2464,
        48
      ],
      "id": "9fedb2a9-1d4a-401c-ba9a-d2ee5a0df130",
      "name": "Reranker Cohere",
      "notesInFlow": false,
      "credentials": {
        "cohereApi": {
          "id": "4K9XXxDqJVHFJDFD",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Contem informações para orientações ao usuário sobre serviços e benefícios ofertados pela empresa."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2432,
        -208
      ],
      "id": "9bee3829-e90f-40e6-8f9c-a8db4bac46d8",
      "name": "Banco Vetorial"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{$('Coletar Msg ID').item.json.sessionId }}_buffer",
        "messageData": "={{ $('Coletar Msg ID').item.json.inputMessage}}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1168,
        16
      ],
      "id": "251e0510-5bc8-4500-b8b0-394d36761470",
      "name": "Set Buffer Mensagem",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -912,
        16
      ],
      "id": "cc9fd719-22bf-4b1e-9f31-14e4fe64b208",
      "name": "Wait",
      "webhookId": "2242736b-8a11-4bc5-bb3e-1abdaa9be21e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37f9a613-db78-4c71-99ac-b09f483e90fd",
              "leftValue": "={{ $json.validarMensagem.last() }}",
              "rightValue": "={{ $('Coletar Msg ID').item.json.inputMessage }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1408,
        336
      ],
      "id": "bbcba19e-5569-4c2e-9ea7-80d5b9fd0a55",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1088,
        512
      ],
      "id": "bae6a311-5819-406f-839a-15b98ba3acb2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "validarMensagem",
        "key": "={{$('Coletar Msg ID').item.json.sessionId }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -688,
        16
      ],
      "id": "870fee1f-033c-4183-85ac-91b69cf04432",
      "name": "Coletar Buffer Mensagem",
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd8e3dd6-3fd4-4169-83c1-5a9941b50ede",
              "name": "messageBuffer",
              "value": "={{ $('Coletar Buffer Mensagem').item.json.validarMensagem.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        320
      ],
      "id": "b1680d6a-c4b8-4a54-a7bb-f9676fce4809",
      "name": "Set Buffer Mensagens"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{$('Coletar Msg ID').item.json.sessionId }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -816,
        320
      ],
      "id": "3f2025be-3a02-4191-b6ff-4442895f2d97",
      "name": "Delete Buffer Mensagem",
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a6b8d5-f2f4-4ddb-bba4-16047924a289",
              "name": "inputMessage",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "23c6d005-52e1-4e41-922f-7bb53e0c901d",
              "name": "sessionId",
              "value": "={{ $json.body.session }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        16
      ],
      "id": "c412818f-df58-45bf-af7b-da5176312407",
      "name": "Coletar Msg ID"
    },
    {
      "parameters": {
        "content": "Inicio / Buffer Mensagens",
        "height": 752,
        "width": 1008,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        -48
      ],
      "typeVersion": 1,
      "id": "e2baeccc-81dd-4745-bacb-29b71ccd62ed",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Coletar Mensagem IcoPass').item.json.mensagemAtual }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=**INSTRUÇÕES PARA COLETA TOKEN ICOPASS**\n\nSua função será orientar o usuário a informar o token para validação de identidade do funcionário usando o APP IcoPass. \n\n\n### 1. **Estilo de Atendimento**\n\n* Seja sempre **educada**, **objetiva**, **compreensiva** e **empática**.\n* Mantenha um tom **humanizado e acolhedor**.\n* Faça **apenas uma pergunta por vez**. Nunca sobrecarregue o cliente com múltiplas perguntas simultâneas.\n* **Nunca utilize informações externas** as orientações desse script\n\n### 1. **Solicitando o Token IcoPass**\n\n1. O atendimento já foi iniciado por outro agente e você pode iniciar a abordagem sem precisar de uma saudação ou nova apresentação.\n2. Informe o usuário que o para seguir com a solicitação desejada o mesmo deve validar sua identidade informando o **ICOMON Token** gerado no app IcoPass.\n3. O acesso no app deve ser feito utilizando o *usuário* e a *senha* de rede que o mesmo utiliza para acesso ao computador.\n4. Se a informação passada não atender aos requisitos, solicite os dados novamente.\n\n*Aguarde a resposta de cada pergunta antes de seguir para a próxima.*\n\n### 3. **Encerramento da Conversa**\n\nSe o colaborados não conseguir validar o token após duas tentativas, finalize a conversa chamando o Agent Tool **AI Nao Localizado**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2464,
        384
      ],
      "id": "bb0dd00d-8894-470f-96bd-77453d17c4db",
      "name": "Acesso IcoPass",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('coletar dados da conversa').item.json.session }}_message",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1488,
        400
      ],
      "id": "e04e0060-5779-46f6-b483-06b122cbb959",
      "name": "Coletar Mensagem IcoPass",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2592,
        -688
      ],
      "id": "61ff2b15-7bd4-437c-8327-348adc28b7d9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HIV493e91Mlq2ZRT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2736,
        -784
      ],
      "id": "5a94f6bf-5e18-4ab4-8619-f070dbbd7698",
      "name": "Google Gemini Chat Atendimento1",
      "credentials": {
        "googlePalmApi": {
          "id": "oGRdmFIGj3kd3Pmo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2912,
        -784
      ],
      "id": "9cfa89dc-6460-46d2-9c50-24d4d37d08bf",
      "name": "Think1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session }}_{{ $('Webhook').item.json.body.chatId }}",
        "sessionTTL": 1200,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2832,
        -688
      ],
      "id": "c233495b-ee96-4dd9-93c1-78db5d78b148",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1888,
        1632
      ],
      "id": "5bee8150-2b0a-4dd2-89f6-fdfe0a4b639e",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "HIV493e91Mlq2ZRT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2000,
        1552
      ],
      "id": "2f588ee0-d7e8-4bd1-a426-83d8060839f3",
      "name": "Google Gemini Chat Atendimento2",
      "credentials": {
        "googlePalmApi": {
          "id": "oGRdmFIGj3kd3Pmo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2176,
        1552
      ],
      "id": "18fca96b-84de-4ce5-9ef6-efc2ffc6e7d7",
      "name": "Think2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session }}_{{ $('Webhook').item.json.body.chatId }}",
        "sessionTTL": 1200,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2096,
        1648
      ],
      "id": "caa420c0-98cd-4693-8821-c5f8df793555",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1744,
        -32
      ],
      "id": "6a345ddd-ccf3-4e19-a434-913aede45397",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "HIV493e91Mlq2ZRT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1872,
        -144
      ],
      "id": "075c80aa-2192-425c-b5d6-d5e03175f9b7",
      "name": "Google Gemini Chat Atendimento3",
      "credentials": {
        "googlePalmApi": {
          "id": "oGRdmFIGj3kd3Pmo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2048,
        -128
      ],
      "id": "cc0f623a-2bd0-4d31-ba3d-1692688b9f2b",
      "name": "Think3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session }}_{{ $('Webhook').item.json.body.chatId }}",
        "sessionTTL": 1200,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1952,
        -32
      ],
      "id": "e72b7f34-da13-42dc-8d08-606c3dde9c29",
      "name": "Redis Chat Memory3",
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "Verificar Usuário",
        "height": 688,
        "width": 1952,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        -1168
      ],
      "typeVersion": 1,
      "id": "3c9ea0bf-2962-4ff3-846f-489d0526e4e1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Colaborador Não Encontrado",
        "height": 608,
        "width": 1952,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        1184
      ],
      "typeVersion": 1,
      "id": "12fe03b0-1aba-421c-b186-d38fdd323ded",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Atendimento",
        "height": 656,
        "width": 1952,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        -448
      ],
      "typeVersion": 1,
      "id": "f7b5197f-ad49-4aa9-b44d-f146803c7ce7",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Atendimento icoPass",
        "height": 912,
        "width": 1952,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        240
      ],
      "typeVersion": 1,
      "id": "423e9e74-a4df-4609-9d00-902ca6dcffa3",
      "name": "Sticky Note9"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3040,
        -688
      ],
      "id": "2dce6bf1-974b-4ff8-9ac9-6f1badfadcb3",
      "name": "Calculator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4f848dd-b633-45a7-86dd-c274922250a3",
              "leftValue": "={{ $json.statusAtendimento }}",
              "rightValue": "acesso_icopass",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3056,
        0
      ],
      "id": "670380e0-730e-43be-81be-fb9752cd38d4",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "statusAtendimento",
        "key": "={{ $('coletar dados da conversa').item.json.session }}",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2864,
        0
      ],
      "id": "43efda87-d863-4496-b042-32f6182ad6f1",
      "name": "Status direcionamento1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "MgGckVnF4CAFHnor",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Token Valido",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Nao Localizado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "coletar identificador": {
      "main": [
        [
          {
            "node": "API Identidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados usuario": {
      "main": [
        [
          {
            "node": "Setar Matricula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "coletar identificador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Verificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Tratar número",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Setar Status Inicial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados da conversa": {
      "main": [
        [
          {
            "node": "Consultar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "coletar dados usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar número": {
      "main": [
        [
          {
            "node": "coletar dados da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Status": {
      "main": [
        [
          {
            "node": "Mensagem atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status Inicial": {
      "main": [
        [
          {
            "node": "Sql Agtesla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status direcionamento": {
      "main": [
        [
          {
            "node": "Gerenciar direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerenciar direcionamento": {
      "main": [
        [
          {
            "node": "Tratar somente Numeros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem IcoPass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Nao Localizado",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Acesso IcoPass",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Token Valido",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem atual": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendimento": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Usuario": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Setar Status Nao Localizado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "coletar dados usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colaborador Não Encontrado": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Verificacao": {
      "main": [
        [
          {
            "node": "Validar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Nao Encontrado": {
      "main": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Atendimento": {
      "main": [
        [
          {
            "node": "Coletar Nome Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status Atendimento": {
      "main": [
        [
          {
            "node": "Setar Nome1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status Nao Localizado": {
      "main": [
        []
      ]
    },
    "Setar Status Atendimento1": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Nome": {
      "main": [
        [
          {
            "node": "Setar Status Atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento": {
      "ai_languageModel": [
        [
          {
            "node": "Token Valido",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "AI Nao Localizado",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "Acesso IcoPass",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Sql Agtesla": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Nome Usuario": {
      "main": [
        [
          {
            "node": "Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Nome1": {
      "main": [
        [
          {
            "node": "Setar Matricula1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados usuario1": {
      "main": [
        [
          {
            "node": "Setar Status Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Nao Localizado": {
      "ai_tool": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tratar somente Numeros": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Banco Vetorial",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Banco Vetorial",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "API Identidade": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If IcoPass": {
      "main": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Matricula Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar somente Numeros1": {
      "main": [
        [
          {
            "node": "If IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar token": {
      "main": [
        [
          {
            "node": "API IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Matricula": {
      "main": [
        [
          {
            "node": "Setar Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Icopass": {
      "ai_tool": [
        [
          {
            "node": "Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status Nao Localizado1": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API IcoPass": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Setar Status Nao Localizado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Token Valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Matricula1": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valido": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Matricula Usuario": {
      "main": [
        [
          {
            "node": "coletar token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        []
      ]
    },
    "Banco Vetorial": {
      "ai_tool": [
        [
          {
            "node": "Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Buffer Mensagem": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Coletar Buffer Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Set Buffer Mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Buffer Mensagem": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Buffer Mensagens": {
      "main": [
        [
          {
            "node": "Delete Buffer Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer Mensagem": {
      "main": [
        []
      ]
    },
    "Coletar Msg ID": {
      "main": [
        [
          {
            "node": "Set Buffer Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem IcoPass": {
      "main": [
        [
          {
            "node": "Tratar somente Numeros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acesso IcoPass": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento1": {
      "ai_languageModel": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento2": {
      "ai_languageModel": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think3": {
      "ai_tool": [
        [
          {
            "node": "Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "Atendimento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento3": {
      "ai_languageModel": [
        [
          {
            "node": "Atendimento",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Atendimento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Status direcionamento1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "88e26358-bfb2-4e55-86ce-d7f5135d2d86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e71ee30208579422913ee1673c6e68fb79d1e7e17d5c1deb0a672e043b70fb7c"
  },
  "id": "gRXMVN5SpUyVV6lb",
  "tags": [
    {
      "updatedAt": "2025-11-18T17:53:57.701Z",
      "createdAt": "2025-11-18T17:53:57.701Z",
      "id": "1B8R571k8L7Grfph",
      "name": "agentic-ai"
    },
    {
      "updatedAt": "2025-11-18T17:53:57.671Z",
      "createdAt": "2025-11-18T17:53:57.671Z",
      "id": "paH52iQOgZunA4KU",
      "name": "test"
    }
  ]
}