Bkp/gepaci-base-conhecimentos.json
{
  "name": "gepaci-base-conhecimentos",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "fileUpdated",
        "simple": false,
        "watch": "selectedFolder",
        "folderId": {
          "__rl": true,
          "value": "01ZCRJ5TZH76JWK63PVNDZNCDWEY6OW2WX",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ec096b00-24c0-45d3-a0ce-83350705d52f",
      "name": "Microsoft OneDrive Trigger",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ],
      "id": "d7da4ddf-1471-4234-99ed-e00c174d7503",
      "name": "Extract from File",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set Doc Id1').item.json.fileId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        1440
      ],
      "id": "6b335630-d4b0-47ef-a5eb-d2a4191d9508",
      "name": "Download file",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1072,
        1440
      ],
      "id": "09fa82ac-ceda-4d50-acaa-d0ddb9e60bed",
      "name": "Extract from File1",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        784,
        640
      ],
      "id": "9b1c56eb-762d-49b1-ba64-fcee762f98e9",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        864
      ],
      "id": "638ad876-fdd4-45c5-adee-a910d8342d4f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set Doc Id').item.json.fileId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        928,
        880
      ],
      "id": "97da6030-2ffc-4910-a041-8d8f18f2bf20",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        848,
        1056
      ],
      "id": "8fb30d89-6073-4049-8fe5-bb4ef40accdf",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.fileId }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        400
      ],
      "id": "41e14204-ade5-4af2-b516-dfd60a942aba",
      "name": "Delete a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.fileId }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        1440
      ],
      "id": "8405bad5-0a23-4942-9bf4-aafeb98461da",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OnMbWW4GxrNPQiDBFzGxndu2yfUPk71f",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OnMbWW4GxrNPQiDBFzGxndu2yfUPk71f"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "application/vnd.google-apps.document"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        64,
        1632
      ],
      "id": "8638bf9c-2169-4bf6-a7ba-84d4dc14d712",
      "name": "Google File Created",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OnMbWW4GxrNPQiDBFzGxndu2yfUPk71f",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OnMbWW4GxrNPQiDBFzGxndu2yfUPk71f"
        },
        "event": "fileUpdated",
        "options": {
          "fileType": "application/vnd.google-apps.document"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        64,
        1440
      ],
      "id": "f77b1c28-ed21-446a-821a-5403c11f6dcd",
      "name": "Google File Updated",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "785cc90a-489c-4494-a4a9-08fa05170d50",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        224
      ],
      "id": "10cc17b9-5afe-445a-ae2e-19563d7a6201",
      "name": "Set Doc Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "785cc90a-489c-4494-a4a9-08fa05170d50",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        1440
      ],
      "id": "2816b9c8-cc57-4701-8d77-ed7a183723de",
      "name": "Set Doc Id1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Set Doc Id').item.json.fileId }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        992,
        400
      ],
      "id": "482f4526-5f54-48af-ad5e-8f81a461ac87",
      "name": "Download a file",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        1440
      ],
      "id": "21eb83ea-de74-45d8-a726-3371b637fa69",
      "name": "Wait",
      "webhookId": "b9138ac4-e5d5-417f-9166-6a0661ca7225",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer RV0rRmz7cbQb1NAjyYKwVB4ZbiGZbzcl"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"data:application/pdf;base64,{{ $json.data }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        400
      ],
      "id": "bfe9221e-3596-414e-b8fb-bbce5414abd9",
      "name": "Mistral API"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "watchFolder": true,
        "folderId": {
          "__rl": true,
          "value": "01ZCRJ5TZH76JWK63PVNDZNCDWEY6OW2WX",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "id": "b579d8e7-e2ff-4e10-9c53-895bf4ea2620",
      "name": "Microsoft OneDrive Trigger1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78846d49-27d5-4713-b534-ad2bcf4c36e1",
              "name": "=data",
              "value": "={{ JSON.parse($json.data).pages[0].markdown}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        400
      ],
      "id": "52b6a43d-b0d8-4923-822e-257a1aa36320",
      "name": "Texto Markdown"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        224
      ],
      "id": "2e359201-f6d5-480b-94da-27011177a62c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1488,
        1088
      ],
      "id": "9018e6f9-2760-4676-a16d-a1ce0a482809"
    },
    {
      "parameters": {
        "content": "Processo de RAG para coletar e armazenar \na documentação disponível para Base de Conhecimentos do \nagente de IA do Gepaci. \n\n",
        "height": 1568,
        "width": 2032
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -224
      ],
      "typeVersion": 1,
      "id": "770618f1-4eb3-4f35-b5ef-dd758115fddf",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft OneDrive Trigger": {
      "main": [
        [
          {
            "node": "Set Doc Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google File Updated": {
      "main": [
        [
          {
            "node": "Set Doc Id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google File Created": {
      "main": [
        [
          {
            "node": "Set Doc Id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Doc Id": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Doc Id1": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Mistral API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral API": {
      "main": [
        [
          {
            "node": "Texto Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive Trigger1": {
      "main": [
        [
          {
            "node": "Set Doc Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto Markdown": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 2
  },
  "versionId": "54771076-1992-42af-89f0-5f1206c1f738",
  "meta": {
    "instanceId": "c13cee92dfa69db8294a82c6dfa57e3a1199207e843eec919de3f2ec003607aa"
  },
  "id": "SgVhQeUGpiqRMzIY",
  "tags": [
    {
      "updatedAt": "2025-12-01T14:08:19.534Z",
      "createdAt": "2025-12-01T14:08:19.534Z",
      "id": "HPdtTfqtZC75YVFO",
      "name": "microsoft"
    },
    {
      "updatedAt": "2025-12-01T14:08:19.560Z",
      "createdAt": "2025-12-01T14:08:19.560Z",
      "id": "sU8uoJcSr7Z2b41P",
      "name": "google"
    }
  ]
}