Bkp/gepaci-agent.json
{
  "name": "gepaci-agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2896,
        3120
      ],
      "id": "971803e4-f121-4406-9b2e-f5369f551814",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2976,
        3248
      ],
      "id": "52c9de9d-0bdb-462a-9326-5f7d17a4c5b8",
      "name": "Google Gemini Chat Atendimento",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Coletar Mensagem Verificacao').first().json.mensagemAtual || '' }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ================================================================\n# 🧠 AGENTE “Gê” — PROMPT INSTRUÇÕES PARA COLETA DE IDENTIFICAÇAO\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\n\nVocê é **Gê**, agente virtual do **Gepaci** (Icomon), responsável por solicitar, coletar e validar se a informação passada pelo usuário é uma matricula/RE (contendo 6 dígitos) ou um CPF (contendo no máximo 11 dígitos).\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n- exclusivamente responsável por coletar matricula ou CPF do colaborador ou ex colaborador\n\nVocê **nunca inventa informações**, **não cria caminhos**, **não adiciona dados**.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\n1. Sempre inicie a conversa se apresentando cordialmente com uma saudação de acordo com o *horário atual: {{ $now }}*. Apresente-se de forma simpática como Gê, agente virtual do Gepaci.\n2. Pergunte qual é a **Matricula/RE** (contendo 6 dígitos) caso seja um funcionário Icomon ou o **CPF** em caso de Ex-Funcionário.\n3. Valide se a informação passada possui o número de dígitos informado. Caso positivo, passe para o proximo nó.\n4. Se a informação passada não atender aos requisitos, solicite os dados novamente.\n5. O colaborador pode iniciar solicitando informações que estão em outros passos do agente que você ainda não teve acesso. Portando, se o colaborador solicitar informações sobre assuntos que não sejam da sua função, informe que caso a informação solicitada sejá relevante aos assuntos do *Gepaci*, ela será tratada após a confirmação dos dados solicitados.\n\n---\n\n## 🟦 DURANTE A CONVERSA\n1. Colete as informações do usuário.  \n2. Identifique a informação passada.  \n3. Caso precise, faça **uma única solicitação por vez** para obter detalhes adicionais.  \n   - Exemplos:  \n     - Sou funcionário: “Ok. Por favor me informe seu RE/Matricula”  \n4. Não repita informações; apenas complemente.  \n\n## 🟦 ENCERRAMENTO\n- Quando o atendimento estiver completo, encerre cordialmente.  \n- **Nunca finalize perguntando se o usuário deseja algo mais.**  \n\n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê **NÃO PODE**:\n\n- Usar dados pessoais como senhas, logins, números internos.\n- Inventar respostas, caminhos, benefícios ou processos.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\n\nSe o assunto estiver fora do escopo de atendimento:\n- Diga:  \n  **“Posso ajudar apenas com informações referentes ao Gepaci.”**\n- Se insistir, explique a limitação e encerre gentilmente.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.  \n- Frases curtas de **no máximo 3 linhas**.  \n- Linguagem natural, simples e humana.  \n- Uma pergunta por vez.  \n- Evite blocos longos e respostas extensas.  \n- Nunca use tom técnico ou robótico.  \n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 5️⃣ CONSTRAINTS – Limitações Rígidas (Prioridade Máxima)\n# ================================================================\n1. **A Gê só pode responder usando informações existentes no prompt.**  \n2. **É proibido estender informação além do que está no prompt**  \n3. **É proibido criar exemplos, serviços ou processos inexistentes.**  \n4. **É proibido citar nomes de pessoas (cases de sucesso sempre anônimos).**  \n5. **Mensagens devem ser sempre de até 3 linhas.**  \n6. **NUNCA:**  \n   - “Posso ajudar em algo mais?”  \n   - “Tem mais alguma dúvida?”  \n   - “Deseja saber mais alguma coisa?”  \n7. Não repita informações que já foram apresentadas.  \n8. Espere sempre a resposta do usuário antes de avançar.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Think1\nPara melhorar o processo de raciocínio e lógicas necessárias\n\n## 🔧 Calculator\nAuxiliar nos calculos se necessário.\n\n---\n\n# ================================================================\n# 7️⃣ FINAL GUIDELINES (Memória para o LLM)\n# ================================================================\n- Curto, natural, humano.\n- Uma pergunta por vez.\n- Nunca ofereça ajuda extra.  \n- Base exclusiva: Este script.\n- Não inventar.\n- Não repetir.\n- Não enviar conteúdos inteiros."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3168,
        -544
      ],
      "id": "3d37b58e-fa4f-4b51-b3fd-bd2705a3a39d",
      "name": "Validar Usuario",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Coletar Mensagem Atendimento').first().json.mensagemAtual || '' }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ================================================================\n# 🧠 AGENTE “Gê” — PROMPT OFICIAL ATENDIMENTO\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\nVocê é *Gê*, agente virtual do *Gepaci* (Icomon), responsável por orientar colaboradores \nsobre rotinas, políticas e processos de *gestão de pessoas*.\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n- baseada exclusivamente no conteúdo da *Tool Banco Verorial*\n\nVocê *nunca inventa informações*, *não cria caminhos*, *não adiciona dados* \nnem responde temas fora da base.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\nA primeira mensagem enviada pela Gê DEVE SEMPRE seguir estas regras usando essa hora e data para ajudar na reformulação das saudações: *{{ $now.format('dd/MM/yyyy') }}*:\n\n### 1. Saudação obrigatória com o nome do usuário\nA Gê *sempre* inicia a conversa chamando o usuário pelo primeiro nome:\n*{{ $('Coletar Nome Usuario').first().json.nomeUsuario }}*\n\n### 2. A Gê deve escolher APENAS UMA das saudações abaixo (nunca inventar outras)\nSaudações permitidas:\n\n1. *\"Oi {{ $('Coletar Nome Usuario').first().json.nomeUsuario }}, tudo bem? Eu sou a Gê. Como posso te ajudar hoje?\"*\n2. *\"Olá {{ $('Coletar Nome Usuario').first().json.nomeUsuario }}, muito prazer! Sou a Gê e estou aqui para te ajudar.\"*\n3. *\"Oi {{ $('Coletar Nome Usuario').first().json.nomeUsuario }}! Prazer te atender. Em que posso ajudar hoje?\"*\n4. *\"Olá {{ $('Coletar Nome Usuario').first().json.nomeUsuario }}, eu sou a Gê, sua agente virtual. Como posso te apoiar?\"*\n5. *\"Oi {{ $('Coletar Nome Usuario').first().json.nomeUsuario }}, seja bem-vindo. Sou a Gê. Como posso ajudar?\"*\n6. *\"Olá {{ $('Coletar Nome Usuario').first().json.nomeUsuario }}! É um prazer falar com você. O que posso fazer por você hoje?\"*\n7. *\"Oi {{ $('Coletar Nome Usuario').first().json.nomeUsuario }}, aqui é a Gê. Como posso ajudar?\"*\n8. *\"Olá {{ $('Coletar Nome Usuario').first().json.nomeUsuario }}, conte comigo. Em que posso te ajudar hoje?\"*\n\n> IMPORTANTE:  \n> - *Escolher apenas UMA frase da lista.*  \n> - *Nunca usar saudações fora da lista.*  \n> - *Nunca iniciar sem o nome.*  \n> - *Nunca usar apenas \"Olá. Como posso ajudar hoje?\".*  \n> - *Não solicitar nenhum dado.*\n\n### 3. Uso do nome\n- O nome é utilizado *somente na primeira mensagem*, salvo necessidade real de empatia.\n\n### 4. Regra de prioridade máxima\nEstas regras de saudação têm *prioridade absoluta* sobre qualquer outra instrução do prompt.\n\n### 5. Colaborador inicia com pergunta\nSe o colaborar iniciar a conversa com uma pergunta, faça primeiro a saudação e envie a resposta na sequência.\n\n---\n\n## 🟦 DURANTE A CONVERSA\n1. Receba a dúvida do usuário.  \n2. Identifique o assunto.  \n3. Consulte a *Tool Banco Verorial*.  \n4. Extraia informações relevantes *somente* daquele tema.  \n5. Leia todo a documentação referente ao tema para não passar informações erradas ou incompletas.\n6. Caso precise, faça *uma única pergunta por vez* para obter detalhes adicionais.  \n   - Exemplos:  \n     - Ingressos: “Quais ingressos deseja cancelar?”  \n     - Convênios: “Pode me informar qual dos convênios deseja consultar?”  \n6. Nunca envie documentos completos; apenas os trechos necessários.  \n7. Resuma ao máximo as mensagens enviadas para não deixar o texto longo e difícil para leitura.\n8. Não repita informações, apenas complemente.\n9. Se o colaborador solicitar informações de bloqueio do benefício Farmácia, solicitar falar com um atendenete ou abrir um chamado, siga os passos informados nas orientações de Tools.\n\n---\n\n## 🟦 ENCERRAMENTO\n- Quando o atendimento estiver completo, encerre cordialmente.  \n- *Nunca finalize perguntando se o usuário deseja algo mais.*  \n\n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê *NÃO PODE*:\n\n- Pular a saudação inicial.\n- Solicitar dados de validação ao usuário.\n- Usar dados pessoais como senhas, logins, números internos.\n- Enviar documentos inteiros.\n- Repetir o nome do usuário excessivamente.\n- Utilizar o *App IcomonComVc* como um \"coringa\" para dar respostas genericas que não estão na base. \n- Inventar respostas, caminhos, benefícios ou processos.\n- Tratar assuntos fora do escopo do Gepaci.\n- Utilizar conhecimento externo não presente na Tool Banco Verorial.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\nSe o assunto *não estiver na base*:\n- Diga:  \n  *“Não tenho informações sobre esse assunto. Posso ajudar com alguma outra informação referente ao Gepaci?”*\n- Se insistir, explique a limitação e encerre gentilmente.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.  \n- Frases curtas de *no máximo 3 linhas*.  \n- Linguagem natural, simples e humana.  \n- Uma pergunta por vez.  \n- Evite blocos longos e respostas extensas.  \n- Nunca use tom técnico ou robótico.  \n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 5️⃣ CONSTRAINTS – Limitações Rígidas (Prioridade Máxima)\n# ================================================================\n1. *A Gê só pode responder usando informações existentes na Tool Banco Verorial.*  \n2. *É proibido estender informação além do que está na base.*  \n3. *É proibido criar exemplos, serviços ou processos inexistentes.*  \n4. *É proibido citar nomes de pessoas (cases de sucesso sempre anônimos).*  \n5. *Mensagens devem ser sempre de até 3 linhas.*  \n6. *NUNCA:*  \n   - “Posso ajudar em algo mais?”  \n   - “Tem mais alguma dúvida?”  \n   - “Deseja saber mais alguma coisa?”  \n7. O nome do usuário aparece *apenas na apresentação* (ou quando realmente necessário).  \n8. Não repita informações que já foram apresentadas.  \n9. Espere sempre a resposta do usuário antes de avançar.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Tool Banco Verorial\nA única fonte de informação autorizada.\n\nUse sempre que o usuário fizer qualquer pergunta sobre:\n- Adiantamento\n- Admissão\n- Alelo Farmácia\n- Alterar Conta\n- Auxílio Creche\n- Auxílio PNE\n- Benefícios (VT, VR/VA, Alelo Farmácia, Parcerias, Auxílio PNE, etc.)\n- Candidatos\n- Cargos/Salários\n- Clube Plêiades\n- Convênios (Hapvida, Unimed, Odontológico, Plugin)\n- Crachá\n- Documentos\n- Férias\n- Folha (adiantamento, pensão alimentícia, CTPS)\n- Frequência (Faltas, Atestados, Clock-In, Espelho de ponto)\n- Jovem Aprendiz\n- Parceroas Educacionais\n- Passaportes (Ingressos, Lazer)\n- Pensão Alimentícia (Oficio, Pagamentos) \n- PPR Dirigida\n- Operação (Premiação, PPR-Dirigida, Sindicato)\n- Rescisão\n- Seguro de Vida / Assistencia Funeral\n- Sindicato\n\n## 🔧 Tool Gerenciamento de Tools\nEssa IA ficara responsável por gerenciar as chamdas do MCP para os casos de *Abertura de Ticket*, *Colsulta de Ticket*, *Consulta de bloqueio do benefício Alelo*.\n\n- *Abertura de Ticket*: Caso o colaborador precise tratar algum assum que não consta na base de conhecimentos ou solicite falar com um atendente humano. Será acionada a Tool 'GLPI Template Geral' dentro do MCP para realizar a abertura do ticker e retornar o número gerado.\n\n- *Consulta de Ticket*: Caso o colaborador queira consultar um chamado, colete o número para realizar a pesquisa na API. O MCP deverá acionar a Tool 'GLPI Search Ticket'.\n\n- *Consulta de bloqueio do benefício Alelo*: Se o colaborador questionar sobre o bloqueio do cartão Alelo Farmacia. O MCP acionará a Tool 'SQL Verificar Alelo Farmacia' para consultar de o benefício está cancelado.\n  Em caso positivo de bloqueio, informe que o mesmo ocorreu por ter ultrapassado o limite de utilização de R$500,00 e que será desbloqueado quando esse débito diminuir.\n\n### Regras da Tool:\n- Nunca expandir, interpretar além do texto ou inferir.  \n- Apenas extrair as partes relevantes ao pedido. \n- Aguarde as respostas para seguir com o atendimento.\n- Se o tema não existir → seguir regras de Safety.\n\n---\n\n# ================================================================\n# 7️⃣ FINAL GUIDELINES (Memória para o LLM)\n# ================================================================\n- Sempre usar Nome do usuário na primeira interação.  \n- Curto, natural, humano.  \n- Uma pergunta por vez.  \n- Nunca ofereça ajuda extra.  \n- Base exclusiva: Tool Banco Verorial.  \n- Não inventar.  \n- Não repetir.  \n- Não enviar conteúdos inteiros."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2624,
        720
      ],
      "id": "27e93879-5ed0-4c22-9d42-eb4d39dcb5a6",
      "name": "Atendimento",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "inputIdentity",
              "value": "={{ $('Tratar somente Numeros').first().json.messageOnlyNumbers }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        -576
      ],
      "id": "96327aec-3c37-489e-a3b7-b3e3030384a8",
      "name": "coletar identificador",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/db_contas",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "json.phoneNumber",
              "value": "={{ $('Merge').first().json.phoneNumber }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        1744
      ],
      "id": "93acb3b3-34ba-4689-a482-6fb3281d04b0",
      "name": "Sql Agtesla",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "dadosCliente.Nome",
              "value": "={{ $('Sql Agtesla').first().json.body.NOME_SCL }}",
              "type": "string"
            },
            {
              "id": "b4057371-72ff-4f0b-8cea-80002b90a3a2",
              "name": "dadosCliente.Re",
              "value": "={{ $('Sql Agtesla').first().json.body.RE_SCL }}",
              "type": "string"
            },
            {
              "id": "61fd6a8c-2a50-42bb-a90d-8c28a553d054",
              "name": "dadosCliente.Celular",
              "value": "={{ $('Merge').first().json.phoneNumber || '' }}",
              "type": "string"
            },
            {
              "id": "fad4fc09-df62-499a-abb3-24fffb2fc0e9",
              "name": "chatId",
              "value": "={{ $('Merge').first().json.recipientLid }}",
              "type": "string"
            },
            {
              "id": "a447eecb-708d-4846-8c1e-8dac3478635d",
              "name": "channel",
              "value": "={{ $('Merge').first().json.contactType }}",
              "type": "string"
            },
            {
              "id": "a64c2d7b-f38b-4f4d-9139-e90a12708ed1",
              "name": "dadosCliente.ReGestor",
              "value": "={{ $('Coletar Dados Gestor').first().json.body.MatriculaGestor || '' }}",
              "type": "string"
            },
            {
              "id": "02407521-05e3-489e-bbc7-513389ddcf1d",
              "name": "dadosCliente.EhGestor",
              "value": "={{ $('API Eh Gestor').first().json.body.ehGestor }}",
              "type": "string"
            },
            {
              "id": "97d8db74-5db5-4924-b230-20718dc5805b",
              "name": "dadosCliente.Status",
              "value": "={{ $('Sql Agtesla').first().json.body.STATUS_SCL }}",
              "type": "string"
            },
            {
              "id": "8b2ef658-5225-4bf1-b6e5-cb18cb1a47f3",
              "name": "dadosCliente.Unidade",
              "value": "={{ $('Sql Agtesla').first().json.body.BASE_SCL }}",
              "type": "string"
            },
            {
              "id": "009d32f8-9f8f-4b09-a054-fab08e957b90",
              "name": "dadosCliente.NomeGestor",
              "value": "={{ $('Coletar Dados Gestor').first().json.body.Gestor || ''}}",
              "type": "string"
            },
            {
              "id": "ab1330a0-b69c-4d4e-9e86-228b72f54c31",
              "name": "dadosCliente.CelularGestor",
              "value": "={{ $('Coletar Dados Gestor').first().json.body.CelularGestor || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        1984
      ],
      "id": "521c45f9-22ca-4a22-8dd6-c03196a6811f",
      "name": "coletar dados usuario",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec732077-a790-418b-a4f4-7fceeef216e2",
              "leftValue": "={{ $('Tratar somente Numeros').first().json.messageOnlyNumbers }}",
              "rightValue": "^[0-9]{6}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "60536cd9-5339-4560-a516-39d523053786",
              "leftValue": "={{ $('Tratar somente Numeros').first().json.messageOnlyNumbers }}",
              "rightValue": "^[0-9]{11}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1824,
        -560
      ],
      "id": "80301828-d2a7-49d7-9317-fe3cf5d75126",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gepaci",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6608,
        1136
      ],
      "id": "8e3a8f69-518a-4a59-9028-3d048e8526ee",
      "name": "Webhook",
      "webhookId": "efb806dd-479d-40c7-acbd-e96169cf8f80"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3312,
        3200
      ],
      "id": "d9815fc2-90f6-48cd-b807-5fae0327e8c4",
      "name": "Think"
    },
    {
      "parameters": {
        "content": "Consultar Bando db_contas",
        "height": 1216,
        "width": 1552
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1664,
        1232
      ],
      "typeVersion": 1,
      "id": "8ffa2558-ea21-4e74-940b-62defd3bc804",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "21b073af-b386-45de-bc4b-6cbf2e2aee20",
              "leftValue": "={{ $('Sql Agtesla').first().json.body.ID }}",
              "rightValue": 200,
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        1744
      ],
      "id": "18afdfe7-8363-4a3a-9aaf-77c20c6d193e",
      "name": "If3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst whatsapp = $('Webhook').first().json.body.data.sender.phone_number;\n// const whatsapp = $input.first().json.body[0].body.data.recipient.phone_number\nconst onlyPhone = whatsapp\n  .replace(/\\D/g, '')\n  .replace(/^55/, '');\nconst result = [\n  {\n    foneTratado: onlyPhone\n  }\n];\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6352,
        1136
      ],
      "id": "1cb5e9b4-6166-4d54-8acc-aca86dc660a1",
      "name": "Tratar número",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08f1353f-0d65-46cd-9613-78a2304040d9",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "inicio_conversa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "verificar_usuario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1eeb533-409f-409b-bebd-b35ca3bb6c54",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "atendimento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atendimento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "49bf8bd0-c67f-4dbd-962d-b4172e5efd98",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "ex_funcionario",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ex_funcionario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3743f36-1131-45b3-9d33-ced97cbf2c57",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "acesso_icopass",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "validar_icopass"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57b50e12-5a8c-4ef1-b842-05557744c30d",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "nao_localizado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=nao_localizado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3735b938-34a3-4117-9b89-561d09ee2e1b",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finalizar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        608,
        1712
      ],
      "id": "6eb21237-fde9-4671-984e-30724cfb49c6",
      "name": "Gerenciar direcionamento",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "Direcionamentos\n",
        "height": 1152,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        1248
      ],
      "typeVersion": 1,
      "id": "8b11589c-7884-46f9-b5b7-d9ba91ce97f6",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "341efbfa-c910-48de-8435-deda0b23ea41",
              "leftValue": "={{ $('API Identidade').first().json.body.colaborador }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1536,
        -336
      ],
      "id": "26c98214-d88b-46e3-9cf3-4753cbf9400a",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Coletar Mensagem Nao Encontrado').first().json.mensagemAtual || '' }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "# ================================================================\n# 🧠 AGENTE “Gê” — PROMPT PARA NÃO ENCONTRADO\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\nVocê é a **Gê**, atendente virtual do **Gepaci**. Sua função nessa etapa será somente informar que não poderá seguir com o atendimento.\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n- exclusivamente responsável por coletar matricula ou CPF do colaborador ou ex colaborador\n\nVocê **nunca inventa informações**, **não cria caminhos**, **não adiciona dados**.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\n1. O atendimento já foi iniciado em outro momento e não foi possível localizar o colaborador com os dados informados.\n2. Você receberá direcionamento de usuários que não foram localizados na base ou de pessoas que nunca trabalharam na empresa.\n3. Para pessoas que nunca trabalharam na empresa, informe que esse canal é exclusivo para funcionários e ex-funcionarios e encerre o atendimento de forma amigavel.\n4. Para funcionários que não foram localizados, informe que não poderá seguir com o atendimento por esse canal e oriente o mesmo a entrar em contato através do número: **0800-999-9999**.\n5. Após passar essas informações você pode se despedir e encerrar o atendimento acionando a Tool *Status Finalizada*\n\n---\n\n## 🟦 ENCERRAMENTO\n- Quando o atendimento estiver completo, encerre cordialmente.  \n- **Nunca finalize perguntando se o usuário deseja algo mais.**  \n\n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê **NÃO PODE**:\n\n- Solicitar dados de validação ao usuário.\n- Usar dados pessoais como senhas, logins, números internos.\n- Enviar documentos.\n- Repetir o nome do usuário excessivamente.\n- Utilizar o *App IcomonComVc* como um \"coringa\" para dar respostas genericas que não estão na base. \n- Inventar respostas, caminhos, benefícios ou processos.\n- Tratar assuntos fora do escopo do Gepaci.\n- Utilizar conhecimento externo não presente nesse script.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.  \n- Frases curtas de **no máximo 3 linhas**.  \n- Linguagem natural, simples e humana.  \n- Uma pergunta por vez.  \n- Evite blocos longos e respostas extensas.  \n- Nunca use tom técnico ou robótico.  \n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Tool Status Finalizada\nResponsável por alterar o status da conversa para \"Finalizada\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2432,
        3888
      ],
      "id": "82434df7-dc5d-4251-bc9a-2828746d563e",
      "name": "Colaborador Não Encontrado",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "dadosCliente.Nome",
              "value": "={{ $('API Identidade').first().json.body.nome }}",
              "type": "string"
            },
            {
              "id": "b4057371-72ff-4f0b-8cea-80002b90a3a2",
              "name": "dadosCliente.Re",
              "value": "={{ $('coletar identificador').first().json.inputIdentity }}",
              "type": "string"
            },
            {
              "id": "a98c88f3-f27f-436d-8cfa-c09ac041dd68",
              "name": "dadosCliente.EhGestor",
              "value": "={{ $('API Identidade').first().json.body.ehGestor }}",
              "type": "string"
            },
            {
              "id": "97d8db74-5db5-4924-b230-20718dc5805b",
              "name": "dadosCliente.Status",
              "value": "={{ $('API Identidade').first().json.body.colaborador }}",
              "type": "string"
            },
            {
              "id": "437423ec-c7e3-4417-aafa-2fbe042e5aec",
              "name": "dadosCliente.Situacao",
              "value": "={{ $('API Identidade').first().json.body.situacao }}",
              "type": "string"
            },
            {
              "id": "48e78ff2-6916-4f9b-b4b4-ef58c06d63d5",
              "name": "dadosCliente.ReGestor",
              "value": "={{ $('Coletar Dados Gestor1').first().json.body.MatriculaGestor || ''}}",
              "type": "string"
            },
            {
              "id": "568faa70-8924-4afe-a588-51192442b797",
              "name": "dadosCliente.NomeGestor",
              "value": "={{ $('Coletar Dados Gestor1').first().json.body.Gestor || '' }}",
              "type": "string"
            },
            {
              "id": "dc81495f-10ac-4921-9a0a-e81ddefe3f1e",
              "name": "dadosCliente.CelularGestor",
              "value": "={{ $('Coletar Dados Gestor1').first().json.body.CelularGestor || ''}}",
              "type": "string"
            },
            {
              "id": "36c5e1ff-16ea-4123-a576-1edde34d10b0",
              "name": "dadosCliente.Unidade",
              "value": "={{ $('Coletar Dados Gestor1').first().json.body.Base || '' }}",
              "type": "string"
            },
            {
              "id": "37fae5f4-1f89-4f39-be38-75722db517cd",
              "name": "chatId",
              "value": "={{ $('Merge').first().json.recipientLid }}",
              "type": "string"
            },
            {
              "id": "b9bb01bf-598c-4c1f-b123-32fa3ff2dc27",
              "name": "channel",
              "value": "={{ $('Merge').first().json.contactType }}",
              "type": "string"
            },
            {
              "id": "1e7b55d7-7742-4118-81b8-12ebe06020ef",
              "name": "dadosCliente.Celular",
              "value": "={{ $('Merge').first().json.phoneNumber || $('Coletar Dados Gestor1').first().json.body.CelularColaborador }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        -32
      ],
      "id": "a7f55bfc-6905-491d-b601-632b67746b55",
      "name": "coletar dados usuario1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "**INSTRUÇÕES PARA FUNCIONÁRIOS NÃO ENCONTRADOS NA BASE OU NÃO FUNCIONÁRIO**\n\nVocê é a **Gê**, atendente virtual do **Gepaci**. Sua função nessa etapa será para somente para orientar o usuário a entrar em contato com os canais de atendimento adequados.\n\n\n### 1. **Estilo de Atendimento**\n\n* Seja sempre **educada**, **objetiva**, **compreensiva** e **empática**.\n* Mantenha um tom **humanizado e acolhedor**.\n* Faça **apenas uma pergunta por vez**. Nunca sobrecarregue o cliente com múltiplas perguntas simultâneas.\n* **Nunca utilize informações externas** as orientações desse script\n\n### 2. **Início da Conversa**\n\n1. O atendimento já foi iniciado em outro momento e não foi possível localizar o colaborador com os dados informados.\n2. Você receberá direcionamento de usuários que não foram localizados na base ou de pessoas que nunca trabalharam na empresa.\n3. Para pessoas que não trabalham e nunca trabalharam na Icomon, informe que esse canal é exclusivo para funcionários e ex-funcionarios e encerre o atendimento de forma amigavel.\n4. Para funcionários que não foram localizados, informe que não poderá seguir com o atendimento por esse canal e oriente o mesmo a entrar em contato através do número: **0800-999-9999**.\n5. Após passar essas informações você pode se despedir e encerrar o atendimento acionando a Tool **Status inicio_conversa**",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3312,
        3008
      ],
      "id": "62b97e3c-9f89-405d-801c-8096cfbb8bfa",
      "name": "AI Nao Localizado"
    },
    {
      "parameters": {
        "jsCode": "\nconst mensagem = $('Set Buffer Mensagens').first().json.messageBuffer;\nconst onlyNumbers = mensagem\n  .replace(/\\D/g, '')\nconst result = [\n  {\n    messageOnlyNumbers: onlyNumbers\n  }\n];\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        -560
      ],
      "id": "d414faf4-73a1-4bd6-a4e1-092ab44716ba",
      "name": "Tratar somente Numeros",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2944,
        1616
      ],
      "id": "466ca055-4d86-45e0-809f-edbf28e83745",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3344,
        1520
      ],
      "id": "79fd1853-7707-46c3-9358-a0953ab73d25",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3008,
        1456
      ],
      "id": "9a36e11d-50fb-4e90-90be-31302eced309",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/identidade",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatInput",
              "value": "={{ $json.inputIdentity }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2448,
        -576
      ],
      "id": "b87dcc44-f39a-4e91-b3d9-6c4b8f558e73",
      "name": "API Identidade",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 100,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/icopass",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tokenUser",
              "value": "={{ $('Coletar Token').first().json.inputToken }}"
            },
            {
              "name": "matricula",
              "value": "={{ $('Coletar Token').first().json.matriculaUsuario }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        3120
      ],
      "id": "663f85c8-8dd2-4dd4-878f-f21561b16cac",
      "name": "API IcoPass",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 100,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec732077-a790-418b-a4f4-7fceeef216e2",
              "leftValue": "={{ $('Tratar somente Numeros1').first().json.messageOnlyNumbers }}",
              "rightValue": "^[0-9]{6}$",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        2880
      ],
      "id": "9c6cac50-83d1-4d96-8a43-060a0c322bd0",
      "name": "If IcoPass"
    },
    {
      "parameters": {
        "jsCode": "\nconst mensagem = $('Coletar IcoPass Token').first().json.mensagemAtual;\nconst onlyNumbers = mensagem\n  .replace(/\\D/g, '')\nconst result = [\n  {\n    messageOnlyNumbers: onlyNumbers\n  }\n];\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        2880
      ],
      "id": "69f8f7e8-bdee-47dd-826d-19221dde5e22",
      "name": "Tratar somente Numeros1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "341efbfa-c910-48de-8435-deda0b23ea41",
              "leftValue": "={{ $('API IcoPass').first().json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "f7d8eef2-7d56-45cb-95f8-2e6635bdfca1",
              "leftValue": "={{ $('API IcoPass').first().json.body.chatInput }}",
              "rightValue": "Token valido",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        3456
      ],
      "id": "cc8e1083-25cb-4e9b-af1a-d0108d74cd6e",
      "name": "If4"
    },
    {
      "parameters": {
        "description": "Contem informações para orientações ao usuário sobre serviços e benefícios ofertados pela empresa.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        3152,
        1280
      ],
      "id": "a8ee12b3-4c0e-4d3c-a567-dfaa11fec4b6",
      "name": "Banco Vetorial"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2208,
        1504
      ],
      "id": "0a0dc75e-97f2-434e-b030-6dfabd5b2485",
      "name": "Wait",
      "webhookId": "2242736b-8a11-4bc5-bb3e-1abdaa9be21e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37f9a613-db78-4c71-99ac-b09f483e90fd",
              "leftValue": "={{ $('Coletar Buffer Mensagem').first().json.validarMensagem.last() }}",
              "rightValue": "={{ $('Coletar Msg ID').first().json.inputMessage }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2688,
        1872
      ],
      "id": "f74a668a-eaff-4a14-bcd2-97fc2b59fe87",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2416,
        2064
      ],
      "id": "0a2b3322-fdb5-4058-8bca-921e93d20082",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd8e3dd6-3fd4-4169-83c1-5a9941b50ede",
              "name": "messageBuffer",
              "value": "={{ $('Coletar Buffer Mensagem').first().json.validarMensagem.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        1856
      ],
      "id": "a8475cd6-3bf8-44f6-9dde-094fd9ccecf8",
      "name": "Set Buffer Mensagens"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a6b8d5-f2f4-4ddb-bba4-16047924a289",
              "name": "inputMessage",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "23c6d005-52e1-4e41-922f-7bb53e0c901d",
              "name": "sessionId",
              "value": "={{ $('Merge').first().json.session }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2672,
        1504
      ],
      "id": "2637df29-75f6-4486-9f31-be515d8c14ff",
      "name": "Coletar Msg ID"
    },
    {
      "parameters": {
        "content": "Buffer Mensagens",
        "height": 1136,
        "width": 1024,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2816,
        1296
      ],
      "typeVersion": 1,
      "id": "9c9ff505-f453-491e-939c-a687c5fe7896",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Coletar Mensagem IcoPass').first().json.mensagemAtual || '' }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ================================================================\n# 🧠 AGENTE “Gê” — INSTRUÇÕES PARA COLETA TOKEN ICOPASS\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\nVocê é *Gê*, agente virtual do *Gepaci* (Icomon), responsável por solicitar e validar o token de acessos do IcoPass e talvez orientar o usuário a como soletar essa informação no APP IcoPass.\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n\nVocê *nunca inventa informações*, *não cria caminhos*, *não adiciona dados* nem responde temas fora da script.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\nA primeira mensagem enviada pela Gê DEVE seguir estas regras:\n\n### 1. Solicitando o Token IcoPass\n\n1. O atendimento já foi iniciado por outro agente e você pode iniciar a abordagem agradecendo pelos dados e solicitando o token de acesso IcoPass. Exemplo: \"Sua matricula foi validada. Obrigada. Porém, como o usuário não foi identificado pelo número de celular corporativo, será necessaria a validação do token IcoPass para poder seguir com o atendimento.\" Use somente essa mensagem inicialmente.\n2. Se o colaborador solicitar informarmações de onde coletar esse dado, informe ao usuário que para seguir com a solicitação desejada o mesmo deve validar sua identidade informando o *ICOMON Token* gerado no app IcoPass.\n3. O acesso no app deve ser feito utilizando o *usuário* e a *senha* de rede que o mesmo utiliza para acesso ao computador.\n4. Valide se a informação passada possui o 6 dígitos. Caso positivo, passe para o proximo nó.\n5. Se a informação passada não atender aos requisitos, solicite os dados novamente.\n6. Consulte o o histórico da conversa no Redis Memory. Se não for a primeira tentativa, informe que não conseguiu validar o token informado e volte para o passo 3. Você deve realizar no máximo duas tentativas.\n\n### 2. Regra de prioridade máxima\nEstas regras de conversa têm *prioridade absoluta* sobre qualquer outra instrução do prompt.\n\n---\n\n## 🟦 DURANTE A CONVERSA\n1. Receba o token passado pelo usuário.\n2. Se a informação não for um token, realize a solicitação.  \n3. Caso precise, faça *uma única pergunta por vez* para obter o token valido.  \n4. Resuma ao máximo as mensagens enviadas para não deixar o texto longo e difícil para leitura.\n5. Não repita informações; apenas complemente. \n\n---\n\n## 🟦 ENCERRAMENTO\n- Verifique o histórico da conversa no Redis Memory. Se o colaborados não conseguir validar o token após duas tentativas, finalize a conversa chamando o Agent Tool *AI Nao Localizado*\n- *Nunca finalize perguntando se o usuário deseja algo mais.*  \n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê *NÃO PODE*:\n\n- Tratar assuntos fora do escopo do Gepaci.\n- Utilizar conhecimento externo não presente nesse script.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\nSe o assunto *não for relacionado ao token*:\n- Diga:  \n  *“Preciso validar o token IcoPass para seguir com o atendimento.”*\n- Se insistir, explique a limitação e encerre gentilmente.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.\n- Frases curtas de *no máximo 3 linhas*.\n- Linguagem natural, simples e humana.\n- Uma pergunta por vez.\n- Evite blocos longos e respostas extensas.\n- Nunca use tom técnico ou robótico.\n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Tool AI Nao Localizado\nDeve ser chamada após 3 tentativas de validação do token sem sucesso.\n\n### Regras da Tool:\n- Será chamada para finalizar o atendimento e atualizar o stus de atendimento no banco.\n\n---\n\n# ================================================================\n# 7️⃣ FINAL GUIDELINES (Memória para o LLM)\n# ================================================================\n- Sempre iniciar com as regras de INÍCIO DA CONVERSA .  \n- Curto, natural, humano.  \n- Uma pergunta por vez.  \n- Nunca ofereça ajuda extra.  \n- Base exclusiva: Este script.  \n- Não inventar.  \n- Não repetir.  \n- Não enviar conteúdos inteiros."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3008,
        2864
      ],
      "id": "1f05edf0-a605-4eaa-a63e-455d3c321d26",
      "name": "Acesso IcoPass",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3008,
        -336
      ],
      "id": "fe9aba7d-fc73-4ef8-ba71-c932decc727e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3168,
        -272
      ],
      "id": "e8694f71-9e55-45ae-a499-92474b39a2c8",
      "name": "Google Gemini Chat Atendimento1",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3392,
        -272
      ],
      "id": "496fc450-b937-47dc-aa4f-56bf84c22c7a",
      "name": "Think1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2304,
        4176
      ],
      "id": "9917dda5-0159-467b-8c19-5717d2cdf447",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2432,
        4112
      ],
      "id": "5db0ddfb-47a3-4707-ba00-ac3c000864f4",
      "name": "Google Gemini Chat Atendimento2",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2672,
        4144
      ],
      "id": "5fd9b6d5-afcc-46b7-aae3-df37879d1d99",
      "name": "Think2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2208,
        1024
      ],
      "id": "a4e93720-a622-4270-98cf-9affed738fc5",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2416,
        992
      ],
      "id": "ad2fed01-88ba-48fb-b0cc-c99f22111408",
      "name": "Google Gemini Chat Atendimento3",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2832,
        1008
      ],
      "id": "c8e5075c-ba63-4dfc-accf-3c319188d0ef",
      "name": "Think3"
    },
    {
      "parameters": {
        "content": "Verificar Usuário",
        "height": 1200,
        "width": 2320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        -688
      ],
      "typeVersion": 1,
      "id": "d0d43277-10b8-4077-8c66-08acbcc4d707",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Colaborador Não Encontrado",
        "height": 608,
        "width": 2384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        3776
      ],
      "typeVersion": 1,
      "id": "9d62e119-4d1f-47a7-b879-dd8dabd49e7f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Atendimento",
        "height": 1296,
        "width": 2336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        576
      ],
      "typeVersion": 1,
      "id": "44eea021-c3c0-4a2c-84f4-aea5aa86f780",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Atendimento icoPass",
        "height": 912,
        "width": 2384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        2768
      ],
      "typeVersion": 1,
      "id": "75e1d581-7dff-4682-b989-11fcf2c9efdb",
      "name": "Sticky Note9"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3488,
        -336
      ],
      "id": "d62e9bf6-ce10-491a-8f79-15338129f36f",
      "name": "Calculator"
    },
    {
      "parameters": {
        "text": "={{ $('Webhook').item.json.body.message }}",
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.7
            }
          },
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          },
          "urls": {
            "value": {
              "allowedUrls": "",
              "allowedSchemes": [
                "https",
                "http",
                "ftp",
                "javascript",
                "vbscript"
              ]
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        -6528,
        2144
      ],
      "id": "2bf80890-d462-4210-ba70-15ade416f302",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -6640,
        2304
      ],
      "id": "f426fa65-a811-4821-b4fe-536bf3917710",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -6144,
        2288
      ],
      "id": "321b6a39-bc1e-43d4-9c52-6b20438bfa8e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "sanitize",
        "text": "={{ $json.output }}",
        "guardrails": {
          "pii": {
            "value": {
              "type": "all"
            }
          },
          "urls": {
            "value": {
              "allowedUrls": "https://icomon.com.vc",
              "allowedSchemes": [
                "https",
                "http",
                "ftp",
                "data",
                "javascript"
              ]
            }
          },
          "customRegex": {
            "regex": [
              {
                "name": "removeArray",
                "value": "\\[\\s*\\{[\\s\\S]*?\\}\\s*\\]"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        4576,
        1824
      ],
      "id": "03cb2113-1589-43a2-9176-1fc1ea6d6399",
      "name": "Guardrails1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.typeMessage }}",
                    "rightValue": "=text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5f9e8239-13b5-4bea-a7e9-590a89d09ed6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88cdf69d-9eb0-4dfa-be0c-cc953a1c11cf",
                    "leftValue": "={{ $json.typeMessage }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "989bf43b-6edd-42d1-9c0f-4ec5628a9609",
                    "leftValue": "={{ $json.typeMessage }}",
                    "rightValue": "=image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "tipo invalido"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4896,
        1488
      ],
      "id": "33b5b50f-32fd-41c1-bbc3-5ede0883442a",
      "name": "Switch",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a4b60f9-a8ce-4c7b-aeb0-7bbfb330435d",
              "name": "message",
              "value": "={{ $('Merge').first().json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3968,
        1024
      ],
      "id": "ca7b83a9-8d7d-4004-9908-ef34d30867d5",
      "name": "Mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98b629e5-0279-4781-90db-645894bea1ed",
              "name": "audioUrl",
              "value": "={{ $('Merge').item.json.message_audio }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4496,
        1504
      ],
      "id": "2e21f48b-86fb-4935-91da-92d335fcccab",
      "name": "Mensagem Audio"
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3968,
        1296
      ],
      "id": "5f8a9813-63c5-4246-bef5-e07b57117a08",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -3680,
        1520
      ],
      "id": "3c2ad423-5874-4bff-bae8-b71675fefae7",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cec2e3b-4094-477a-bdb2-bb79b92923f2",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3440,
        1520
      ],
      "id": "f8b7eca4-cb32-4f1b-8a85-172a6cfc0e59",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98b629e5-0279-4781-90db-645894bea1ed",
              "name": "imagem",
              "value": "={{ $('Merge').first().json.message_image }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4320,
        1968
      ],
      "id": "df8dad95-0d23-4fd3-9e5a-f75a2ef6e14d",
      "name": "Mensagem Imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cec2e3b-4094-477a-bdb2-bb79b92923f2",
              "name": "message",
              "value": "=<contextoImage>\n\n  Descrição da imagem enviada pelo cliente.\n\n  <detalheMensagem>\n    {{ $json['0'].content[0].text }}\n  </detalheMensagem>\n\n  <mensagemUsuario>\n\n    {{ $('Merge').first().json.text_imagem }}\n\n  </mensagemUsuario>\n\n</contextoImage>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3488,
        1952
      ],
      "id": "b24228c8-da84-4663-944f-c8a0e12e4c37",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5b0308d-48b5-433b-98c7-c9a1d2f41ce6",
              "leftValue": "={{ $('Consultar Status').first().json.statusAtendimento }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1328,
        1440
      ],
      "id": "94bb2893-3bef-46a2-aca2-f4500bada06c",
      "name": "If6",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Inicio / Tratamento de Mensagens",
        "height": 1632,
        "width": 3808,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6752,
        864
      ],
      "typeVersion": 1,
      "id": "06f44719-e41c-4912-a620-04599327c927",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4320,
        2256
      ],
      "id": "8840a87f-7b20-4ba1-a8dd-f2e6ab174362",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zapsterapi.com/v1/wa/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NjQ3MDg4MjEsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiI0ODI1MGQ4Yy0wNGFhLTQ5MTMtYmFmNS1jNmRkZGExOTAwYjEiLCJqdGkiOiJlZWNhZjFkMy02Zjk0LTRiY2UtOTMxYS03MmVhYWQxMmFiOWMifQ.P9ssoNa-Muev0wT4bDnabCf0oAPoRwlpVfIOVdWIglk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": \"{{ $('Merge').first().json.recipientLid }}\",\n  \"text\": \"{{ $('Loop Over Items').first().json.message.replace(/(\\r\\n|\\n|\\r)/gm, \" \") }}\",\n  \"instance_id\": \"8ulek0ah8an7vwi49w450\",\n  \"auto_delete\": false,\n  \"auto_mention\": true,\n  \"view_once\": false,\n  \"link_preview\": true,\n  \"mentions\": \"everyone\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5424,
        1904
      ],
      "id": "b40cb2ec-ea95-4bf2-95dc-dd42c79a8fdd",
      "name": "Response Message Zapster"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        6000,
        2400
      ],
      "id": "aebf4baa-8322-46df-af62-941cc7f18c44"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4608,
        2064
      ],
      "id": "b26f9895-5f90-4eb2-886e-455c37ed95a0",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Remover arrays da mensagem\nconst text = $json.output.replace(/(\\[[\\s\\S]*?\\]\\s*)|(\")/g, \"\").trim();\n\nconst delaySeconds = 2;\nconst maxLength = 180;\n\n// 1. Detecta links e substitui por placeholders\nconst urlRegex = /(https?:\\/\\/[^\\s)]+)/g;\nconst links = [];\n\nlet processedText = text.replace(urlRegex, (match) => {\n  links.push(match);\n  return `<LINK_${links.length - 1}>`;\n});\n\n// 2. Captura frases mantendo os sinais finais\n// Evita dividir números como 5.000 (não quebra se tiver dígitos antes/depois)\nconst safeSentenceRegex = /(?:[^.!?]|(?<=\\d)[.!?](?=\\d))+[.!?]/g;\nconst sentences = processedText.match(safeSentenceRegex) || [];\n\n// 3. Reagrupar respeitando o tamanho máximo\nconst result = [];\nlet buffer = '';\n\nfor (const sentence of sentences) {\n  if ((buffer + ' ' + sentence).trim().length <= maxLength) {\n    buffer = (buffer + ' ' + sentence).trim();\n  } else {\n    if (buffer) result.push(buffer.trim());\n    buffer = sentence.trim();\n  }\n}\nif (buffer) result.push(buffer.trim());\n\n// 4. Substitui os links de volta\nconst finalMessages = result.map(msg => {\n  let restored = msg;\n  links.forEach((link, i) => {\n    restored = restored.replace(`<LINK_${i}>`, link);\n  });\n  return { message: restored, delay: delaySeconds };\n});\n\nreturn finalMessages;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        2064
      ],
      "id": "ffc9bf0a-a640-4490-a0db-1be5a8392b3d",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5728,
        2128
      ],
      "id": "f236db9d-568d-4679-b331-8df016dd4689",
      "name": "Wait1",
      "webhookId": "d3569ea4-8aac-4739-8f2b-3770d057d58f"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "validarMensagem",
        "key": "={{$('Coletar Msg ID').first().json.sessionId }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2016,
        1504
      ],
      "id": "00414b74-7991-44d1-a8c0-c6f0577f31e8",
      "name": "Coletar Buffer Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{$('Coletar Msg ID').first().json.sessionId }}_buffer",
        "messageData": "={{ $('Coletar Msg ID').first().json.inputMessage}}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2432,
        1504
      ],
      "id": "5ce013e4-30ba-4f62-bb02-6286b33ab7ad",
      "name": "Set Buffer Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{$('Coletar Msg ID').first().json.sessionId }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2000,
        1856
      ],
      "id": "7b5a919e-19c2-4b23-a1cc-cdf93760336d",
      "name": "Delete Buffer Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').item.json.session }}_message",
        "value": "={{ $('Set Buffer Mensagens').first().json.messageBuffer }}",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2208,
        1856
      ],
      "id": "b3a90139-3833-4f6d-a698-ef36d2f680f6",
      "name": "Mensagem atual",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "statusAtendimento",
        "key": "={{ $('Merge').first().json.session }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1536,
        1440
      ],
      "id": "70ff0a78-0e15-4fe1-b6f6-6c92aa9354b0",
      "name": "Consultar Status",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}_message",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1536,
        336
      ],
      "id": "9c501e36-93f7-438e-913d-5197d2b22d2f",
      "name": "Limpar Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}_firstMessage",
        "value": "={{ $('Set Buffer Mensagens').first().json.messageBuffer }}",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1536,
        1744
      ],
      "id": "86850dfc-f72a-4481-b4ad-fa2d8ef5632c",
      "name": "Primeira Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('Merge').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2768,
        -544
      ],
      "id": "e8a31909-45bb-4d4e-a3f2-9c0a28bf0e8a",
      "name": "Coletar Mensagem Verificacao",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('Merge').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1600,
        720
      ],
      "id": "d9114516-8250-4b29-9f64-12b6565e0638",
      "name": "Coletar Mensagem Atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('Merge').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2576,
        2864
      ],
      "id": "40ebe27e-1220-4df3-9f1f-c54bad629f7e",
      "name": "Coletar Mensagem IcoPass",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('Merge').first().json.session }}_message",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1760,
        3888
      ],
      "id": "7015425f-0b1a-4482-b4ab-c031c3bfded2",
      "name": "Coletar Mensagem Nao Encontrado",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "inputToken",
              "value": "={{ $('Tratar somente Numeros1').first().json.messageOnlyNumbers }}",
              "type": "string"
            },
            {
              "id": "995dfa0d-2e48-4fb3-9a60-087d76e3c96e",
              "name": "matriculaUsuario",
              "value": "={{ $('Coletar Matricula Usuario').first().json.matricula }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        3120
      ],
      "id": "06be9b54-b214-4224-89b0-e6f5df86ebe1",
      "name": "Coletar Token",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "matricula",
        "key": "={{ $('Merge').first().json.session }}_matricula",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1440,
        3120
      ],
      "id": "df9091e7-0512-435d-b194-5dc60a645adb",
      "name": "Coletar Matricula Usuario",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}_nome",
        "value": "={{ $('coletar dados usuario').first().json.dadosCliente.Nome.trim().split(/\\s+/)[0] }}",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -272,
        1984
      ],
      "id": "3416f614-8bd6-4a91-a2e2-eeec15ff9e53",
      "name": "Setar Nome Colaborador",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}_matricula",
        "value": "={{ $('coletar dados usuario1').first().json.dadosCliente.Re }}",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2544,
        -32
      ],
      "id": "3c01a91b-d742-4dd8-b5a3-3b4669abe4be",
      "name": "Setar Matricula",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}_nome",
        "value": "={{ $('coletar dados usuario1').first().json.dadosCliente.Nome.trim().split(/\\s+/)[0] }}",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2352,
        -32
      ],
      "id": "0cf48a51-6372-4a0d-9a98-6cdb25581c3a",
      "name": "Setar Nome",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemInicial",
        "key": "={{ $('Merge').first().json.session }}_firstMessage",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2608,
        3472
      ],
      "id": "5e08329d-b013-4f7e-9ab6-f3f863d0c02d",
      "name": "Resgatar Mensagem Inicial",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}_message",
        "value": "={{ $('Resgatar Mensagem Inicial').first().json.mensagemInicial }}",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2832,
        3472
      ],
      "id": "42f75d03-6bc8-464e-8962-98eba05b0a4c",
      "name": "Mensagem atual1",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "nomeUsuario",
        "key": "={{ $('Merge').first().json.session }}_nome",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2096,
        720
      ],
      "id": "08590d7a-8cf5-4bbb-9a62-588a936897a2",
      "name": "Coletar Nome Usuario",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c72057c2-cf84-42f8-99df-1689ed150de3",
              "name": "contactType",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "b60e9583-6fe9-45ff-ac2f-aadaaa27c51f",
              "name": "session",
              "value": "={{ $('Webhook').first().json.body.data.sender.phone_number }}_{{ $('Webhook').item.json.body.data.sender.name.trim().split(/\\s+/)[0] }}",
              "type": "string"
            },
            {
              "id": "1f37ee26-a963-497c-b693-a14afd0bdff1",
              "name": "chatId",
              "value": "={{ $('Webhook').first().json.body.data.id }}",
              "type": "string"
            },
            {
              "id": "01a74efd-5d4e-4869-b157-8611c12facf8",
              "name": "pushName",
              "value": "={{ $('Webhook').first().json.body.data.sender.name }}",
              "type": "string"
            },
            {
              "id": "36b91569-2721-46ab-b458-6c2c00c1f659",
              "name": "typeMessage",
              "value": "={{ $('Webhook').first().json.body.data.type }}",
              "type": "string"
            },
            {
              "id": "6c3fee67-5a3e-4daf-b7e0-8a987bf24dc1",
              "name": "message",
              "value": "={{ $('Webhook').first().json.body.data.content.text }}",
              "type": "string"
            },
            {
              "id": "112014ec-de53-4924-a50e-d6139d850fcb",
              "name": "recipientLid",
              "value": "={{ $('Webhook').first().json.body.data.recipient.lid }}",
              "type": "string"
            },
            {
              "id": "c06f028b-6543-451e-ab4c-ef99e6feea7d",
              "name": "phoneNumber",
              "value": "={{ $('Tratar número').first().json.foneTratado }}",
              "type": "string"
            },
            {
              "id": "82000d21-cf1e-4dec-8320-aa5486956519",
              "name": "message_audio",
              "value": "={{ $('Webhook').first().json.body.data.content.media.url }}",
              "type": "string"
            },
            {
              "id": "7f4e7ff8-3496-4e3a-94ff-885e66647e43",
              "name": "message_image",
              "value": "={{ $('Webhook').first().json.body.data.content.media.url }}",
              "type": "string"
            },
            {
              "id": "3133cb74-461b-43e6-9ec7-04d63275abcb",
              "name": "phoneCompleto",
              "value": "={{ $('Webhook').first().json.body.data.sender.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5936,
        1136
      ],
      "id": "3f470f38-fced-437d-962f-5853ec8796f7",
      "name": "coletar dados da conversa",
      "executeOnce": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').first().json.session }}_memory",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3296,
        -320
      ],
      "id": "50f138b8-b21e-41d4-b5cb-c51671ff0ff6",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').first().json.session }}_memory",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2528,
        1008
      ],
      "id": "6c183ca3-634f-4035-9d5f-5cf34f700554",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').first().json.session }}_memory",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3120,
        3216
      ],
      "id": "a5dde1da-790a-4d65-b2b9-47929d0ca11b",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').first().json.session }}_memory",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2560,
        4192
      ],
      "id": "64d5698b-98a6-45cf-83b8-be0e76df1700",
      "name": "Redis Chat Memory3",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "Saída/Resposta Agente",
        "height": 1248,
        "width": 2112,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4096,
        1632
      ],
      "typeVersion": 1,
      "id": "94947e47-e743-434b-afb9-7430a73b6c69",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91cbde0e-dd1d-4b2e-b40f-0bc6153f82a2",
              "name": "mensagemAtual",
              "value": "=<contextoAnaliseToken>\n\n  Descrição da mensagem retornada pela API na validação do Token.\n\n  <response>\n    {{ $('API IcoPass').first().json.chatInput }}\n  </response>\n\n  <tokenUsuario>\n\n    {{ $('Coletar Token').first().json.inputToken }}\n\n  </tokenUsuario>\n\n</contextoAnaliseToken>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2576,
        3280
      ],
      "id": "c2709730-0662-4f4a-9c3f-3ff0cb40b9ea",
      "name": "Retorno API"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('Merge').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        2880
      ],
      "id": "fd365afc-2377-46d3-a4c0-657c0b259528",
      "name": "Coletar IcoPass Token",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "027e85d7-ad52-4123-9bf3-05ff4dd55c2a",
              "leftValue": "={{ $('Loop Over Items').first().json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4816,
        2144
      ],
      "id": "421857bb-2d99-47de-abcb-30a1cb5c46c6",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5440,
        2400
      ],
      "id": "9baa8ed4-c11d-45cf-838c-cc1faae84147",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3216,
        3296
      ],
      "id": "3ed1e7ed-2869-4d83-bf5c-78f24cc6ac9f",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}",
        "value": "inicio_conversa",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1360,
        1744
      ],
      "id": "33c22cba-0909-4fa2-bef2-079abe869a0d",
      "name": "Status Inicial",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "statusAtendimento",
        "key": "={{ $('Merge').first().json.session }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        240,
        1808
      ],
      "id": "9fed9b6e-b88a-4731-b3b7-e6ed8dad78ed",
      "name": "Status direcionamento",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}",
        "value": "atendimento",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -464,
        1984
      ],
      "id": "441e6df2-3948-4849-8696-9389b8116051",
      "name": "Status Atendimento",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}",
        "value": "finalizada",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2192,
        -352
      ],
      "id": "3732436d-5b09-4811-8048-939d2d0d835d",
      "name": "Nao Localizado",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}",
        "value": "inicio_conversa",
        "expire": true,
        "ttl": 500
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        3536,
        3184
      ],
      "id": "f421417e-bd0e-4bc7-acd7-875fcf993abb",
      "name": "Status inicio_conversa",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}",
        "value": "atendimento",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2368,
        3472
      ],
      "id": "994dc62a-4edd-42e5-88e6-30cdf7f707b5",
      "name": "Status Atendimento1",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Merge').first().json.session }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2784,
        3888
      ],
      "id": "92109703-ea3b-4287-b2ab-f48ba2ae20a8",
      "name": "Reset Status",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO [db_Gepaci].[dbo].[reports]\n\t( [sessionId], [mensagemAtual], [Status], [Identificador_do_Contato], [Numero_de_Atendimento], [Channel], [ChatId] )\n\tVALUES \n\t( '{{ $('Merge').first().json.session }}', '{{ $('Set Buffer Mensagens').first().json.messageBuffer }}', 'inicio_conversa' , '{{ $('Merge').first().json.phoneCompleto || '' }}', '{{ $('Merge').first().json.phoneNumber }}', '{{ $('Merge').first().json.contactType }}', '{{ $('Merge').first().json.recipientLid }}' );"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1200,
        1744
      ],
      "id": "e3084cfb-dc99-4594-8950-701af8225be9",
      "name": "Criar Registro1",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": ";with ud as ( SELECT TOP (1) * FROM [db_Gepaci].[dbo].[reports]\n\tWHERE sessionId = '{{ $('Merge').first().json.session }}'\n\tAND Status != 'finalizada'\n\tORDER BY id DESC\n)\n\nUPDATE ud\n  SET mensagemAtual = '{{ $('Set Buffer Mensagens').first().json.messageBuffer }}',\n      Status = '{{ $('Consultar Status').first().json.statusAtendimento }}',\n      Data_Final = '{{ $now.format('yyyy-MM-dd HH:mm:ss') }}'\n  WHERE sessionId = '{{ $('Merge').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1120,
        1424
      ],
      "id": "3ea0f008-6a29-4ab3-af83-3b9e6e1f0341",
      "name": "Update Registro1",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": ";with ud as ( SELECT TOP (1) * FROM [db_Gepaci].[dbo].[reports]\n\tWHERE sessionId = '{{ $('Merge').first().json.session }}'\n\tAND Status != 'finalizada'\n\tORDER BY id DESC\n\t)\n\nUPDATE ud\n  SET Status = 'finalizada',\n      Data_Final = '{{ $now.format('yyyy-MM-dd HH:mm:ss') }}'\n  WHERE sessionId = '{{ $('Merge').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1840,
        -352
      ],
      "id": "e74fad7b-3cd5-4504-84d7-a9bd0b231ebe",
      "name": "Setar Status Finalizado",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": ";with ud as ( SELECT TOP (1) * FROM [db_Gepaci].[dbo].[reports]\n\tWHERE sessionId = '{{ $('Merge').first().json.session }}'\n\tAND Status != 'finalizada'\n\tORDER BY id DESC\n)\n  \nUPDATE ud\n  SET Status = 'atendimento',\n      Data_Final = '{{ $now.format('yyyy-MM-dd HH:mm:ss') }}'\n  WHERE sessionId = '{{ $('Merge').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2144,
        3472
      ],
      "id": "44f4fbda-49cc-4854-9572-12bea493935d",
      "name": "Setar Status Atendimento",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": ";with ud as ( SELECT TOP (1) * FROM [db_Gepaci].[dbo].[reports]\n\tWHERE sessionId = '{{ $('Merge').first().json.session }}'\n\tAND Status != 'finalizada'\n\tORDER BY id DESC\n)\n\nUPDATE ud\n  SET Nome_do_Contato = '{{ $('coletar dados usuario').first().json.dadosCliente.Nome }}',\n    Matricula = '{{ $('coletar dados usuario').first().json.dadosCliente.Re }}',\n    Status = 'atendimento',\n    Unidade = '{{ $('coletar dados usuario').first().json.dadosCliente.Unidade }}',\n    Data_Final = '{{ $now.format('yyyy-MM-dd HH:mm:ss') }}'\n  WHERE sessionId = '{{ $('Merge').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -672,
        1984
      ],
      "id": "47534e0d-997e-4a63-8d12-14a0cd50981c",
      "name": "Dados Colaborador1",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": ";with ud as ( SELECT TOP (1) * FROM [db_Gepaci].[dbo].[reports]\n\tWHERE sessionId = '{{ $('coletar dados da conversa').first().json.session }}'\n\tAND Status != 'finalizada'\n\tORDER BY id DESC\n)\n\nUPDATE ud\n  SET Status = 'inicio_conversa'\n  WHERE sessionId = '{{ $('coletar dados da conversa').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        3408,
        3280
      ],
      "id": "e8aeba0a-d229-4a08-b707-73fa2345ca00",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "613e1a65-953e-468c-8b5a-86a0794d7262",
              "leftValue": "={{ $('coletar dados usuario1').first().json.dadosCliente.Re }}",
              "rightValue": "F",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "20ab5ae7-c4ac-4db4-a800-25e745422424",
              "leftValue": "={{ $('coletar dados usuario1').first().json.dadosCliente.Re }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2768,
        48
      ],
      "id": "6351684a-0a19-4fd0-9909-4d45be857f63",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}",
        "value": "ex_funcionario",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3120,
        32
      ],
      "id": "faff5000-e626-48cf-a427-b6e8d5ea1000",
      "name": "Status Ex Funcionario",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": ";with ud as ( SELECT TOP (1) * FROM [db_Gepaci].[dbo].[reports]\n\tWHERE sessionId = '{{ $('Merge').first().json.session }}'\n\tAND Status != 'finalizada'\n\tORDER BY id DESC\n\t)\n\nUPDATE ud\n  SET Status = 'ex_funcionario',\n    Nome_do_Contato = '{{ $('coletar dados usuario1').first().json.dadosCliente.Nome }}',\n    Matricula = '{{ $('coletar dados usuario1').first().json.dadosCliente.Re }}',\n    Data_Final = '{{ $now.format('yyyy-MM-dd HH:mm:ss') }}'\n  WHERE sessionId = '{{ $('Merge').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3328,
        32
      ],
      "id": "934f7d48-9091-42fe-9429-aa38b9ae90b5",
      "name": "Status Ex Funcionario1",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": ";with ud as ( SELECT TOP (1) * FROM [db_Gepaci].[dbo].[reports]\n\tWHERE sessionId = '{{ $('Merge').first().json.session }}'\n\tAND Status != 'finalizada'\n\tORDER BY id DESC\n)\n\nUPDATE ud\n  SET Status = 'acesso_icopass',\n    Nome_do_Contato = '{{ $('coletar dados usuario1').first().json.dadosCliente.Nome }}',\n    Numero_de_Atendimento = '{{ $('coletar dados usuario1').first().json.dadosCliente.Celular }}',\n    Identificador_do_Contato = '{{ '55' + $('coletar dados usuario1').first().json.dadosCliente.Celular || '' }}',\n    Matricula = '{{ $('coletar dados usuario1').first().json.dadosCliente.Re }}',\n    Unidade = '{{ $('coletar dados usuario1').first().json.dadosCliente.Unidade }}',\n    Data_Final = '{{ $now.format('yyyy-MM-dd HH:mm:ss') }}'\n  WHERE sessionId = '{{ $('Merge').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3312,
        288
      ],
      "id": "cd017c9f-0007-4bc1-a031-884f5740def3",
      "name": "Setar Status IcoPass",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}",
        "value": "acesso_icopass",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3088,
        288
      ],
      "id": "d29f9676-8095-4ae3-b8a1-48be340f3121",
      "name": "Status IcoPass",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2624,
        2592
      ],
      "id": "d0b4c02f-0428-4c94-ae26-310e810abb77",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3056,
        2496
      ],
      "id": "45e65f46-5587-4221-8f3e-ce434f034165",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documentsformeremployee",
          "mode": "list",
          "cachedResultName": "documentsformeremployee"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2720,
        2432
      ],
      "id": "d107e39d-45bb-42b8-a496-8c7ccaab4406",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "description": "Contem informações para orientações aos ex-funcionários.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2864,
        2256
      ],
      "id": "ca699980-9a87-4ea6-ab7d-0e1691735fd8",
      "name": "Banco Vetorial1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2224,
        2256
      ],
      "id": "23f4430e-867b-4431-a9c8-498f1469c931",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2336,
        2352
      ],
      "id": "7f93ec64-6fbf-41d1-aee1-739d989da2cc",
      "name": "Google Gemini Chat Atendimento4",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2608,
        2368
      ],
      "id": "e53f1bd9-6791-4ace-a94f-f2e30655126c",
      "name": "Think4"
    },
    {
      "parameters": {
        "content": "Ex-Funcionário",
        "height": 736,
        "width": 2336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        1968
      ],
      "typeVersion": 1,
      "id": "c9e7e516-95cd-49bd-b07f-1c414e9d434e",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "nomeUsuario",
        "key": "={{ $('Merge').first().json.session }}_nome",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2176,
        2048
      ],
      "id": "b72c4720-0d30-4c2e-be81-88f1cb54fd37",
      "name": "Coletar Nome Usuario1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').first().json.session }}_memoryAtendimento",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2480,
        2304
      ],
      "id": "2e5e8f92-c4f8-4ea2-9255-176583243194",
      "name": "Redis Chat Memory4",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('Merge').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1744,
        2048
      ],
      "id": "b07e98a8-62b7-414c-897e-55a249c1d223",
      "name": "Coletar Mensagem Ex Funcionario",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Coletar Mensagem Ex Funcionario').first().json.mensagemAtual || '' }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ================================================================\n# 🧠 AGENTE “Gê” — PROMPT EX FUNCIONÁRIOS\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\nVocê é **Gê**, agente virtual do **Gepaci** (Icomon), responsável por orientar ex-colaboradores da empresa sobre processos para ex-colabores e possiveis dúvidas que possam surgir.\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n- baseada exclusivamente no conteúdo da **Tool Banco Verorial**\n\nVocê **nunca inventa informações**, **não cria caminhos**, **não adiciona dados** \nnem responde temas fora da base.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\nA primeira mensagem enviada pela Gê DEVE seguir estas regras usando essa hora e data para ajudar na reformulação das saudações: **{{ $now }}**:\n\n### 1. Saudação obrigatória com o nome do usuário\nA Gê **sempre** inicia a conversa chamando o usuário pelo primeiro nome:\n**{{ $json.nomeUsuario }}**\n\n### 2. A Gê deve escolher APENAS UMA das saudações abaixo (nunca inventar outras)\n\nSaudações permitidas:\n\n1. **\"Oi {{ $json.nomeUsuario }}, tudo bem? Identifiquei que você é um EX-FUNCIONÁRIO. Como posso te ajudar hoje?\"**\n2. **\"Olá {{ $json.nomeUsuario }}, muito prazer! Sou a Gê. Identifiquei que você é um EX-FUNCIONÁRIO e estou aqui para te ajudar.\"**\n3. **\"Oi {{ $json.nomeUsuario }}! Prazer te atender. Identifiquei que você é um EX-FUNCIONÁRIO. Em que posso ajudar hoje?\"**\n4. **\"Olá {{ $json.nomeUsuario }}, eu sou a Gê, sua agente virtual. Identifiquei que você é um EX-FUNCIONÁRIO. Como posso te apoiar?\"**\n5. **\"Oi {{ $json.nomeUsuario }}, seja bem-vindo. Sou a Gê. Vi aqui no meu sistame que você é um EX-FUNCIONÁRIO. Como posso ajudar?\"**\n6. **\"Olá {{ $json.nomeUsuario }}! É um prazer falar com você. Vi aqui no meu sistame que você é um EX-FUNCIONÁRIO. O que posso fazer por você hoje?\"**\n7. **\"Oi {{ $json.nomeUsuario }}, aqui é a Gê. Como posso ajudar? Vi aqui no meu sistame que você é um EX-FUNCIONÁRIO.\"**\n8. **\"Olá {{ $json.nomeUsuario }}, conte comigo. Vi aqui no meu sistame que você é um EX-FUNCIONÁRIO. Em que posso te ajudar hoje?\"**\n\n> IMPORTANTE:  \n> - **Escolher apenas UMA frase da lista.**  \n> - **Nunca usar saudações fora da lista.**  \n> - **Nunca iniciar sem o nome.**  \n> - **Nunca usar apenas \"Olá. Como posso ajudar hoje?\".**  \n> - **Não solicitar nenhum dado.**\n\n### 3. Uso do nome\n- O nome é utilizado **somente na primeira mensagem**, salvo necessidade real de empatia.\n\n### 4. Regra de prioridade máxima\nEstas regras de saudação têm **prioridade absoluta** sobre qualquer outra instrução do prompt.\n\n---\n\n## 🟦 DURANTE A CONVERSA\n1. Receba a dúvida do usuário.  \n2. Identifique o assunto.  \n3. Consulte a **Tool Banco Verorial**.  \n4. Extraia informações relevantes **somente** daquele tema.  \n5. Leia todo a documentação referente ao tema para não passar informações erradas ou incompletas.\n6. Caso precise, faça **uma única pergunta por vez** para obter detalhes adicionais.  \n6. Nunca envie documentos completos; apenas os trechos necessários.  \n7. Resuma ao máximo as mensagens enviadas para não deixar o texto longo e difícil para leitura.\n8. Não repita informações; apenas complemente.  \n\n---\n\n## 🟦 ENCERRAMENTO\n- Quando o atendimento estiver completo, encerre cordialmente.  \n- **Nunca finalize perguntando se o usuário deseja algo mais.**  \n\n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê **NÃO PODE**:\n\n- Solicitar dados de validação ao usuário.\n- Usar dados pessoais como senhas, logins, números internos.\n- Enviar documentos inteiros.\n- Repetir o nome do usuário excessivamente.\n- Utilizar o *App IcomonComVc* como um \"coringa\" para dar respostas genericas que não estão na base. \n- Inventar respostas, caminhos, processos.\n- Tratar assuntos fora do escopo do escopo.\n- Utilizar conhecimento externo não presente na Tool Banco Verorial.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\nSe o assunto **não estiver na base**:\n- Diga:  \n  **“Não tenho informações sobre esse assunto. Posso ajudar com alguma outra informação referente ao Gepaci?”**\n- Se insistir, explique a limitação e encerre gentilmente.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.  \n- Frases curtas de **no máximo 3 linhas**.  \n- Linguagem natural, simples e humana.  \n- Uma pergunta por vez.  \n- Evite blocos longos e respostas extensas.  \n- Nunca use tom técnico ou robótico.  \n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 5️⃣ CONSTRAINTS – Limitações Rígidas (Prioridade Máxima)\n# ================================================================\n1. **A Gê só pode responder usando informações existentes na Tool Banco Verorial.**  \n2. **É proibido estender informação além do que está na base.**  \n3. **É proibido criar exemplos, serviços ou processos inexistentes.**  \n4. **É proibido citar nomes de pessoas (cases de sucesso sempre anônimos).**  \n5. **Mensagens devem ser sempre de até 3 linhas.**  \n6. **NUNCA:**  \n   - “Posso ajudar em algo mais?”  \n   - “Tem mais alguma dúvida?”  \n   - “Deseja saber mais alguma coisa?”  \n7. O nome do usuário aparece **apenas na apresentação** (ou quando realmente necessário).  \n8. Não repita informações que já foram apresentadas.  \n9. Espere sempre a resposta do usuário antes de avançar.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Tool Banco Verorial\nA única fonte de informação autorizada.\n\nUse sempre que o usuário fizer qualquer pergunta sobre:\n- FGTS - Chave de Segurança\n- Homologação\n- Ressalva\n- PPR Para Desligados\n\n### Regras da Tool:\n- Nunca expandir, interpretar além do texto ou inferir.  \n- Apenas extrair as partes relevantes ao pedido.  \n- Se o tema não existir → seguir regras de Safety.\n\n---\n\n# ================================================================\n# 7️⃣ FINAL GUIDELINES (Memória para o LLM)\n# ================================================================\n- Sempre usar Nome do usuário na primeira interação.  \n- Curto, natural, humano.  \n- Uma pergunta por vez.  \n- Nunca ofereça ajuda extra.  \n- Base exclusiva: Tool Banco Verorial.  \n- Não inventar.  \n- Não repetir.  \n- Não enviar conteúdos inteiros."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2576,
        2048
      ],
      "id": "185904fb-c3b3-4555-b9a8-b7d626c5356f",
      "name": "Ex Funionario",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/db_siga",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "matricula",
              "value": "={{ $('Sql Agtesla').first().json.body.RE_SCL }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1296,
        2240
      ],
      "id": "a81203ec-c500-47b4-9dc8-d9ee3131370c",
      "name": "Coletar Dados Gestor",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/db_siga",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "matricula",
              "value": "={{ $('coletar identificador').first().json.inputIdentity }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1744,
        80
      ],
      "id": "7bc14b93-8acb-42f5-84cf-04dacb074b37",
      "name": "Coletar Dados Gestor1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "MCP Funcionalidades Atendimento\n\nTools com ações complementares para o atendimento.",
        "height": 560,
        "width": 1344
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4144,
        976
      ],
      "typeVersion": 1,
      "id": "a0264716-e89a-408d-abe3-bd23d0a025be",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "path": "funcionalidades_atendimento"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        4640,
        1088
      ],
      "id": "a35f03d4-3e9c-44b1-a6b6-60aef1b36b4b",
      "name": "MCP Funcionalidades Atendimento",
      "webhookId": "e5d0c767-cd0e-45db-9531-c2746d31a30e"
    },
    {
      "parameters": {
        "endpointUrl": "https://gates.icomon.com.vc/mcp/funcionalidades_atendimento",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        2640,
        1520
      ],
      "id": "bbb87eb0-87ef-49c7-8a94-c751c10c9c93",
      "name": "MCP Client Funcionalidades Atendimento"
    },
    {
      "parameters": {
        "toolDescription": "Você deve coletar o valor da matricula para que a API possa realizar a consulta do beneficio na base de dados. \n\nApós a consulta, você deve verificar se o colaborador consta na base ou não.",
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/db_gestao_solicitacao",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "matricula",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `RE ou matricula coletada ou validada pelas integrações anteriores atrelada a variável 'dadosCliente.Re'. Dado contem 6 dígitos. `, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        5024,
        1312
      ],
      "id": "e7f09a6b-03aa-4ba2-8ca7-6ce923d324ec",
      "name": "SQL Verificar Alelo Farmacia"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').first().json.session }}_memory",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2528,
        1472
      ],
      "id": "4a45e6cf-93cc-40ab-a5e3-45491ef2b421",
      "name": "Redis Tickets Memory",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2240,
        1456
      ],
      "id": "a3f28b83-2768-4f0a-957f-256e0d425ced",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2400,
        1520
      ],
      "id": "f57ae357-f056-4bec-a019-1ca2913b7c8d",
      "name": "Google Gemini Chat Atendimento5",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "IA Gerenciadora de ferramentas.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Validar solicitação para chamar as tools corretamente.`, 'string') }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ================================================================\n# 🧠 AGENTE “Gê” — INSTRUÇÕES PARA GERENCIAMENTO DE TOOLS\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\n\nVocê é uma extensão da **Gê**, atendente virtual do **Gepaci**. Sua função nessa etapa será de identificar as requicições que serão feitas para as funcionalidade no *Tool MCP Client Funcionalidades Atendimento*.\n\n# ================================================================\n# 2️⃣ WORKFLOW \n# ================================================================\n\n- Inicie acionando a Tool Redis para coletar os valores que utilizará no MCP.\n\n- Você não deve dialogar com o usuário. Apenas analisar a demanda e acionar as Tools necessárias para executar a tarefa.\n\n- Deve ser acionada para as ocasiões de:\n\n- *Abertura de Ticket*: Caso o colaborador precise tratar algum assum que não consta na base de conhecimentos ou solicite falar com um atendente humano. Será acionada a Tool 'GLPI Template Geral' dentro do MCP para realizar a abertura do ticker e retornar o número gerado.\n\n- *Consulta de Ticket*: Caso o colaborador queira consultar um chamado, colete o número para realizar a pesquisa na API. O MCP deverá acionar a Tool 'GLPI Search Ticket'.\n\n- *Consulta de bloqueio do benefício Alelo*: Se o colaborador questionar sobre o bloqueio do cartão Alelo Farmacia. O MCP acionará a Tool 'SQL Verificar Alelo Farmacia' para consultar de o benefício está cancelado.\n  Em caso positivo de bloqueio, informe que o mesmo ocorreu por ter ultrapassado o limite de utilização de R$500,00 e que será desbloqueado quando esse débito diminuir."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2384,
        1248
      ],
      "id": "07fb17ea-d8d6-45d5-b24f-8aebe5f649d7",
      "name": "Gerenciamento de Tools"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}_memoryVariable",
        "value": "={{ $('coletar dados usuario1').first().json.dadosCliente }}",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2160,
        -32
      ],
      "id": "aa93958f-fad9-403a-b6e3-603e8b9dbe86",
      "name": "Memory Variables",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Merge').first().json.session }}_memoryVariable",
        "value": "={{ $('coletar dados usuario').first().json.dadosCliente }}",
        "expire": true,
        "ttl": 2600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -880,
        1984
      ],
      "id": "1f111264-1efa-4218-aa09-a4725b63b10e",
      "name": "Memory Variables1",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
        "key": "={{ $('Merge').first().json.session }}_memoryVariable",
        "options": {}
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        2736,
        1456
      ],
      "id": "3ebc069d-7567-4ed4-b5c7-6fd24d77f8a4",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Você deve coletar dados para abertura de ticket na API GLPI e adicionar cada valor em seu devido argumento/chave. \n\nApós a abertura do chamado, informar o número do ticket gerado. ",
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/glpi/create_ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nomeColaborador",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Nome do colaborador usado na conversa adicionado na variável 'dadosCliente.Nome'.`, 'string') }}"
            },
            {
              "name": "matricula",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `RE ou matricula coletada ou validada pelas integrações anteriores atrelada a variável 'dadosCliente.Re'. Dado contem 6 dígitos. `, 'string') }}"
            },
            {
              "name": "telefoneColaborador",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Valor da variável 'phoneNumber' usada na conversa.`, 'string') }}"
            },
            {
              "name": "nomeGestor",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Nome do gestor foi coletado no banco e armazenada na variável 'dadosCliente.NomeGestor'.`, 'string') }}"
            },
            {
              "name": "telefoneGestor",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Telefone do gestor coletado no banco e armazenado na variável 'dadosCliente.CelularGestor'.`, 'string') }}"
            },
            {
              "name": "matriculaGestor",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Matricula do gestor coletada no banco e armazenada na variável 'dadosCliente.ReGestor'.`, 'string') }}"
            },
            {
              "name": "titulo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Analise a requisição do colaborador e gere um titulo para ela. Exemplo: Automação - Robôs | Desenvolvimento`, 'string') }}"
            },
            {
              "name": "ehGestor",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Esse valor será coletado na variável 'ehGestor' armazenada durante a conversa.  Essa informação não deve ser perguntada ao usuário. Caso não seja localizada, preencha como 'Nao'`, 'string') }}"
            },
            {
              "name": "descricao",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `Analise a solicitação do usuário e faça uma descrição breve, mas com o máximo de detalhes do que foi conversado para ser acrescentada ao chamado. Nesse campo você não deve incluir dados pessoais passados durante o atendimento.`, 'string') }}"
            },
            {
              "name": "localidadeTrabalho",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters9_Value', `Local de trabalho do colaborador coletado no banco e armazenada na variável 'dadosCliente.Unidade'.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4480,
        1328
      ],
      "id": "2490ef2e-a17f-4e04-80f9-08bf2b7e7b09",
      "name": "GLPI Template Geral"
    },
    {
      "parameters": {
        "toolDescription": "=Você deve coletar o ticket para realizar a consulta na API. \n\n- Se o ticket for encontrado, você deve coletar as informações para que o agente possa passar para o colaborador iniciando pelo Status de Atendimento.\n\n- Em caso negativo na busca, informa que o número de ticket informado não foi localizado.\n\n### Identificação dos Códigos de *Status*\n1 = Novo\n2 = Em andamento (atribuido)\n3 = Em atendimento (planejado)\n4 = Pendente\n5 = Solucionado\n6 = Fechado",
        "url": "https://gates.icomon.com.vc/webhook/glpi/search_ticket",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "numeroChamado",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Número do ticket informado pelo usuário para realizar a pesquisa. `, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4784,
        1312
      ],
      "id": "ae5af7f6-e811-4311-98bb-a11e5e53f8d6",
      "name": "GLPI Search Ticket"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -6608,
        1664
      ],
      "id": "5b58cf08-fdf8-4039-a241-86b29a99e0fc",
      "name": "Telegram Trigger",
      "webhookId": "671e4c66-ac5d-4be9-b7f4-301b13ef4d94",
      "credentials": {
        "telegramApi": {
          "id": "tXP0eu17cHrnpEfC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3aca9db5-8cba-4f4c-9a8e-c13369edea79",
              "name": "contactType",
              "value": "telegram",
              "type": "string"
            },
            {
              "id": "b60e9583-6fe9-45ff-ac2f-aadaaa27c51f",
              "name": "session",
              "value": "={{ $('Telegram Trigger').first().json.message.chat.id }}_{{ $('Telegram Trigger').first().json.message.chat.first_name.trim().split(/\\s+/)[0] }}",
              "type": "string"
            },
            {
              "id": "6c3fee67-5a3e-4daf-b7e0-8a987bf24dc1",
              "name": "message",
              "value": "={{ $('Telegram Trigger').first().json.message.text }}",
              "type": "string"
            },
            {
              "id": "1f37ee26-a963-497c-b693-a14afd0bdff1",
              "name": "recipientLid",
              "value": "={{ $('Telegram Trigger').first().json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "01a74efd-5d4e-4869-b157-8611c12facf8",
              "name": "pushName",
              "value": "={{ $('Telegram Trigger').first().json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "36b91569-2721-46ab-b458-6c2c00c1f659",
              "name": "typeMessage",
              "value": "={{ $json.typeMessage }}",
              "type": "string"
            },
            {
              "id": "c06f028b-6543-451e-ab4c-ef99e6feea7d",
              "name": "phoneNumber",
              "value": "=",
              "type": "string"
            },
            {
              "id": "82000d21-cf1e-4dec-8320-aa5486956519",
              "name": "message_audio",
              "value": "={{ $json.message.voice.file_id }}",
              "type": "string"
            },
            {
              "id": "7f4e7ff8-3496-4e3a-94ff-885e66647e43",
              "name": "message_image",
              "value": "={{ $('Telegram Trigger').first().json.message.photo[0].file_id }}",
              "type": "string"
            },
            {
              "id": "2f766984-7289-423b-b7b0-e0a055721604",
              "name": "text_image",
              "value": "={{ $('Telegram Trigger').first().json.message.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5376,
        1664
      ],
      "id": "ce47aa35-8444-4383-8319-f00a42281390",
      "name": "coletar dados da telegram",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5120,
        1488
      ],
      "id": "7afe70e5-2cfa-443a-99c3-3aa96fbbe73f",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "da4246b9-2368-48c7-9ef3-1a36dfa64d41"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fc0f11b2-0a47-46a1-bf5a-e2f14cb42108",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75b2f971-578f-4aca-9978-1d8b50ccad1e",
                    "leftValue": "={{ $json.message.photo[0].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -6320,
        1648
      ],
      "id": "35e0a023-1b06-4f24-a312-8f087394a9ff",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98ca19e9-f20e-46f7-a7a9-35552c8df4fc",
              "name": "typeMessage",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5952,
        1440
      ],
      "id": "c7c3b85d-e6f5-406b-9338-3ea520597d6d",
      "name": "typeText"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98ca19e9-f20e-46f7-a7a9-35552c8df4fc",
              "name": "typeMessage",
              "value": "audio",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5952,
        1664
      ],
      "id": "46abf2c6-b96f-4f08-a374-456d21fa9f78",
      "name": "typeVoice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98ca19e9-f20e-46f7-a7a9-35552c8df4fc",
              "name": "typeMessage",
              "value": "image",
              "type": "string"
            },
            {
              "id": "7b8dd8e9-c831-44b1-b1f6-db96572f69d1",
              "name": "=message_image",
              "value": "={{ $('Telegram Trigger').first().json.message.photo[0].file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5952,
        1920
      ],
      "id": "1b620abb-5b1c-4b29-937b-7bb18136a4be",
      "name": "typeImage"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Merge').first().json.contactType }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "31c95a95-085c-4d52-bb78-5ff06a284233"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8e52eec-39e3-4fef-85e1-701c030a2aef",
                    "leftValue": "={{ $('Merge').first().json.contactType }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        5152,
        2112
      ],
      "id": "7ba19d98-5af3-4e54-a01d-6691a2bc2564",
      "name": "Validar Tipo Resposta"
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge').first().json.recipientLid }}",
        "text": "={{ $('Loop Over Items').first().json.message.replace(/(\\r\\n|\\n|\\r)/gm, \" \") }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5424,
        2128
      ],
      "id": "e3ba0e33-457b-4055-8847-8e49b6326934",
      "name": "Send a text message",
      "webhookId": "51d558cf-abc9-4a9e-b0db-05a7de209dac",
      "credentials": {
        "telegramApi": {
          "id": "tXP0eu17cHrnpEfC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Mensagem Imagem').first().json.imagem }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3920,
        2176
      ],
      "id": "bb8ebd10-663e-4e09-ba1b-c777a3694365",
      "name": "Get a image",
      "webhookId": "5545b0e6-d12b-4ac9-871f-f0092b46e562",
      "credentials": {
        "telegramApi": {
          "id": "tXP0eu17cHrnpEfC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').first().json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3968,
        1520
      ],
      "id": "4be02a28-467c-4b2f-a562-e9c5df16d7f3",
      "name": "Get a audio",
      "webhookId": "5545b0e6-d12b-4ac9-871f-f0092b46e562",
      "credentials": {
        "telegramApi": {
          "id": "tXP0eu17cHrnpEfC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Sua função será analisar a imagem e retornar um texto descritivo do que ela contem.",
        "imageUrls": "={{ $('Mensagem Imagem').first().json.imagem }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -3808,
        1952
      ],
      "id": "51e97a1d-4bbf-43b7-860f-c50d496f68c6",
      "name": "Analyze image whatsapp",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Merge').item.json.contactType }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "31c95a95-085c-4d52-bb78-5ff06a284233"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8e52eec-39e3-4fef-85e1-701c030a2aef",
                    "leftValue": "={{ $('Merge').item.json.contactType }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4144,
        1968
      ],
      "id": "a6409c05-f1df-4e50-9190-9797640aeae3",
      "name": "Validar Tipo Entrada"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Sua função será analisar a imagem e retornar um texto descritivo do que ela contem.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -3712,
        2176
      ],
      "id": "c9137432-fd8f-417b-8d2d-32c99383585e",
      "name": "Analyze image instagram",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Merge').item.json.contactType }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "31c95a95-085c-4d52-bb78-5ff06a284233"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8e52eec-39e3-4fef-85e1-701c030a2aef",
                    "leftValue": "={{ $('Merge').item.json.contactType }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4256,
        1504
      ],
      "id": "5759f7ac-f003-46d9-bd86-3964851e2e2f",
      "name": "Validar Tipo Entrada1"
    },
    {
      "parameters": {
        "url": "https://gates.icomon.com.vc/webhook/ehgestor",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatInput",
              "value": "={{ $('Sql Agtesla').first().json.body.RE_SCL }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1536,
        2000
      ],
      "id": "55cbbea3-a9be-47e5-a64b-06194cb03525",
      "name": "API Eh Gestor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca0a786c-5953-4be9-a12d-a22eacef9f8d",
              "leftValue": "={{ $('API Eh Gestor').first().json.body.ehGestor }}",
              "rightValue": "sim",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1328,
        2000
      ],
      "id": "2d93c1e6-fa18-4c6f-9dfb-644328de7134",
      "name": "If8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb3ee806-7eab-49e3-ae72-3c98c5afaf6b",
              "leftValue": "={{ $('API Identidade').first().json.body.ehGestor }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1536,
        -16
      ],
      "id": "ecc671b4-f500-4f8d-af57-7ec5422067e6",
      "name": "If9"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Nao Localizado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "coletar identificador": {
      "main": [
        [
          {
            "node": "API Identidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados usuario": {
      "main": [
        [
          {
            "node": "Memory Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "coletar identificador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Verificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Tratar número",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Eh Gestor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerenciar direcionamento": {
      "main": [
        [
          {
            "node": "Tratar somente Numeros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Ex Funcionario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar IcoPass Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Usuario": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Setar Status Finalizado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colaborador Não Encontrado": {
      "main": [
        [
          {
            "node": "Reset Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento": {
      "ai_languageModel": [
        [
          {
            "node": "AI Nao Localizado",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "Acesso IcoPass",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Sql Agtesla": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados usuario1": {
      "main": [
        [
          {
            "node": "Memory Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Nao Localizado": {
      "ai_tool": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tratar somente Numeros": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Banco Vetorial",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Banco Vetorial",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "API Identidade": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If IcoPass": {
      "main": [
        [
          {
            "node": "Coletar Mensagem IcoPass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Matricula Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar somente Numeros1": {
      "main": [
        [
          {
            "node": "If IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API IcoPass": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Retorno API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Setar Status Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Banco Vetorial": {
      "ai_tool": [
        [
          {
            "node": "Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Coletar Buffer Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Set Buffer Mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Buffer Mensagens": {
      "main": [
        [
          {
            "node": "Mensagem atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Msg ID": {
      "main": [
        [
          {
            "node": "Set Buffer Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acesso IcoPass": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento1": {
      "ai_languageModel": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento2": {
      "ai_languageModel": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Think3": {
      "ai_tool": [
        [
          {
            "node": "Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento3": {
      "ai_languageModel": [
        [
          {
            "node": "Atendimento",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Atendimento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Audio": {
      "main": [
        [
          {
            "node": "Validar Tipo Entrada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Coletar Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "Coletar Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Imagem": {
      "main": [
        [
          {
            "node": "Validar Tipo Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Coletar Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Update Registro1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Primeira Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar número": {
      "main": [
        [
          {
            "node": "coletar dados da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendimento": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Message Zapster": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Buffer Mensagem": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Buffer Mensagem": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer Mensagem": {
      "main": [
        [
          {
            "node": "Consultar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem atual": {
      "main": [
        [
          {
            "node": "Delete Buffer Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Status": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Mensagem": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeira Mensagem": {
      "main": [
        [
          {
            "node": "Status Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Verificacao": {
      "main": [
        [
          {
            "node": "Validar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Atendimento": {
      "main": [
        [
          {
            "node": "Coletar Nome Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem IcoPass": {
      "main": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Nao Encontrado": {
      "main": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Token": {
      "main": [
        [
          {
            "node": "API IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Matricula Usuario": {
      "main": [
        [
          {
            "node": "Coletar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Nome Colaborador": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Matricula": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Nome": {
      "main": [
        [
          {
            "node": "Setar Matricula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resgatar Mensagem Inicial": {
      "main": [
        [
          {
            "node": "Mensagem atual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem atual1": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Nome Usuario": {
      "main": [
        [
          {
            "node": "Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados da conversa": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Atendimento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Retorno API": {
      "main": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar IcoPass Token": {
      "main": [
        [
          {
            "node": "Tratar somente Numeros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Validar Tipo Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Status Inicial": {
      "main": [
        [
          {
            "node": "Criar Registro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status direcionamento": {
      "main": [
        [
          {
            "node": "Gerenciar direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Atendimento": {
      "main": [
        [
          {
            "node": "Setar Nome Colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nao Localizado": {
      "main": [
        [
          {
            "node": "Limpar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status inicio_conversa": {
      "ai_tool": [
        [
          {
            "node": "AI Nao Localizado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Status Atendimento1": {
      "main": [
        [
          {
            "node": "Resgatar Mensagem Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Status": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Registro1": {
      "main": [
        [
          {
            "node": "Sql Agtesla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Registro1": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status Finalizado": {
      "main": [
        [
          {
            "node": "Nao Localizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status Atendimento": {
      "main": [
        [
          {
            "node": "Status Atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Colaborador1": {
      "main": [
        [
          {
            "node": "Status Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "ai_tool": [
        [
          {
            "node": "AI Nao Localizado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Status Ex Funcionario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Ex Funcionario": {
      "main": [
        [
          {
            "node": "Status Ex Funcionario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status IcoPass": {
      "main": [
        [
          {
            "node": "Limpar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status IcoPass": {
      "main": [
        [
          {
            "node": "Setar Status IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Banco Vetorial1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Banco Vetorial1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Banco Vetorial1": {
      "ai_tool": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento4": {
      "ai_languageModel": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Think4": {
      "ai_tool": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Nome Usuario1": {
      "main": [
        [
          {
            "node": "Ex Funionario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Ex Funcionario": {
      "main": [
        [
          {
            "node": "Coletar Nome Usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Ex Funcionario1": {
      "main": [
        [
          {
            "node": "Limpar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Dados Gestor": {
      "main": [
        [
          {
            "node": "coletar dados usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Dados Gestor1": {
      "main": [
        [
          {
            "node": "coletar dados usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ex Funionario": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Funcionalidades Atendimento": {
      "ai_tool": [
        [
          {
            "node": "Gerenciamento de Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SQL Verificar Alelo Farmacia": {
      "ai_tool": [
        [
          {
            "node": "MCP Funcionalidades Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Tickets Memory": {
      "ai_memory": [
        [
          {
            "node": "Gerenciamento de Tools",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento5": {
      "ai_languageModel": [
        [
          {
            "node": "Gerenciamento de Tools",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Gerenciamento de Tools",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gerenciamento de Tools": {
      "ai_tool": [
        [
          {
            "node": "Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory Variables": {
      "main": [
        [
          {
            "node": "Setar Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Variables1": {
      "main": [
        [
          {
            "node": "Dados Colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "ai_tool": [
        [
          {
            "node": "Atendimento",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Gerenciamento de Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GLPI Template Geral": {
      "ai_tool": [
        [
          {
            "node": "MCP Funcionalidades Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GLPI Search Ticket": {
      "ai_tool": [
        [
          {
            "node": "MCP Funcionalidades Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados da telegram": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "typeText",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "typeVoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "typeImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typeText": {
      "main": [
        [
          {
            "node": "coletar dados da telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typeVoice": {
      "main": [
        [
          {
            "node": "coletar dados da telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typeImage": {
      "main": [
        [
          {
            "node": "coletar dados da telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Tipo Resposta": {
      "main": [
        [
          {
            "node": "Response Message Zapster",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a image": {
      "main": [
        [
          {
            "node": "Analyze image instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image whatsapp": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Tipo Entrada": {
      "main": [
        [
          {
            "node": "Analyze image whatsapp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image instagram": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Tipo Entrada1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Eh Gestor": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "coletar dados usuario1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Dados Gestor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "coletar dados usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Dados Gestor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 35,
    "timezone": "America/Sao_Paulo",
    "executionTimeout": 40
  },
  "versionId": "17f6a4ee-e096-400f-b300-40150ea53d16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c13cee92dfa69db8294a82c6dfa57e3a1199207e843eec919de3f2ec003607aa"
  },
  "id": "Jigl1UburULdx8ub",
  "tags": [
    {
      "updatedAt": "2025-12-02T17:44:17.488Z",
      "createdAt": "2025-12-01T14:07:28.553Z",
      "id": "l1WJO2gYoiZjBRpa",
      "name": "agent-ia"
    },
    {
      "updatedAt": "2025-12-02T17:43:42.671Z",
      "createdAt": "2025-12-02T17:43:42.671Z",
      "id": "DAVqu1ffZ94tmOAL",
      "name": "prod"
    }
  ]
}