Bkp/gepaci-base-conhecimentos.json
{
  "name": "gepaci-base-conhecimentos",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "fileUpdated",
        "simple": false,
        "watch": "selectedFolder",
        "folderId": {
          "__rl": true,
          "value": "01ZCRJ5TZH76JWK63PVNDZNCDWEY6OW2WX",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ec096b00-24c0-45d3-a0ce-83350705d52f",
      "name": "Microsoft OneDrive Trigger",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ],
      "id": "d7da4ddf-1471-4234-99ed-e00c174d7503",
      "name": "Extract from File",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        784,
        640
      ],
      "id": "9b1c56eb-762d-49b1-ba64-fcee762f98e9",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        864
      ],
      "id": "638ad876-fdd4-45c5-adee-a910d8342d4f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set Doc Id').item.json.fileId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        928,
        880
      ],
      "id": "97da6030-2ffc-4910-a041-8d8f18f2bf20",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        848,
        1056
      ],
      "id": "8fb30d89-6073-4049-8fe5-bb4ef40accdf",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.fileId }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        400
      ],
      "id": "41e14204-ade5-4af2-b516-dfd60a942aba",
      "name": "Delete a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "785cc90a-489c-4494-a4a9-08fa05170d50",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        224
      ],
      "id": "10cc17b9-5afe-445a-ae2e-19563d7a6201",
      "name": "Set Doc Id"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Set Doc Id').item.json.fileId }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        992,
        400
      ],
      "id": "482f4526-5f54-48af-ad5e-8f81a461ac87",
      "name": "Download a file",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer RV0rRmz7cbQb1NAjyYKwVB4ZbiGZbzcl"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"data:application/pdf;base64,{{ $json.data }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        400
      ],
      "id": "bfe9221e-3596-414e-b8fb-bbce5414abd9",
      "name": "Mistral API"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "watchFolder": true,
        "folderId": {
          "__rl": true,
          "value": "01ZCRJ5TZH76JWK63PVNDZNCDWEY6OW2WX",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "id": "b579d8e7-e2ff-4e10-9c53-895bf4ea2620",
      "name": "Microsoft OneDrive Trigger1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78846d49-27d5-4713-b534-ad2bcf4c36e1",
              "name": "=data",
              "value": "={{ JSON.parse($json.data).pages[0].markdown}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        400
      ],
      "id": "52b6a43d-b0d8-4923-822e-257a1aa36320",
      "name": "Texto Markdown"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        224
      ],
      "id": "2e359201-f6d5-480b-94da-27011177a62c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1488,
        1088
      ],
      "id": "9018e6f9-2760-4676-a16d-a1ce0a482809"
    },
    {
      "parameters": {
        "content": "FUNCIONÁRIOS\n\nProcesso de RAG para coletar e armazenar \na documentação disponível para Base de Conhecimentos do \nagente de IA do Gepaci. \n\n",
        "height": 1568,
        "width": 2032,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -224
      ],
      "typeVersion": 1,
      "id": "770618f1-4eb3-4f35-b5ef-dd758115fddf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "01ZCRJ5T6RXBLENAI3AZBJXTQ4BQGOBTYR"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2864,
        528
      ],
      "id": "3cc29004-5b11-4125-90b1-0a9570b8d69e",
      "name": "Search a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "fileUpdated",
        "simple": false,
        "watch": "selectedFolder",
        "folderId": {
          "__rl": true,
          "value": "01ZCRJ5T6RXBLENAI3AZBJXTQ4BQGOBTYR",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        16,
        1648
      ],
      "id": "51f69da2-6f12-4799-b2db-b4509060c2c7",
      "name": "Microsoft OneDrive Trigger2",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1216,
        2048
      ],
      "id": "6994979a-4c2f-49b2-942e-2cba63ebb86e",
      "name": "Extract from File1",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documentsformeremployee",
          "mode": "list",
          "cachedResultName": "documentsformeremployee"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        800,
        2288
      ],
      "id": "5a889a20-2036-41fc-b431-df70c54ce108",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        2512
      ],
      "id": "c789f577-8807-4ee8-87f3-4bf444275133",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set Doc Id1').item.json.fileId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        944,
        2528
      ],
      "id": "6fd8771e-2f03-49f3-a5b3-4df5da266df6",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        864,
        2704
      ],
      "id": "f210935d-f909-4187-bc23-6d5b940a2065",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documentsformeremployee",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.fileId }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        2048
      ],
      "id": "d1647266-499c-4d74-81d7-452959221d73",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "785cc90a-489c-4494-a4a9-08fa05170d50",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        1872
      ],
      "id": "b30cf115-8ca9-4545-9c30-806052fc2615",
      "name": "Set Doc Id1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Set Doc Id1').item.json.fileId }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1008,
        2048
      ],
      "id": "f13cba93-85da-434c-9bce-a711d4002d60",
      "name": "Download a file1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer RV0rRmz7cbQb1NAjyYKwVB4ZbiGZbzcl"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"data:application/pdf;base64,{{ $json.data }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        2048
      ],
      "id": "c62ec581-21d9-49cc-a666-3f36f5e96a96",
      "name": "Mistral API1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "watchFolder": true,
        "folderId": {
          "__rl": true,
          "value": "01ZCRJ5T6RXBLENAI3AZBJXTQ4BQGOBTYR",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        16,
        1872
      ],
      "id": "a1b035a2-3630-4a97-b0e5-7bb976b6cfd1",
      "name": "Microsoft OneDrive Trigger3",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "N3A48S0mL96H70Za",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78846d49-27d5-4713-b534-ad2bcf4c36e1",
              "name": "=data",
              "value": "={{ JSON.parse($json.data).pages[0].markdown}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        2048
      ],
      "id": "a1e85484-ff16-409e-a0f8-a83aed27ff0c",
      "name": "Texto Markdown1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        1872
      ],
      "id": "3fda8608-b974-47be-824a-542c48ed2395",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        1504,
        2736
      ],
      "id": "d048c385-b6ff-4908-8e7e-38ffa7c287dd"
    },
    {
      "parameters": {
        "content": "EX-FUCNIONÁRIOS\n\nProcesso de RAG para coletar e armazenar \na documentação disponível para Base de Conhecimentos do \nagente de IA do Gepaci. \n\n",
        "height": 1568,
        "width": 2032,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        1424
      ],
      "typeVersion": 1,
      "id": "493d91f1-13bd-426e-8b51-cddbdb03380a",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft OneDrive Trigger": {
      "main": [
        [
          {
            "node": "Set Doc Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Doc Id": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Mistral API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral API": {
      "main": [
        [
          {
            "node": "Texto Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive Trigger1": {
      "main": [
        [
          {
            "node": "Set Doc Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto Markdown": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive Trigger2": {
      "main": [
        [
          {
            "node": "Set Doc Id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Mistral API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Doc Id1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral API1": {
      "main": [
        [
          {
            "node": "Texto Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive Trigger3": {
      "main": [
        [
          {
            "node": "Set Doc Id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto Markdown1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 2
  },
  "versionId": "d80d0f37-4eff-40af-99eb-aff26e7ca85c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c13cee92dfa69db8294a82c6dfa57e3a1199207e843eec919de3f2ec003607aa"
  },
  "id": "SgVhQeUGpiqRMzIY",
  "tags": [
    {
      "updatedAt": "2025-12-01T14:08:19.560Z",
      "createdAt": "2025-12-01T14:08:19.560Z",
      "id": "sU8uoJcSr7Z2b41P",
      "name": "google"
    },
    {
      "updatedAt": "2025-12-01T14:08:19.534Z",
      "createdAt": "2025-12-01T14:08:19.534Z",
      "id": "HPdtTfqtZC75YVFO",
      "name": "microsoft"
    }
  ]
}