Bkp/gepaci-base-conhecimentos.json
{
  "name": "gepaci-base-conhecimentos",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "fileUpdated",
        "simple": false,
        "watch": "selectedFolder",
        "folderId": {
          "__rl": true,
          "value": "01ZCRJ5TZH76JWK63PVNDZNCDWEY6OW2WX",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        416
      ],
      "id": "fee62a53-2b01-483b-b7a7-9c20f33e1e62",
      "name": "Microsoft OneDrive Trigger",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "FgxQ1Fn03xF1NboJ",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $input.item.binary.data.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2828ca83-74dd-47b4-805b-33463985cee8",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set Doc Id1').item.json.fileId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        832
      ],
      "id": "a13144bc-856f-4d13-8024-cb8e04a8d31f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UAzFvMBkpoSqaOK1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        64,
        832
      ],
      "id": "5db9b52b-f539-4efc-82a9-1aff04e2dd46",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "={{ $input.item.json.file.mimeType}}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        320,
        32
      ],
      "id": "6633e1c7-28d5-48e3-a4b7-f9390defd5be",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        704,
        608
      ],
      "id": "1cdd12d1-f6ce-460d-be81-22cf552c96ec",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "htCf539ApNjfrbw8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        832
      ],
      "id": "dd134bff-7779-4f0b-a095-eae9dd242351",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HIV493e91Mlq2ZRT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set Doc Id1').item.json.fileId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        816
      ],
      "id": "52bbe0ef-b674-4f76-b3f5-57ca04a44c2a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        784,
        1040
      ],
      "id": "7191af46-90dd-441e-a24e-bef213a33ea4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.fileId }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        416
      ],
      "id": "7daa8148-d859-4507-9af8-1cdccf4f62c8",
      "name": "Delete a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "htCf539ApNjfrbw8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.fileId }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -480,
        832
      ],
      "id": "8a7eded9-9134-45a1-8361-efa536c76f68",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "htCf539ApNjfrbw8",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OnMbWW4GxrNPQiDBFzGxndu2yfUPk71f",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OnMbWW4GxrNPQiDBFzGxndu2yfUPk71f"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "application/vnd.google-apps.document"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        896
      ],
      "id": "c080abe7-bbb8-445e-94ac-90f43a94fed4",
      "name": "Google File Created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UAzFvMBkpoSqaOK1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OnMbWW4GxrNPQiDBFzGxndu2yfUPk71f",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OnMbWW4GxrNPQiDBFzGxndu2yfUPk71f"
        },
        "event": "fileUpdated",
        "options": {
          "fileType": "application/vnd.google-apps.document"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        624
      ],
      "id": "28ce8cdd-849a-4ba4-9dd7-e86f25cf51c9",
      "name": "Google File Updated",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UAzFvMBkpoSqaOK1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        160,
        96
      ],
      "id": "e528e9ea-4795-4ce4-a50a-b0eac1f065b6",
      "name": "Get items in a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "FgxQ1Fn03xF1NboJ",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "785cc90a-489c-4494-a4a9-08fa05170d50",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        416
      ],
      "id": "6fba3bc8-0e11-416f-8c62-588fc14e16cb",
      "name": "Set Doc Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "785cc90a-489c-4494-a4a9-08fa05170d50",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        832
      ],
      "id": "24e3b6a2-1aa2-4998-b66f-8082c16b8198",
      "name": "Set Doc Id1"
    },
    {
      "parameters": {
        "url": "={{ $json['@microsoft.graph.downloadUrl'] }}/export?format=text",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -96
      ],
      "id": "215fba7b-db10-4135-ae05-3ddfca2737fa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "    import requests\n    import docx2txt\n    from io import BytesIO\n\n    url = \"https://icotel-my.sharepoint.com/personal/dlbarbosa_icomontecnologia_com_br/_layouts/15/download.aspx?UniqueId=6642985d-2a76-48a6-a6f3-07799e0d6200&Translate=false&tempauth=v1.eyJzaXRlaWQiOiJhNjM1NzAzYS1jMGMyLTRkOTItOTk4Yy00ZmIzZWZmMzk3NjIiLCJhcHBfZGlzcGxheW5hbWUiOiJuOG4tZ2VwYWNpIiwiYXBwaWQiOiI0MTNjMzkwYS1hNzE2LTQzYzktOWNmMi0wZjY1ZWVkMjEzOTYiLCJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvaWNvdGVsLW15LnNoYXJlcG9pbnQuY29tQGU1MjA5YTgxLWZlNGYtNGE4Yi05YTljLWEyMTVmMmYwMDEzMSIsImV4cCI6IjE3NjM0ODE2MDcifQ.CkAKDGVudHJhX2NsYWltcxIwQ01XSzhzZ0dFQUFhRmpaNU56QlJOWFJ6YUZWRGMxaFJYMVI0Y0ZGWFFVRXFBQT09CjIKCmFjdG9yYXBwaWQSJDAwMDAwMDAzLTAwMDAtMDAwMC1jMDAwLTAwMDAwMDAwMDAwMAoKCgRzbmlkEgI2NBILCLC515ymr9M-EAUaDDQwLjEyNi40NS4yOCosWnJaUEp6eWMyME9vK2JCZm1aZWdJNFN0NkEweEkzS0RSR2N1aFEyRWpOYz0wowE4AUIQodqafEyAAKCrCLAMDXvb2EoQaGFzaGVkcHJvb2Z0b2tlblIIWyJrbXNpIl1qJDAwYThmMjE5LTljOTMtZjJhZC05YWU2LWE1YWM1MjE4YTczY3IpMGguZnxtZW1iZXJzaGlwfDEwMDMyMDA1NGMwMTg1ODhAbGl2ZS5jb216ATKCARIJgZog5U_-i0oRmpyiFfLwATGSAQtEYW5pZWwgTGV2aZoBB0JhcmJvc2GiASFkbGJhcmJvc2FAaWNvbW9udGVjbm9sb2dpYS5jb20uYnKqARAxMDAzMjAwNTRDMDE4NTg4sgEOYWxsZmlsZXMud3JpdGXIAQE.xYY-nsL0BeE1ntyKSvW59TDCTweehr3dnvL0z3Xtqck&ApiVersion=2.0\"  # Replace with your actual URL\n    output_filename = \"output.txt\"\n\n    try:\n        # Download the DOCX file\n        response = requests.get(url)\n        response.raise_for_status()  # Raise an exception for HTTP errors\n\n        # Process the DOCX file in memory\n        docx_content = BytesIO(response.content)\n        text = docx2txt.process(docx_content)\n\n        # Save the extracted text to a .txt file\n        with open(output_filename, \"w\", encoding=\"utf-8\") as f:\n            f.write(text)\n\n        print(f\"Successfully downloaded and converted '{url}' to '{output_filename}'\")\n\n    except requests.exceptions.RequestException as e:\n        print(f\"Error downloading the file: {e}\")\n    except Exception as e:\n        print(f\"Error processing the document: {e}\")\n      return output_filename"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        128
      ],
      "id": "c6718905-75ac-4ec3-aad4-e094d1822f8f",
      "name": "Code in Python (Beta)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Set Doc Id').item.json.fileId }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        32,
        464
      ],
      "id": "4b12d8f3-7dd6-465d-bc5b-20eaec06563f",
      "name": "Download a file",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "FgxQ1Fn03xF1NboJ",
          "name": "Microsoft Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -304,
        832
      ],
      "id": "3e82a514-9839-42a9-b25c-1cecf9e133be",
      "name": "Wait",
      "webhookId": "b9138ac4-e5d5-417f-9166-6a0661ca7225"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft OneDrive Trigger": {
      "main": [
        [
          {
            "node": "Set Doc Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google File Updated": {
      "main": [
        [
          {
            "node": "Set Doc Id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google File Created": {
      "main": [
        [
          {
            "node": "Set Doc Id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Doc Id": {
      "main": [
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Doc Id1": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "5a9cdbd1-15b8-4bc3-ae1b-e3af391a88d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e71ee30208579422913ee1673c6e68fb79d1e7e17d5c1deb0a672e043b70fb7c"
  },
  "id": "TLNiUIibNge7UZ0y",
  "tags": [
    {
      "updatedAt": "2025-11-19T13:38:38.911Z",
      "createdAt": "2025-11-19T13:38:38.911Z",
      "id": "0udHQuVk9GzUKNdx",
      "name": "google"
    },
    {
      "updatedAt": "2025-11-18T17:56:17.386Z",
      "createdAt": "2025-11-18T17:56:17.386Z",
      "id": "w2DaBCn4YzmsENKM",
      "name": "microsoft"
    }
  ]
}