Bkp/gepaci-apis.json
{
  "name": "gepaci-apis",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://apiwhatsapp.icomon.com.vc/identidade/autenticar",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "integracao@mutant.com.br"
            },
            {
              "name": "senha",
              "value": "Heh#EL8@ScR%Gp$m"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        -96
      ],
      "id": "49ac2760-5ae3-467c-b22b-8bc664d2557b",
      "name": "requestToken"
    },
    {
      "parameters": {
        "url": "=https://apiwhatsapp.icomon.com.vc/funcionarios/pesquisar/{{ $('coletar identificador').item.json.inputIdentity }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        128
      ],
      "id": "e3ec0013-b7d1-4b2a-824a-0e7eca5c8cb2",
      "name": "buscarFuncionario"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37271610-ca3e-479a-a814-8ff315091d2a",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "encontrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    },
                    "id": "244bbc4d-47f3-4f9a-803b-27850f3b2904"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "naoEncontrado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        704,
        128
      ],
      "id": "8f56b827-6965-49ad-8288-f45b077f2073",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "API identidade\n\nDocumentação Swagger: https://apiwhatsapp.icomon.com.vc/swagger/index.html",
        "height": 784,
        "width": 1360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -288
      ],
      "typeVersion": 1,
      "id": "de3ac6ab-f041-40bb-9fae-dbcd35511092",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "inputIdentity",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -112
      ],
      "id": "989a7484-348f-4bbe-abce-a475b49bd538",
      "name": "coletar identificador",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1bbef1f-aade-4643-a58b-90a6e7b54cac",
              "name": "nome",
              "value": "={{ $('buscarFuncionario').item.json.body.nome }}",
              "type": "string"
            },
            {
              "id": "8ce69bca-e03f-4819-b323-343385885b0a",
              "name": "funcao",
              "value": "={{ $('buscarFuncionario').item.json.body.funcao }}",
              "type": "string"
            },
            {
              "id": "de4ca59d-6e55-43db-9409-ed6f2f99ad66",
              "name": "ehGestor",
              "value": "={{ $('ehGestor').item.json.body.ehGestor }}",
              "type": "boolean"
            },
            {
              "id": "6acf9b2b-6720-41ef-bf1f-6294034b1435",
              "name": "situacao",
              "value": "={{ $('buscarFuncionario').item.json.body.situacao }}",
              "type": "string"
            },
            {
              "id": "2bd4e2c3-c065-4420-93be-75cc0adcbbcf",
              "name": "chatInput",
              "value": "Dados informados e validados com sucesso.",
              "type": "string"
            },
            {
              "id": "71acd1c0-db5c-48b0-b974-3c24f3c9835e",
              "name": "colaborador",
              "value": "OK",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        112
      ],
      "id": "aff97e63-5810-4705-9436-7916cde92fe1",
      "name": "Colaborador Encontrado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71acd1c0-db5c-48b0-b974-3c24f3c9835e",
              "name": "body.colaborador",
              "value": "NAO ENCONTRADO",
              "type": "string"
            },
            {
              "id": "6b8f4a3e-ba82-4a83-b1fb-07f462d233a9",
              "name": "chatInput",
              "value": "Usuário não localizado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        320
      ],
      "id": "e6243d3f-cea9-4f92-9a6e-b7ddb090e286",
      "name": "Não Encontrado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://loginunicoapiexternos.icomon.com.vc/api/Sistema/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "login",
              "value": "gepaci@icomon"
            },
            {
              "name": "senha",
              "value": "gC39p43BB_c14C4*2025aa82"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        1664
      ],
      "id": "ab132c4d-a12e-4b87-b61d-2927bbcbc9de",
      "name": "requestToken1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37271610-ca3e-479a-a814-8ff315091d2a",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tokenValido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "244bbc4d-47f3-4f9a-803b-27850f3b2904"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tokenInvalido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        608,
        1904
      ],
      "id": "67844ecb-e325-4fa9-a4b6-e7c0ad51674b",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "API IcoPass\n\nDocumentação Swagger: https://loginunicoapiexternos.icomon.com.vc/swagger/index.html",
        "height": 1280,
        "width": 1376,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        1440
      ],
      "typeVersion": 1,
      "id": "0355ae7c-d130-4c74-a4e7-767d79480200",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "identidade",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        -112
      ],
      "id": "878a641c-e690-464c-b49c-c8ce6f5e8064",
      "name": "Webhook Identidade",
      "webhookId": "a97dd1d1-0b64-4a1f-a7db-7bf982ebd905"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "icopass",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        1648
      ],
      "id": "aadca73a-5024-4452-be4a-39641d029c2f",
      "name": "Webhook IcoPass",
      "webhookId": "a97dd1d1-0b64-4a1f-a7db-7bf982ebd905"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://loginunicoapiexternos.icomon.com.vc/api/Funcionario/ValidarIdentidade2FA/IcoPass",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "login",
              "value": "={{ $('coletar identificador1').item.json.matriculaUsuario }}"
            },
            {
              "name": "codigo",
              "value": "={{ $('coletar identificador1').item.json.tokenIcoPass }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        1904
      ],
      "id": "6e3fb701-9d34-421e-8b66-393a942dbcfa",
      "name": "validarIcoPass",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1bbef1f-aade-4643-a58b-90a6e7b54cac",
              "name": "body.login",
              "value": "={{ $('validarIcoPass').item.json.body.login }}",
              "type": "string"
            },
            {
              "id": "8ce69bca-e03f-4819-b323-343385885b0a",
              "name": "body.nome",
              "value": "={{ $('validarIcoPass').item.json.body.nome }}",
              "type": "string"
            },
            {
              "id": "71acd1c0-db5c-48b0-b974-3c24f3c9835e",
              "name": "=body.matricula",
              "value": "={{ $('validarIcoPass').item.json.body.matricula }}",
              "type": "string"
            },
            {
              "id": "2bd4e2c3-c065-4420-93be-75cc0adcbbcf",
              "name": "chatInput",
              "value": "Token valido",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        1888
      ],
      "id": "44419281-b6e1-4a59-b2a9-b04df4e196a6",
      "name": "Token Valido"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71acd1c0-db5c-48b0-b974-3c24f3c9835e",
              "name": "body.colaborador",
              "value": "NAO ENCONTRADO",
              "type": "string"
            },
            {
              "id": "6b8f4a3e-ba82-4a83-b1fb-07f462d233a9",
              "name": "chatInput",
              "value": "={{ JSON.parse($json.errorReturn)[0].mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        2128
      ],
      "id": "f291c50d-7972-4075-847b-49bd6413bb39",
      "name": "Token Invalido"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.error.message;\n\nlet jsonString = raw.replace(/^400 - /, \"\");\n\nlet dados = JSON.parse(jsonString);\n\nreturn [\n  {\n    errorReturn: dados\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2128
      ],
      "id": "e1e4c95a-001c-42ab-adcf-6eec765ed8f0",
      "name": "Message Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "958720d3-0cab-4a83-8de6-247276f64b90",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Usuário não encontrado.",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        2128
      ],
      "id": "ce800ef7-0dc2-478e-a2b2-79a13fc383fc",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://loginunicoapiexternos.icomon.com.vc/api/Funcionario/ValidarIdentidade2FA/IcoPass",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Token Banco1').item.json.body.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "login",
              "value": "=R{{ $('coletar identificador1').item.json.matriculaUsuario }}"
            },
            {
              "name": "codigo",
              "value": "={{ $('coletar identificador1').item.json.tokenIcoPass }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        2112
      ],
      "id": "b4a2d904-b76b-4426-872c-fc22616e9432",
      "name": "validarIcoPass1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5e9fabe-66d8-44eb-9b98-d247e0db3379",
              "name": "matriculaUsuario",
              "value": "={{ $json.body.matricula }}",
              "type": "string"
            },
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "tokenIcoPass",
              "value": "={{ $json.body.tokenUser }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        1648
      ],
      "id": "b4bdc339-7bc6-46eb-86ef-00495cc46071",
      "name": "coletar identificador1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37271610-ca3e-479a-a814-8ff315091d2a",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tokenValido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "244bbc4d-47f3-4f9a-803b-27850f3b2904"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tokenInvalido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        2368
      ],
      "id": "a40c4ead-bdcf-4fde-8962-da37edfb5801",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71acd1c0-db5c-48b0-b974-3c24f3c9835e",
              "name": "colaborador",
              "value": "NAO ENCONTRADO",
              "type": "string"
            },
            {
              "id": "6b8f4a3e-ba82-4a83-b1fb-07f462d233a9",
              "name": "chatInput",
              "value": "={{ JSON.parse($json.errorReturn)[0].mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        2544
      ],
      "id": "bfe4853a-00e6-4bb6-bb38-ad4eeaeb844b",
      "name": "Token Invalido1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.error.message;\n\nlet jsonString = raw.replace(/^400 - /, \"\");\n\nlet dados = JSON.parse(jsonString);\n\nreturn [\n  {\n    errorReturn: dados\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        2544
      ],
      "id": "d2b130c3-e9c7-4f23-9425-35946dafc529",
      "name": "Message Error1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1bbef1f-aade-4643-a58b-90a6e7b54cac",
              "name": "body.login",
              "value": "={{ $('validarIcoPass1').item.json.body.login }}",
              "type": "string"
            },
            {
              "id": "8ce69bca-e03f-4819-b323-343385885b0a",
              "name": "body.nome",
              "value": "={{ $('validarIcoPass1').item.json.body.nome }}",
              "type": "string"
            },
            {
              "id": "71acd1c0-db5c-48b0-b974-3c24f3c9835e",
              "name": "=body.matricula",
              "value": "={{ $('validarIcoPass1').item.json.body.matricula }}",
              "type": "string"
            },
            {
              "id": "2bd4e2c3-c065-4420-93be-75cc0adcbbcf",
              "name": "chatInput",
              "value": "Token valido",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        2352
      ],
      "id": "ebcbb80e-4cb9-4e1d-bf8b-9718c3c6f8b0",
      "name": "Token Valido1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59d6b7db-6cde-4a02-a5bd-e2c438082e21",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        -112
      ],
      "id": "46c5b696-c526-49fb-802a-39f8344f3f37",
      "name": "If1",
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa8bb98e-3dd4-4db2-abfb-9db6730f2135",
              "name": "body.accessToken",
              "value": "={{ $json.clientToken }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        128
      ],
      "id": "28c9a660-00bd-494a-9694-bf2605152685",
      "name": "Set Token Banco"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59d6b7db-6cde-4a02-a5bd-e2c438082e21",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9f72767e-1757-423b-ab36-3bb86f723ab8",
              "leftValue": "={{ $json.apiName }}",
              "rightValue": "icopass",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        1648
      ],
      "id": "97df732b-b1d5-41b7-994e-51da83297658",
      "name": "If2",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa8bb98e-3dd4-4db2-abfb-9db6730f2135",
              "name": "body.token",
              "value": "={{ $json.clientToken }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        1904
      ],
      "id": "298bb1f5-1b19-4d5f-94c0-1d5dd9c8de80",
      "name": "Set Token Banco1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, clientToken\n  FROM [db_Gepaci].[dbo].[accessToken]\n  WHERE apiName = 'identidade'\n  AND status = 'active';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        560,
        -112
      ],
      "id": "1f52c239-86d1-4e9a-bd1e-873e536ec9f5",
      "name": "Get Token2",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, clientToken\n  FROM [db_Gepaci].[dbo].[accessToken]\n  WHERE apiName = 'icopass'\n  AND status = 'active';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        608,
        1648
      ],
      "id": "6ac673ba-3317-4131-bfad-8cfe16075d5b",
      "name": "Get Token3",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update na tabela\nUPDATE [db_Gepaci].[dbo].[accessToken]\n  SET status = 'active',\n    clientToken = '{{ $json.body.accessToken }}'\n  WHERE apiName = 'identidade';\n\n-- Select com retorno do novo token\nSELECT status, clientToken\n  FROM [db_Gepaci].[dbo].[accessToken]\n  WHERE apiName = 'identidade'\n  AND status = 'active';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1136,
        -96
      ],
      "id": "15daed2f-78a4-485d-bbdd-2a748b74f647",
      "name": "Update e Get Token",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE [db_Gepaci].[dbo].[accessToken]\n  SET status = 'active',\n    clientToken = '{{ $json.body.token }}'\n  WHERE apiName = 'icopass';\n\n-- Select com retorno do novo token\nSELECT status, clientToken\n  FROM [db_Gepaci].[dbo].[accessToken]\n  WHERE apiName = 'icopass'\n  AND status = 'active';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1216,
        1664
      ],
      "id": "cd9f135a-6d01-4be7-b0ac-46a4cda1b71c",
      "name": "Update e Get Token1",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://tihml.icomon.com.vc/apirest.php/initSession",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_token",
              "value": "Cc1Qe8NHLlMkEJA4BCBmrR4owML4opD8E4dwpWb7"
            },
            {
              "name": "app_token",
              "value": "jx7wOphBGzMByQ7V2tkKM9R3fZblJre47L1cmSpf"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2288,
        0
      ],
      "id": "4c83c525-0d7d-48f5-823b-2728fb2be45d",
      "name": "requestToken2"
    },
    {
      "parameters": {
        "content": "API GLPI Abertura de Ticket\n\nDocumentação: https://ti.icomon.com.vc/apirest.php/",
        "height": 928,
        "width": 1264,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -272
      ],
      "typeVersion": 1,
      "id": "a846a070-66df-428a-bdd4-a429dba54715",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d544554b-7ed4-4af0-899f-aa88b54445a6",
              "name": "owner",
              "value": "={{ $json.query.outroSolicitante}}",
              "type": "string"
            },
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "nameUser",
              "value": "={{ $json.query.nomeColaborador }}",
              "type": "string"
            },
            {
              "id": "d6883123-06f3-45b0-baed-39a8e8fa83a7",
              "name": "re",
              "value": "={{ $json.query.matricula }}",
              "type": "string"
            },
            {
              "id": "3850a8cf-90a4-4bed-ac77-6a67bb7ee244",
              "name": "phoneUser",
              "value": "={{ $json.query.telefoneColaborador }}",
              "type": "string"
            },
            {
              "id": "20ae629f-e83a-4b1a-b96d-c437d60f494e",
              "name": "reManager",
              "value": "={{ $json.query.matriculaGestor }}",
              "type": "string"
            },
            {
              "id": "2b164380-2f77-4195-9427-a8d65351cd0c",
              "name": "nameManager",
              "value": "={{ $json.query.nomeGestor }}",
              "type": "string"
            },
            {
              "id": "39c2ed10-cdb6-4734-9ca4-7cbfa89a183e",
              "name": "phoneManager",
              "value": "={{ $json.query.telefoneGestor }}",
              "type": "string"
            },
            {
              "id": "37d9d08e-cec4-4b04-a83e-bc8f37479818",
              "name": "local",
              "value": "={{ $json.query.localidade }}",
              "type": "string"
            },
            {
              "id": "05bdaca9-efd8-4f10-8b66-b872940550ad",
              "name": "title",
              "value": "={{ $json.query.titulo}}",
              "type": "string"
            },
            {
              "id": "065f6bcd-85d6-4185-889d-bcc2258ebcbf",
              "name": "description",
              "value": "={{ $json.query.descricao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        -16
      ],
      "id": "fda76d82-73cd-4b63-b4a4-1d233bb3a16e",
      "name": "Coletar Valores",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db0be12e-7fa6-4ed1-a273-01aa303cfbe2",
              "leftValue": "={{ $json.nameUser }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "c3a77a16-0d3b-4719-825d-65895902eabf",
              "leftValue": "={{ $json.re }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "82daeb69-ea59-4bde-b6ab-50628d37331a",
              "leftValue": "={{ $json.phoneUser }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "59dfcc8e-5a4e-443c-9931-f6c5994c79df",
              "leftValue": "={{ $json.nameManager }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "41db40f8-6659-433b-8fd5-db8c3a013b31",
              "leftValue": "={{ $json.phoneManager }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "e3a1ff30-35aa-432a-b851-246f7eb6327f",
              "leftValue": "={{ $json.local }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "40e61fa5-02ac-4b5f-9e44-9e205f602dae",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        -16
      ],
      "id": "17ef19e8-01a5-4b52-b878-fa9ef8fba59f",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54ced45a-ed60-47e9-b4dc-525876c11bd3",
              "name": "return",
              "value": "Solicitar dados faltantes.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        -208
      ],
      "id": "69d979b1-fba8-477b-ba7b-3c79e6fbc4b2",
      "name": "Dados Incompletos"
    },
    {
      "parameters": {
        "url": "https://tihml.icomon.com.vc/apirest.php/initSession",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_token",
              "value": "Cc1Qe8NHLlMkEJA4BCBmrR4owML4opD8E4dwpWb7"
            },
            {
              "name": "app_token",
              "value": "jx7wOphBGzMByQ7V2tkKM9R3fZblJre47L1cmSpf"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2304,
        992
      ],
      "id": "a0dce54e-0942-43cd-9932-7fcbc0155527",
      "name": "requestToken3"
    },
    {
      "parameters": {
        "content": "API GLPI Consulta de Ticket\n\nDocumentação: https://ti.icomon.com.vc/apirest.php/",
        "height": 656,
        "width": 1264,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        720
      ],
      "typeVersion": 1,
      "id": "1d2d146e-2af7-46e4-9a37-2240c9a58170",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db0be12e-7fa6-4ed1-a273-01aa303cfbe2",
              "leftValue": "={{ $json.ticketId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        976
      ],
      "id": "a586f12e-f71f-4333-b4cb-9769bcecd2ba",
      "name": "If4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54ced45a-ed60-47e9-b4dc-525876c11bd3",
              "name": "return",
              "value": "Solicitar dados faltantes.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        784
      ],
      "id": "ba9b36f0-65cb-4c10-bb8c-33b8e3b0925d",
      "name": "Dados Incompletos1"
    },
    {
      "parameters": {
        "path": "glpi/search_ticket",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1632,
        976
      ],
      "id": "2b507f7a-5808-4513-9ff9-24f89954ec47",
      "name": "Webhook Conulta Ticket",
      "webhookId": "a97dd1d1-0b64-4a1f-a7db-7bf982ebd905"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glpi/create_ticket",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1632,
        -16
      ],
      "id": "c343ef76-d415-443b-bddc-73724a6bb732",
      "name": "Webhook Abertura Ticket",
      "webhookId": "a97dd1d1-0b64-4a1f-a7db-7bf982ebd905"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "ticketId",
              "value": "={{ $json.query.numeroChamado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        976
      ],
      "id": "688a03bc-f2a7-442a-be62-b3422af1778c",
      "name": "Coletar Ticket Id",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://tihml.icomon.com.vc/apirest.php/Ticket/{{ $('Coletar Ticket Id').first().json.ticketId }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_token",
              "value": "jx7wOphBGzMByQ7V2tkKM9R3fZblJre47L1cmSpf"
            },
            {
              "name": "session_token",
              "value": "={{ $('requestToken3').first().json.body.session_token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2560,
        992
      ],
      "id": "4b37baf5-df75-4983-b9b2-a7701f3463d0",
      "name": "searchTicket",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tihml.icomon.com.vc/apirest.php/Ticket",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_token",
              "value": "jx7wOphBGzMByQ7V2tkKM9R3fZblJre47L1cmSpf"
            },
            {
              "name": "session_token",
              "value": "={{ $('requestToken2').first().json.body.session_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"entities_id\": 0,\n    \"name\": \"{{ $('Coletar Valores').item.json.title }}\",\n    \"date\": \"{{$now.format('yyyy-MM-dd HH:mm:ss')}}\",\n    \"closedate\": null,\n    \"solvedate\": null,\n    \"status\": 1,\n    \"requesttypes_id\": 1,\n    \"groups_id_tech\": 1,\n    \"content\": \"&#60;div&#62;&#60;h1&#62;Dados do formulário&#60;/h1&#62;&#60;h2&#62;Dados do Requerente&#60;/h2&#62;&#60;div&#62;&#60;b&#62;1) Deseja abrir o chamado para outro solicitante? : &#60;/b&#62;{{ $('Coletar Valores').item.json.owner }}&#60;/div&#62;&#60;div&#62;&#60;b&#62;2) Informe o colaborador : &#60;/b&#62;{{ $('Coletar Valores').item.json.nameUser }}&#60;/div&#62;&#60;div&#62;&#60;b&#62;3) Insira o RE : &#60;/b&#62;{{ $('Coletar Valores').item.json.re }}&#60;/div&#62;&#60;div&#62;&#60;b&#62;4) Telefone de contato : &#60;/b&#62;{{ $('Coletar Valores').item.json.phoneUser }}&#60;/div&#62;&#60;div&#62;&#60;b&#62;5) Telefone de contato (Gestor) : &#60;/b&#62;{{ $('Coletar Valores').item.json.phoneManager }}&#60;/div&#62;&#60;div&#62;&#60;b&#62;6) Gestor responsável : &#60;/b&#62;{{ $('Coletar Valores').item.json.nameManager }}&#60;/div&#62;&#60;div&#62;&#60;b&#62;7) Localização : &#60;/b&#62;{{ $('Coletar Valores').item.json.local }}&#60;/div&#62;&#60;div&#62;&#60;b&#62;8) Local de trabalho : &#60;/b&#62;Empresa&#60;/div&#62;&#60;div&#62;&#60;b&#62;9) Tipo de solicitação : &#60;/b&#62;{{ $('Coletar Valores').item.json.title }}&#60;/div&#62;&#60;div&#62;&#60;b&#62;16) Descrição da solicitação : &#60;/b&#62;&#60;p&#62;{{ $('Coletar Valores').item.json.description }}&#60;/p&#62;&#60;/div&#62;&#60;div&#62;&#60;b&#62;17) Anexo : &#60;/b&#62;Nenhum documento anexado&#60;/div&#62;&#60;/div&#62;\",\n    \"urgency\": 3,\n    \"impact\": 3,\n    \"priority\": 3,\n    \"itilcategories_id\": 0,\n    \"type\": 2,\n    \"global_validation\": 1\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1872,
        384
      ],
      "id": "4c2f692c-0493-4bca-bbac-dcf7806a89d2",
      "name": "createTicket"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "176cb604-0361-4a16-995c-f08fbf7f360d",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        384
      ],
      "id": "e6961687-1a24-4ce3-9fe9-ddbd1c0d4189",
      "name": "If5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO [db_Gepaci].[dbo].[ticketReturn]\n\t( [Nome Cliente], [Telefone], [RE], [Ticket], [Data Abertura] )\n\tVALUES \n\t( '{{ $('Coletar Valores').item.json.nameUser }}', '{{ $('Coletar Valores').item.json.phoneUser }}',  '{{ $('Coletar Valores').item.json.re }}', '{{ $('createTicket').item.json.id }}', '{{$now.format('yyyy-MM-dd HH:mm:ss')}}' );"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2432,
        288
      ],
      "id": "745e039e-90d1-4633-b413-2d234372e572",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2432,
        480
      ],
      "id": "f702e8ad-e6be-4f38-969b-4b21021385d5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * mon-fri"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1648,
        1632
      ],
      "id": "170c18f0-af0e-4970-8aff-ebc2f19ab089",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "content": "Verificar Alteração de Status\n\nSchedule roda a cada 2 horas verificando se houve alteração de status dos chamados da base criados nos \núltimos 10 dias.\n\nDocumentação: https://ti.icomon.com.vc/apirest.php/",
        "height": 1008,
        "width": 1744,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        1440
      ],
      "typeVersion": 1,
      "id": "db11b182-4e92-47a0-b520-8af5ce73cf2d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zapsterapi.com/v1/wa/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NjQ3MDg4MjEsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiI0ODI1MGQ4Yy0wNGFhLTQ5MTMtYmFmNS1jNmRkZGExOTAwYjEiLCJqdGkiOiJlZWNhZjFkMy02Zjk0LTRiY2UtOTMxYS03MmVhYWQxMmFiOWMifQ.P9ssoNa-Muev0wT4bDnabCf0oAPoRwlpVfIOVdWIglk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": \"{{ $('coletar dados da conversa').first().json.recipientLid }}\",\n  \"text\": \"{{ $('Loop Over Items').first().json.message.replace(/(\\r\\n|\\n|\\r)/gm, \" \") }}\",\n  \"instance_id\": \"8ulek0ah8an7vwi49w450\",\n  \"auto_delete\": false,\n  \"auto_mention\": true,\n  \"view_once\": false,\n  \"link_preview\": true,\n  \"mentions\": \"everyone\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3040,
        2048
      ],
      "id": "0688c66e-1fef-44c8-bee1-0f267477584c",
      "name": "Response Message Zapster",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        4160,
        2560
      ],
      "id": "45ef510f-93d1-47e5-9c13-73bee6a07305",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1648,
        1840
      ],
      "id": "6adba83f-ed25-43ac-a69e-0a6cfa166570",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3968,
        2416
      ],
      "id": "68c686f2-28b3-4c51-985f-be3ab84c4f3e",
      "name": "Wait1",
      "webhookId": "d3569ea4-8aac-4739-8f2b-3770d057d58f",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2144,
        2096
      ],
      "id": "171153bc-fc8e-451e-ae21-5698267e6bdc",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "027e85d7-ad52-4123-9bf3-05ff4dd55c2a",
              "leftValue": "={{ $('Select ticketReturn').first().json.ticketId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1872,
        1920
      ],
      "id": "a270d093-2bd3-4ef5-ac83-b6ec6e51c516",
      "name": "If6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4033bbf2-d7ae-40dc-9b3d-8cc2e427e521",
              "name": "ticketId",
              "value": "={{ $('requestToken3').first().json.body.ticketId }}",
              "type": "string"
            },
            {
              "id": "fe58698a-3e08-4737-a6a0-6fa731936cd0",
              "name": "nomeCliente",
              "value": "={{ $('requestToken3').first().json.body.nameUser }}",
              "type": "string"
            },
            {
              "id": "debb8891-a84c-4123-9d69-f729878a2c30",
              "name": "phone",
              "value": "={{ $('requestToken3').first().json.body.phoneUser }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        1632
      ],
      "id": "5d1e190e-d017-4f5c-9085-8bfe24602035",
      "name": "Set Tickets"
    },
    {
      "parameters": {
        "url": "https://tihml.icomon.com.vc/apirest.php/initSession",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_token",
              "value": "Cc1Qe8NHLlMkEJA4BCBmrR4owML4opD8E4dwpWb7"
            },
            {
              "name": "app_token",
              "value": "jx7wOphBGzMByQ7V2tkKM9R3fZblJre47L1cmSpf"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2144,
        1904
      ],
      "id": "6ec3fd2f-b23c-4ff8-86bb-b4e7b96dfaef",
      "name": "requestToken4"
    },
    {
      "parameters": {
        "url": "https://tihml.icomon.com.vc/apirest.php/search/Ticket/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_token",
              "value": "jx7wOphBGzMByQ7V2tkKM9R3fZblJre47L1cmSpf"
            },
            {
              "name": "session_token",
              "value": "ls6jh3gghs6msl8mrumjd4cm7h"
            },
            {
              "name": "is_deleted",
              "value": "0"
            },
            {
              "name": "order[]",
              "value": "DESC"
            },
            {
              "name": "sort[]",
              "value": "15"
            },
            {
              "name": "range",
              "value": "0-5000"
            },
            {
              "name": "criteria[0][link]",
              "value": "AND"
            },
            {
              "name": "criteria[0][field]",
              "value": "2"
            },
            {
              "name": "criteria[0][searchtype]",
              "value": "equals"
            },
            {
              "name": "criteria[0][value]",
              "value": "={{ $('Select ticketReturn').first().json.ticketId }}"
            },
            {
              "name": "criteria[1][link]",
              "value": "AND"
            },
            {
              "name": "criteria[1][field]",
              "value": "12"
            },
            {
              "name": "criteria[1][searchtype]",
              "value": "equals"
            },
            {
              "name": "criteria[1][value]",
              "value": "4"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2368,
        1904
      ],
      "id": "09444f2e-7724-4836-9fa1-2cee5a0b3874",
      "name": "searchTicket1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT [Nome Cliente] AS nameUser\n      ,[Telefone] AS phoneUser\n      ,[RE] AS re\n      ,[Ticket] AS ticketId\n      ,[Status Glpi] AS status\n  FROM [db_Gepaci].[dbo].[ticketReturn]\n  WHERE \n  [Data Abertura] < DATEADD(DAY, 10, SYSDATETIME())\n  AND\n  [Status Glpi] = 'Novo'\n  AND\n  [Status Retorno] IS NULL"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1856,
        1632
      ],
      "id": "f4e90b90-5010-46a0-9e24-a6b1c3058023",
      "name": "Select ticketReturn",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "176cb604-0361-4a16-995c-f08fbf7f360d",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2592,
        2080
      ],
      "id": "3c4735c9-cc60-4237-9f94-2836613179fa",
      "name": "If7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apiwhatsapp.icomon.com.vc/identidade/autenticar",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "integracao@mutant.com.br"
            },
            {
              "name": "senha",
              "value": "Heh#EL8@ScR%Gp$m"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        768
      ],
      "id": "303f9476-b242-4dc5-adc1-418cad1cf93a",
      "name": "requestToken5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37271610-ca3e-479a-a814-8ff315091d2a",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "encontrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    },
                    "id": "244bbc4d-47f3-4f9a-803b-27850f3b2904"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "naoEncontrado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        752,
        992
      ],
      "id": "331ec160-e6f0-411c-8634-d9da4a2227eb",
      "name": "Switch3"
    },
    {
      "parameters": {
        "content": "API EhGestor\n\nDocumentação Swagger: https://apiwhatsapp.icomon.com.vc/swagger/index.html",
        "height": 784,
        "width": 1360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        576
      ],
      "typeVersion": 1,
      "id": "f8f2fe85-cfe3-442e-870b-1caaff933658",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "inputIdentity",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        752
      ],
      "id": "00ef8cf7-d6f6-421c-9009-d9efea3f6bd2",
      "name": "coletar identificador2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1bbef1f-aade-4643-a58b-90a6e7b54cac",
              "name": "ehGestor",
              "value": "={{ $('ehGestor1').item.json.body.ehGestor }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        976
      ],
      "id": "781c6b77-8d6a-44af-a487-b14e76b8d800",
      "name": "Colaborador Encontrado1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71acd1c0-db5c-48b0-b974-3c24f3c9835e",
              "name": "body.colaborador",
              "value": "NAO ENCONTRADO",
              "type": "string"
            },
            {
              "id": "6b8f4a3e-ba82-4a83-b1fb-07f462d233a9",
              "name": "chatInput",
              "value": "Usuário não localizado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        1168
      ],
      "id": "6753190d-951a-4d95-bcb5-45ec152128c5",
      "name": "Não Encontrado1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59d6b7db-6cde-4a02-a5bd-e2c438082e21",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        752
      ],
      "id": "bdef230d-c987-4c16-90b9-731a66707a00",
      "name": "If8",
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa8bb98e-3dd4-4db2-abfb-9db6730f2135",
              "name": "body.accessToken",
              "value": "={{ $json.clientToken }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        992
      ],
      "id": "97e376ce-6df9-4a70-9d13-de87bcf7890b",
      "name": "Set Token Banco2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, clientToken\n  FROM [db_Gepaci].[dbo].[accessToken]\n  WHERE apiName = 'identidade'\n  AND status = 'active';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        560,
        752
      ],
      "id": "792025b0-ff9f-402c-b2dd-ba1db6778eb6",
      "name": "Get Token",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update na tabela\nUPDATE [db_Gepaci].[dbo].[accessToken]\n  SET status = 'active',\n    clientToken = '{{ $json.body.accessToken }}'\n  WHERE apiName = 'identidade';\n\n-- Select com retorno do novo token\nSELECT status, clientToken\n  FROM [db_Gepaci].[dbo].[accessToken]\n  WHERE apiName = 'identidade'\n  AND status = 'active';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1136,
        768
      ],
      "id": "f1540c66-ce8e-4bc9-a69b-dca46e1d3486",
      "name": "Update e Get Token2",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "path": "ehgestor",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        752
      ],
      "id": "a15ee950-aa9b-4fdc-8595-b5c8e30deb87",
      "name": "Webhook EhGestor",
      "webhookId": "a97dd1d1-0b64-4a1f-a7db-7bf982ebd905"
    },
    {
      "parameters": {
        "url": "=https://apiwhatsapp.icomon.com.vc/funcionarios/{{ $('coletar identificador').item.json.inputIdentity }}/EhGestor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Token Banco').item.json.body.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        112
      ],
      "id": "abd24425-aa65-4122-8fa9-93fd1d7afcc6",
      "name": "ehGestor"
    },
    {
      "parameters": {
        "url": "=https://apiwhatsapp.icomon.com.vc/funcionarios/{{ $('coletar identificador2').item.json.inputIdentity }}/EhGestor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        992
      ],
      "id": "4ae63194-c932-4fbf-b34c-cce99376010c",
      "name": "ehGestor1"
    }
  ],
  "pinData": {},
  "connections": {
    "requestToken": {
      "main": [
        [
          {
            "node": "Update e Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarFuncionario": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "ehGestor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar identificador": {
      "main": [
        [
          {
            "node": "Get Token2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requestToken1": {
      "main": [
        [
          {
            "node": "Update e Get Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Token Valido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Identidade": {
      "main": [
        [
          {
            "node": "coletar identificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook IcoPass": {
      "main": [
        [
          {
            "node": "coletar identificador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validarIcoPass": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Invalido": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Error": {
      "main": [
        [
          {
            "node": "Token Invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "validarIcoPass1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validarIcoPass1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar identificador1": {
      "main": [
        [
          {
            "node": "Get Token3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Token Valido1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Error1": {
      "main": [
        [
          {
            "node": "Token Invalido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Set Token Banco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "requestToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Banco": {
      "main": [
        [
          {
            "node": "buscarFuncionario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Set Token Banco1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "requestToken1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Banco1": {
      "main": [
        [
          {
            "node": "validarIcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update e Get Token": {
      "main": [
        [
          {
            "node": "Set Token Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update e Get Token1": {
      "main": [
        [
          {
            "node": "Set Token Banco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requestToken2": {
      "main": [
        [
          {
            "node": "createTicket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Valores": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Dados Incompletos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "requestToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requestToken3": {
      "main": [
        [
          {
            "node": "searchTicket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Dados Incompletos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "requestToken3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Conulta Ticket": {
      "main": [
        [
          {
            "node": "Coletar Ticket Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Abertura Ticket": {
      "main": [
        [
          {
            "node": "Coletar Valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Ticket Id": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createTicket": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select ticketReturn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Message Zapster": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "requestToken4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tickets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requestToken4": {
      "main": [
        [
          {
            "node": "searchTicket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select ticketReturn": {
      "main": [
        [
          {
            "node": "Set Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "searchTicket1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requestToken5": {
      "main": [
        [
          {
            "node": "Update e Get Token2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Colaborador Encontrado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Encontrado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar identificador2": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Set Token Banco2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "requestToken5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Banco2": {
      "main": [
        [
          {
            "node": "ehGestor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update e Get Token2": {
      "main": [
        [
          {
            "node": "Set Token Banco2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook EhGestor": {
      "main": [
        [
          {
            "node": "coletar identificador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ehGestor": {
      "main": [
        [
          {
            "node": "Colaborador Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ehGestor1": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 1
  },
  "versionId": "9248f0a6-8922-40c7-82ba-c6663ae61f16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c13cee92dfa69db8294a82c6dfa57e3a1199207e843eec919de3f2ec003607aa"
  },
  "id": "LsVc19JltVKaDhdR",
  "tags": [
    {
      "updatedAt": "2025-12-01T14:08:49.327Z",
      "createdAt": "2025-12-01T14:08:49.327Z",
      "id": "qegVFkOeygjshYmf",
      "name": "api"
    }
  ]
}