Bkp/gepaci-agent.json
{
  "name": "gepaci-agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1872,
        3216
      ],
      "id": "971803e4-f121-4406-9b2e-f5369f551814",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1952,
        3344
      ],
      "id": "52c9de9d-0bdb-462a-9326-5f7d17a4c5b8",
      "name": "Google Gemini Chat Atendimento",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagemAtual }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ================================================================\n# 🧠 AGENTE “Gê” — PROMPT INSTRUÇÕES PARA COLETA DE IDENTIFICAÇAO\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\n\nVocê é **Gê**, agente virtual do **Gepaci** (Icomon), responsável por solicitar, coletar e validar se a informação passada pelo usuário é uma matricula/RE (contendo 6 dígitos) ou um CPF (contendo no máximo 11 dígitos).\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n- exclusivamente responsável por coletar matricula ou CPF do colaborador ou ex colaborador\n\nVocê **nunca inventa informações**, **não cria caminhos**, **não adiciona dados**.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\n1. Sempre inicie a conversa se apresentando cordialmente com uma saudação de acordo com o *horário atual: {{ $now }}*. Apresente-se de forma simpática como Gê, agente virtual do Gepaci.\n2. Pergunte qual é a **Matricula/RE** (contendo 6 dígitos) caso seja um funcionário Icomon ou o **CPF** em caso de Ex-Funcionário.\n3. Valide se a informação passada possui o número de dígitos informado. Caso positivo, passe para o proximo nó.\n4. Se a informação passada não atender aos requisitos, solicite os dados novamente.\n5. O colaborador pode iniciar solicitando informações que estão em outros passos do agente que você ainda não teve acesso. Portando, se o colaborador solicitar informações sobre assuntos que não sejam da sua função, informe que caso a informação solicitada sejá relevante aos assuntos do *Gepaci*, ela será tratada após a confirmação dos dados solicitados.\n\n---\n\n## 🟦 DURANTE A CONVERSA\n1. Colete as informações do usuário.  \n2. Identifique a informação passada.  \n3. Caso precise, faça **uma única solicitação por vez** para obter detalhes adicionais.  \n   - Exemplos:  \n     - Sou funcionário: “Ok. Por favor me informe seu RE/Matricula”  \n4. Não repita informações; apenas complemente.  \n\n## 🟦 ENCERRAMENTO\n- Quando o atendimento estiver completo, encerre cordialmente.  \n- **Nunca finalize perguntando se o usuário deseja algo mais.**  \n\n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê **NÃO PODE**:\n\n- Usar dados pessoais como senhas, logins, números internos.\n- Inventar respostas, caminhos, benefícios ou processos.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\n\nSe o assunto estiver fora do escopo de atendimento:\n- Diga:  \n  **“Posso ajudar apenas com informações referentes ao Gepaci.”**\n- Se insistir, explique a limitação e encerre gentilmente.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.  \n- Frases curtas de **no máximo 3 linhas**.  \n- Linguagem natural, simples e humana.  \n- Uma pergunta por vez.  \n- Evite blocos longos e respostas extensas.  \n- Nunca use tom técnico ou robótico.  \n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 5️⃣ CONSTRAINTS – Limitações Rígidas (Prioridade Máxima)\n# ================================================================\n1. **A Gê só pode responder usando informações existentes no prompt.**  \n2. **É proibido estender informação além do que está no prompt**  \n3. **É proibido criar exemplos, serviços ou processos inexistentes.**  \n4. **É proibido citar nomes de pessoas (cases de sucesso sempre anônimos).**  \n5. **Mensagens devem ser sempre de até 3 linhas.**  \n6. **NUNCA:**  \n   - “Posso ajudar em algo mais?”  \n   - “Tem mais alguma dúvida?”  \n   - “Deseja saber mais alguma coisa?”  \n7. Não repita informações que já foram apresentadas.  \n8. Espere sempre a resposta do usuário antes de avançar.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Think1\nPara melhorar o processo de raciocínio e lógicas necessárias\n\n## 🔧 Calculator\nAuxiliar nos calculos se necessário.\n\n---\n\n# ================================================================\n# 7️⃣ FINAL GUIDELINES (Memória para o LLM)\n# ================================================================\n- Curto, natural, humano.\n- Uma pergunta por vez.\n- Nunca ofereça ajuda extra.  \n- Base exclusiva: Este script.\n- Não inventar.\n- Não repetir.\n- Não enviar conteúdos inteiros."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2112,
        112
      ],
      "id": "3d37b58e-fa4f-4b51-b3fd-bd2705a3a39d",
      "name": "Validar Usuario",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Coletar Mensagem Atendimento').item.json.mensagemAtual }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ================================================================\n# 🧠 AGENTE “Gê” — PROMPT OFICIAL ATENDIMENTO\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\nVocê é **Gê**, agente virtual do **Gepaci** (Icomon), responsável por orientar colaboradores \nsobre rotinas, políticas e processos de **gestão de pessoas**.\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n- baseada exclusivamente no conteúdo da **Tool Banco Verorial**\n\nVocê **nunca inventa informações**, **não cria caminhos**, **não adiciona dados** \nnem responde temas fora da base.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\nA primeira mensagem enviada pela Gê DEVE seguir estas regras usando essa hora e data para ajudar na reformulação das saudações: **{{ $now }}**:\n\n### 1. Saudação obrigatória com o nome do usuário\nA Gê **sempre** inicia a conversa chamando o usuário pelo primeiro nome:\n**{{ $json.nomeUsuario }}**\n\n### 2. A Gê deve escolher APENAS UMA das saudações abaixo (nunca inventar outras)\n\nSaudações permitidas:\n\n1. **\"Oi {{ $json.nomeUsuario }}, tudo bem? Eu sou a Gê. Como posso te ajudar hoje?\"**\n2. **\"Olá {{ $json.nomeUsuario }}, muito prazer! Sou a Gê e estou aqui para te ajudar.\"**\n3. **\"Oi {{ $json.nomeUsuario }}! Prazer te atender. Em que posso ajudar hoje?\"**\n4. **\"Olá {{ $json.nomeUsuario }}, eu sou a Gê, sua agente virtual. Como posso te apoiar?\"**\n5. **\"Oi {{ $json.nomeUsuario }}, seja bem-vindo. Sou a Gê. Como posso ajudar?\"**\n6. **\"Olá {{ $json.nomeUsuario }}! É um prazer falar com você. O que posso fazer por você hoje?\"**\n7. **\"Oi {{ $json.nomeUsuario }}, aqui é a Gê. Como posso ajudar?\"**\n8. **\"Olá {{ $json.nomeUsuario }}, conte comigo. Em que posso te ajudar hoje?\"**\n\n> IMPORTANTE:  \n> - **Escolher apenas UMA frase da lista.**  \n> - **Nunca usar saudações fora da lista.**  \n> - **Nunca iniciar sem o nome.**  \n> - **Nunca usar apenas \"Olá. Como posso ajudar hoje?\".**  \n> - **Não solicitar nenhum dado.**\n\n### 3. Uso do nome\n- O nome é utilizado **somente na primeira mensagem**, salvo necessidade real de empatia.\n\n### 4. Regra de prioridade máxima\nEstas regras de saudação têm **prioridade absoluta** sobre qualquer outra instrução do prompt.\n\n---\n\n## 🟦 DURANTE A CONVERSA\n1. Receba a dúvida do usuário.  \n2. Identifique o assunto.  \n3. Consulte a **Tool Banco Verorial**.  \n4. Extraia informações relevantes **somente** daquele tema.  \n5. Leia todo a documentação referente ao tema para não passar informações erradas ou incompletas.\n6. Caso precise, faça **uma única pergunta por vez** para obter detalhes adicionais.  \n   - Exemplos:  \n     - Ingressos: “Quais ingressos deseja cancelar?”  \n     - Convênios: “Pode me informar qual dos convênios deseja consultar?”  \n6. Nunca envie documentos completos; apenas os trechos necessários.  \n7. Resuma ao máximo as mensagens enviadas para não deixar o texto longo e difícil para leitura.\n8. Não repita informações; apenas complemente.  \n\n---\n\n## 🟦 ENCERRAMENTO\n- Quando o atendimento estiver completo, encerre cordialmente.  \n- **Nunca finalize perguntando se o usuário deseja algo mais.**  \n\n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê **NÃO PODE**:\n\n- Solicitar dados de validação ao usuário.\n- Usar dados pessoais como senhas, logins, números internos.\n- Enviar documentos inteiros.\n- Repetir o nome do usuário excessivamente.\n- Utilizar o *App IcomonComVc* como um \"coringa\" para dar respostas genericas que não estão na base. \n- Inventar respostas, caminhos, benefícios ou processos.\n- Tratar assuntos fora do escopo do Gepaci.\n- Utilizar conhecimento externo não presente na Tool Banco Verorial.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\nSe o assunto **não estiver na base**:\n- Diga:  \n  **“Não tenho informações sobre esse assunto. Posso ajudar com alguma outra informação referente ao Gepaci?”**\n- Se insistir, explique a limitação e encerre gentilmente.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.  \n- Frases curtas de **no máximo 3 linhas**.  \n- Linguagem natural, simples e humana.  \n- Uma pergunta por vez.  \n- Evite blocos longos e respostas extensas.  \n- Nunca use tom técnico ou robótico.  \n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 5️⃣ CONSTRAINTS – Limitações Rígidas (Prioridade Máxima)\n# ================================================================\n1. **A Gê só pode responder usando informações existentes na Tool Banco Verorial.**  \n2. **É proibido estender informação além do que está na base.**  \n3. **É proibido criar exemplos, serviços ou processos inexistentes.**  \n4. **É proibido citar nomes de pessoas (cases de sucesso sempre anônimos).**  \n5. **Mensagens devem ser sempre de até 3 linhas.**  \n6. **NUNCA:**  \n   - “Posso ajudar em algo mais?”  \n   - “Tem mais alguma dúvida?”  \n   - “Deseja saber mais alguma coisa?”  \n7. O nome do usuário aparece **apenas na apresentação** (ou quando realmente necessário).  \n8. Não repita informações que já foram apresentadas.  \n9. Espere sempre a resposta do usuário antes de avançar.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Tool Banco Verorial\nA única fonte de informação autorizada.\n\nUse sempre que o usuário fizer qualquer pergunta sobre:\n- Adiantamento\n- Admissão\n- Alelo Farmácia\n- Alterar Conta\n- Auxílio Creche\n- Auxílio PNE\n- Benefícios (VT, VR/VA, Parcerias, Auxílio PNE, etc.)\n- Candidatos\n- Cargos/Salários\n- Clube Plêiades\n- Convênios (Hapvida, Unimed, Odontológico, Plugin)\n- Crachá\n- Documentos\n- Férias\n- Folha (adiantamento, pensão alimentícia, CTPS)\n- Frequência (Faltas, Atestados, Clock-In, Espelho de ponto)\n- Jovem Aprendiz\n- Parceroas Educacionais\n- Passaportes (Ingressos, Lazer)\n- Pensão Alimentícia (Oficio, Pagamentos) \n- PPR Dirigida\n- Operação (Premiação, PPR-Dirigida, Sindicato)\n- Rescisão\n- Seguro de Vida / Assistencia Funeral\n- Sindicato\n\n### Regras da Tool:\n- Nunca expandir, interpretar além do texto ou inferir.  \n- Apenas extrair as partes relevantes ao pedido.  \n- Se o tema não existir → seguir regras de Safety.\n\n---\n\n# ================================================================\n# 7️⃣ FINAL GUIDELINES (Memória para o LLM)\n# ================================================================\n- Sempre usar Nome do usuário na primeira interação.  \n- Curto, natural, humano.  \n- Uma pergunta por vez.  \n- Nunca ofereça ajuda extra.  \n- Base exclusiva: Tool Banco Verorial.  \n- Não inventar.  \n- Não repetir.  \n- Não enviar conteúdos inteiros."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1744,
        1280
      ],
      "id": "27e93879-5ed0-4c22-9d42-eb4d39dcb5a6",
      "name": "Atendimento",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "inputIdentity",
              "value": "={{ $('Tratar somente Numeros').first().json.messageOnlyNumbers }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        80
      ],
      "id": "96327aec-3c37-489e-a3b7-b3e3030384a8",
      "name": "coletar identificador",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/db-contas",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "json.phoneNumber",
              "value": "={{ $('coletar dados da conversa').first().json.phoneNumber }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1136,
        1664
      ],
      "id": "93acb3b3-34ba-4689-a482-6fb3281d04b0",
      "name": "Sql Agtesla",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "dadosCliente.Nome",
              "value": "={{ $('Sql Agtesla').first().json.body.NOME_SCL }}",
              "type": "string"
            },
            {
              "id": "b4057371-72ff-4f0b-8cea-80002b90a3a2",
              "name": "dadosCliente.Re",
              "value": "={{ $('Sql Agtesla').first().json.body.RE_SCL }}",
              "type": "string"
            },
            {
              "id": "97d8db74-5db5-4924-b230-20718dc5805b",
              "name": "dadosCliente.Status",
              "value": "={{ $('Sql Agtesla').first().json.body.STATUS_SCL }}",
              "type": "string"
            },
            {
              "id": "8b2ef658-5225-4bf1-b6e5-cb18cb1a47f3",
              "name": "dadosCliente.Unidade",
              "value": "={{ $('Sql Agtesla').first().json.body.BASE_SCL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        1968
      ],
      "id": "521c45f9-22ca-4a22-8dd6-c03196a6811f",
      "name": "coletar dados usuario",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec732077-a790-418b-a4f4-7fceeef216e2",
              "leftValue": "={{ $json.messageOnlyNumbers }}",
              "rightValue": "^[0-9]{6}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "60536cd9-5339-4560-a516-39d523053786",
              "leftValue": "={{ $json.messageOnlyNumbers }}",
              "rightValue": "^[0-9]{11}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        96
      ],
      "id": "80301828-d2a7-49d7-9317-fe3cf5d75126",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gepaci",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4832,
        1344
      ],
      "id": "8e3a8f69-518a-4a59-9028-3d048e8526ee",
      "name": "Webhook",
      "webhookId": "efb806dd-479d-40c7-acbd-e96169cf8f80"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2288,
        3296
      ],
      "id": "d9815fc2-90f6-48cd-b807-5fae0327e8c4",
      "name": "Think"
    },
    {
      "parameters": {
        "content": "Consultar Bando db_contas",
        "height": 656,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        1536
      ],
      "typeVersion": 1,
      "id": "8ffa2558-ea21-4e74-940b-62defd3bc804",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "21b073af-b386-45de-bc4b-6cbf2e2aee20",
              "leftValue": "={{ $json.body.ID }}",
              "rightValue": 200,
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        1664
      ],
      "id": "18afdfe7-8363-4a3a-9aaf-77c20c6d193e",
      "name": "If3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst whatsapp = $('Webhook').first().json.body.data.sender.phone_number;\n// const whatsapp = $input.first().json.body[0].body.data.recipient.phone_number\nconst onlyPhone = whatsapp\n  .replace(/\\D/g, '')\n  .replace(/^55/, '');\nconst result = [\n  {\n    foneTratado: onlyPhone\n  }\n];\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4608,
        1472
      ],
      "id": "1cb5e9b4-6166-4d54-8acc-aca86dc660a1",
      "name": "Tratar número",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Inicio",
        "height": 560,
        "width": 816,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        896
      ],
      "typeVersion": 1,
      "id": "b683087a-6de2-4d36-b2bd-81d16e24378b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08f1353f-0d65-46cd-9613-78a2304040d9",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "inicio_conversa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "verificar_usuario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1eeb533-409f-409b-bebd-b35ca3bb6c54",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "atendimento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atendimento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "49bf8bd0-c67f-4dbd-962d-b4172e5efd98",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "ex_funcionario",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ex_funcionario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3743f36-1131-45b3-9d33-ced97cbf2c57",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "acesso_icopass",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "validar_icopass"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57b50e12-5a8c-4ef1-b842-05557744c30d",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "nao_localizado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=nao_localizado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3735b938-34a3-4117-9b89-561d09ee2e1b",
                    "leftValue": "={{ $('Status direcionamento').first().json.statusAtendimento }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finalizar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -112,
        1536
      ],
      "id": "6eb21237-fde9-4671-984e-30724cfb49c6",
      "name": "Gerenciar direcionamento",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "Direcionamentos\n",
        "height": 1152,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        1056
      ],
      "typeVersion": 1,
      "id": "8b11589c-7884-46f9-b5b7-d9ba91ce97f6",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "341efbfa-c910-48de-8435-deda0b23ea41",
              "leftValue": "={{ $('API Identidade').first().json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        320
      ],
      "id": "26c98214-d88b-46e3-9cf3-4753cbf9400a",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagemAtual }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "# ================================================================\n# 🧠 AGENTE “Gê” — PROMPT PARA NÃO ENCONTRADO\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\nVocê é a **Gê**, atendente virtual do **Gepaci**. Sua função nessa etapa será somente informar que não poderá seguir com o atendimento.\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n- exclusivamente responsável por coletar matricula ou CPF do colaborador ou ex colaborador\n\nVocê **nunca inventa informações**, **não cria caminhos**, **não adiciona dados**.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\n1. O atendimento já foi iniciado em outro momento e não foi possível localizar o colaborador com os dados informados.\n2. Você receberá direcionamento de usuários que não foram localizados na base ou de pessoas que nunca trabalharam na empresa.\n3. Para pessoas que não trabalham e/ou nunca trabalharam na Icomon, informe que esse canal é exclusivo para funcionários e ex-funcionarios e encerre o atendimento de forma amigavel.\n4. Para funcionários que não foram localizados, informe que não poderá seguir com o atendimento por esse canal e oriente o mesmo a entrar em contato através do número: **0800-999-9999**.\n5. Após passar essas informações você pode se despedir e encerrar o atendimento acionando a Tool *Status Finalizada*\n\n---\n\n## 🟦 ENCERRAMENTO\n- Quando o atendimento estiver completo, encerre cordialmente.  \n- **Nunca finalize perguntando se o usuário deseja algo mais.**  \n\n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê **NÃO PODE**:\n\n- Solicitar dados de validação ao usuário.\n- Usar dados pessoais como senhas, logins, números internos.\n- Enviar documentos.\n- Repetir o nome do usuário excessivamente.\n- Utilizar o *App IcomonComVc* como um \"coringa\" para dar respostas genericas que não estão na base. \n- Inventar respostas, caminhos, benefícios ou processos.\n- Tratar assuntos fora do escopo do Gepaci.\n- Utilizar conhecimento externo não presente nesse script.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.  \n- Frases curtas de **no máximo 3 linhas**.  \n- Linguagem natural, simples e humana.  \n- Uma pergunta por vez.  \n- Evite blocos longos e respostas extensas.  \n- Nunca use tom técnico ou robótico.  \n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Tool Status Finalizada\nResponsável por alterar o status da conversa para \"Finalizada\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1584,
        3920
      ],
      "id": "82434df7-dc5d-4251-bc9a-2828746d563e",
      "name": "Colaborador Não Encontrado",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "dadosCliente.Nome",
              "value": "={{ $('API Identidade').first().json.body.nome }}",
              "type": "string"
            },
            {
              "id": "b4057371-72ff-4f0b-8cea-80002b90a3a2",
              "name": "dadosCliente.Re",
              "value": "={{ $('coletar identificador').first().json.inputIdentity }}",
              "type": "string"
            },
            {
              "id": "97d8db74-5db5-4924-b230-20718dc5805b",
              "name": "dadosCliente.Status",
              "value": "={{ $('API Identidade').first().json.body.colaborador }}",
              "type": "string"
            },
            {
              "id": "437423ec-c7e3-4417-aafa-2fbe042e5aec",
              "name": "dadosCliente.Situacao",
              "value": "={{ $('API Identidade').first().json.body.situacao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        592
      ],
      "id": "a7f55bfc-6905-491d-b601-632b67746b55",
      "name": "coletar dados usuario1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "**INSTRUÇÕES PARA NÃO ENCONTRADO NA BASE OU NÃO FUNCIONÁRIO**\n\nVocê é a **Gê**, atendente virtual do **Gepaci**. Sua função nessa etapa será para somente para orientar o usuário a entrar em contato com os canais de atendimento adequados.\n\n\n### 1. **Estilo de Atendimento**\n\n* Seja sempre **educada**, **objetiva**, **compreensiva** e **empática**.\n* Mantenha um tom **humanizado e acolhedor**.\n* Faça **apenas uma pergunta por vez**. Nunca sobrecarregue o cliente com múltiplas perguntas simultâneas.\n* **Nunca utilize informações externas** as orientações desse script\n\n### 2. **Início da Conversa**\n\n1. O atendimento já foi iniciado em outro momento e não foi possível localizar o colaborador com os dados informados.\n2. Você receberá direcionamento de usuários que não foram localizados na base ou de pessoas que nunca trabalharam na empresa.\n3. Para pessoas que não trabalham e nunca trabalharam na Icomon, informe que esse canal é exclusivo para funcionários e ex-funcionarios e encerre o atendimento de forma amigavel.\n4. Para funcionários que não foram localizados, informe que não poderá seguir com o atendimento por esse canal e oriente o mesmo a entrar em contato através do número: **0800-999-9999**.\n5. Após passar essas informações você pode se despedir e encerrar o atendimento acionando a Tool **Status inicio_conversa**",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2288,
        3104
      ],
      "id": "62b97e3c-9f89-405d-801c-8096cfbb8bfa",
      "name": "AI Nao Localizado"
    },
    {
      "parameters": {
        "jsCode": "\nconst mensagem = $('Set Buffer Mensagens').first().json.messageBuffer;\nconst onlyNumbers = mensagem\n  .replace(/\\D/g, '')\nconst result = [\n  {\n    messageOnlyNumbers: onlyNumbers\n  }\n];\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        96
      ],
      "id": "d414faf4-73a1-4bd6-a4e1-092ab44716ba",
      "name": "Tratar somente Numeros",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1808,
        1792
      ],
      "id": "466ca055-4d86-45e0-809f-edbf28e83745",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2224,
        1728
      ],
      "id": "79fd1853-7707-46c3-9358-a0953ab73d25",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1888,
        1664
      ],
      "id": "9a36e11d-50fb-4e90-90be-31302eced309",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/identidade",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatInput",
              "value": "={{ $json.inputIdentity }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        80
      ],
      "id": "b87dcc44-f39a-4e91-b3d9-6c4b8f558e73",
      "name": "API Identidade",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 100,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gates.icomon.com.vc/webhook/icopass",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tokenUser",
              "value": "={{ $json.inputToken }}"
            },
            {
              "name": "matricula",
              "value": "={{ $json.matriculaUsuario }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        3168
      ],
      "id": "663f85c8-8dd2-4dd4-878f-f21561b16cac",
      "name": "API IcoPass",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 100,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec732077-a790-418b-a4f4-7fceeef216e2",
              "leftValue": "={{ $json.messageOnlyNumbers }}",
              "rightValue": "^[0-9]{6}$",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        2928
      ],
      "id": "9c6cac50-83d1-4d96-8a43-060a0c322bd0",
      "name": "If IcoPass"
    },
    {
      "parameters": {
        "jsCode": "\nconst mensagem = $('Coletar IcoPass Token').first().json.mensagemAtual;\nconst onlyNumbers = mensagem\n  .replace(/\\D/g, '')\nconst result = [\n  {\n    messageOnlyNumbers: onlyNumbers\n  }\n];\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        2928
      ],
      "id": "69f8f7e8-bdee-47dd-826d-19221dde5e22",
      "name": "Tratar somente Numeros1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "341efbfa-c910-48de-8435-deda0b23ea41",
              "leftValue": "={{ $('API IcoPass').item.json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "f7d8eef2-7d56-45cb-95f8-2e6635bdfca1",
              "leftValue": "={{ $('API IcoPass').item.json.body.chatInput }}",
              "rightValue": "Token valido",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        3504
      ],
      "id": "cc8e1083-25cb-4e9b-af1a-d0108d74cd6e",
      "name": "If4"
    },
    {
      "parameters": {
        "description": "Contem informações para orientações ao usuário sobre serviços e benefícios ofertados pela empresa.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2032,
        1488
      ],
      "id": "a8ee12b3-4c0e-4d3c-a567-dfaa11fec4b6",
      "name": "Banco Vetorial"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2256,
        1296
      ],
      "id": "0a0dc75e-97f2-434e-b030-6dfabd5b2485",
      "name": "Wait",
      "webhookId": "2242736b-8a11-4bc5-bb3e-1abdaa9be21e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37f9a613-db78-4c71-99ac-b09f483e90fd",
              "leftValue": "={{ $json.validarMensagem.last() }}",
              "rightValue": "={{ $('Coletar Msg ID').first().json.inputMessage }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2736,
        1664
      ],
      "id": "f74a668a-eaff-4a14-bcd2-97fc2b59fe87",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2464,
        1856
      ],
      "id": "0a2b3322-fdb5-4058-8bca-921e93d20082",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd8e3dd6-3fd4-4169-83c1-5a9941b50ede",
              "name": "messageBuffer",
              "value": "={{ $('Coletar Buffer Mensagem').first().json.validarMensagem.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2464,
        1648
      ],
      "id": "a8475cd6-3bf8-44f6-9dde-094fd9ccecf8",
      "name": "Set Buffer Mensagens"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a6b8d5-f2f4-4ddb-bba4-16047924a289",
              "name": "inputMessage",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "23c6d005-52e1-4e41-922f-7bb53e0c901d",
              "name": "sessionId",
              "value": "={{ $('coletar dados da conversa').first().json.session }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2720,
        1296
      ],
      "id": "2637df29-75f6-4486-9f31-be515d8c14ff",
      "name": "Coletar Msg ID"
    },
    {
      "parameters": {
        "content": "Buffer Mensagens",
        "height": 1136,
        "width": 1024,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2864,
        1072
      ],
      "typeVersion": 1,
      "id": "9c9ff505-f453-491e-939c-a687c5fe7896",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagemAtual }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ================================================================\n# 🧠 AGENTE “Gê” — INSTRUÇÕES PARA COLETA TOKEN ICOPASS\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\nVocê é **Gê**, agente virtual do **Gepaci** (Icomon), responsável por solicitar e validar o token de acessos do IcoPass e talvez orientar o usuário a como soletar essa informação no APP IcoPass.\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n\nVocê **nunca inventa informações**, **não cria caminhos**, **não adiciona dados** nem responde temas fora da script.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\nA primeira mensagem enviada pela Gê DEVE seguir estas regras:\n\n### 1. Solicitando o Token IcoPass\n\n1. O atendimento já foi iniciado por outro agente e você pode iniciar a abordagem agradecendo pelos dados e solicitando o token de acesso IcoPass. Exemplo: \"Sua matricula foi validada. Obrigada. Porém, como o usuário não foi identificado pelo número de celular corporativo, será necessaria a validação do token IcoPass para poder seguir com o atendimento.\" Use somente essa mensagem inicialmente.\n2. Se o colaborador solicitar informarmações de onde coletar esse dado, informe ao usuário que para seguir com a solicitação desejada o mesmo deve validar sua identidade informando o **ICOMON Token** gerado no app IcoPass.\n3. O acesso no app deve ser feito utilizando o *usuário* e a *senha* de rede que o mesmo utiliza para acesso ao computador.\n4. Valide se a informação passada possui o 6 dígitos. Caso positivo, passe para o proximo nó.\n5. Se a informação passada não atender aos requisitos, solicite os dados novamente.\n6. Consulte o o histórico da conversa no Redis Memory. Se não for a primeira tentativa, informe que não conseguiu validar o token informado e volte para o passo 3. Você deve realizar no máximo duas tentativas.\n\n### 2. Regra de prioridade máxima\nEstas regras de conversa têm **prioridade absoluta** sobre qualquer outra instrução do prompt.\n\n---\n\n## 🟦 DURANTE A CONVERSA\n1. Receba o token passado pelo usuário.\n2. Se a informação não for um token, realize a solicitação.  \n3. Caso precise, faça **uma única pergunta por vez** para obter o token valido.  \n4. Resuma ao máximo as mensagens enviadas para não deixar o texto longo e difícil para leitura.\n5. Não repita informações; apenas complemente. \n\n---\n\n## 🟦 ENCERRAMENTO\n- Verifique o histórico da conversa no Redis Memory. Se o colaborados não conseguir validar o token após duas tentativas, finalize a conversa chamando o Agent Tool **AI Nao Localizado**\n- **Nunca finalize perguntando se o usuário deseja algo mais.**  \n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê **NÃO PODE**:\n\n- Tratar assuntos fora do escopo do Gepaci.\n- Utilizar conhecimento externo não presente nesse script.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\nSe o assunto **não for relacionado ao token**:\n- Diga:  \n  **“Preciso validar o token IcoPass para seguir com o atendimento.”**\n- Se insistir, explique a limitação e encerre gentilmente.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.\n- Frases curtas de **no máximo 3 linhas**.\n- Linguagem natural, simples e humana.\n- Uma pergunta por vez.\n- Evite blocos longos e respostas extensas.\n- Nunca use tom técnico ou robótico.\n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Tool AI Nao Localizado\nDeve ser chamada após 3 tentativas de validação do token sem sucesso.\n\n### Regras da Tool:\n- Será chamada para finalizar o atendimento e atualizar o stus de atendimento no banco.\n\n---\n\n# ================================================================\n# 7️⃣ FINAL GUIDELINES (Memória para o LLM)\n# ================================================================\n- Sempre iniciar com as regras de INÍCIO DA CONVERSA .  \n- Curto, natural, humano.  \n- Uma pergunta por vez.  \n- Nunca ofereça ajuda extra.  \n- Base exclusiva: Este script.  \n- Não inventar.  \n- Não repetir.  \n- Não enviar conteúdos inteiros."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1984,
        2960
      ],
      "id": "1f05edf0-a605-4eaa-a63e-455d3c321d26",
      "name": "Acesso IcoPass",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1952,
        320
      ],
      "id": "fe9aba7d-fc73-4ef8-ba71-c932decc727e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2112,
        384
      ],
      "id": "e8694f71-9e55-45ae-a499-92474b39a2c8",
      "name": "Google Gemini Chat Atendimento1",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2336,
        384
      ],
      "id": "496fc450-b937-47dc-aa4f-56bf84c22c7a",
      "name": "Think1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        4208
      ],
      "id": "9917dda5-0159-467b-8c19-5717d2cdf447",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1584,
        4192
      ],
      "id": "5db0ddfb-47a3-4707-ba00-ac3c000864f4",
      "name": "Google Gemini Chat Atendimento2",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1824,
        4240
      ],
      "id": "5fd9b6d5-afcc-46b7-aae3-df37879d1d99",
      "name": "Think2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        1520
      ],
      "id": "a4e93720-a622-4270-98cf-9affed738fc5",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1392,
        1568
      ],
      "id": "ad2fed01-88ba-48fb-b0cc-c99f22111408",
      "name": "Google Gemini Chat Atendimento3",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1792,
        1472
      ],
      "id": "c8e5075c-ba63-4dfc-accf-3c319188d0ef",
      "name": "Think3"
    },
    {
      "parameters": {
        "content": "Verificar Usuário",
        "height": 1088,
        "width": 2176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        48
      ],
      "typeVersion": 1,
      "id": "d0d43277-10b8-4077-8c66-08acbcc4d707",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Colaborador Não Encontrado",
        "height": 608,
        "width": 2176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        3856
      ],
      "typeVersion": 1,
      "id": "9d62e119-4d1f-47a7-b879-dd8dabd49e7f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Atendimento",
        "height": 688,
        "width": 2192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        1248
      ],
      "typeVersion": 1,
      "id": "44eea021-c3c0-4a2c-84f4-aea5aa86f780",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Atendimento icoPass",
        "height": 912,
        "width": 2192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        2848
      ],
      "typeVersion": 1,
      "id": "75e1d581-7dff-4682-b989-11fcf2c9efdb",
      "name": "Sticky Note9"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2432,
        320
      ],
      "id": "d62e9bf6-ce10-491a-8f79-15338129f36f",
      "name": "Calculator"
    },
    {
      "parameters": {
        "text": "={{ $('Webhook').item.json.body.message }}",
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.7
            }
          },
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          },
          "urls": {
            "value": {
              "allowedUrls": "",
              "allowedSchemes": [
                "https",
                "http",
                "ftp",
                "javascript",
                "vbscript"
              ]
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        -4640,
        1776
      ],
      "id": "2bf80890-d462-4210-ba70-15ade416f302",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -4752,
        1936
      ],
      "id": "f426fa65-a811-4821-b4fe-536bf3917710",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4256,
        1920
      ],
      "id": "321b6a39-bc1e-43d4-9c52-6b20438bfa8e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "sanitize",
        "text": "={{ $json.output }}",
        "guardrails": {
          "customRegex": {
            "regex": [
              {
                "name": "removeArray",
                "value": "\\[\\s*\\{[\\s\\S]*?\\}\\s*\\]"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        3600,
        1408
      ],
      "id": "03cb2113-1589-43a2-9176-1fc1ea6d6399",
      "name": "Guardrails1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.typeMessage }}",
                    "rightValue": "=text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5f9e8239-13b5-4bea-a7e9-590a89d09ed6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88cdf69d-9eb0-4dfa-be0c-cc953a1c11cf",
                    "leftValue": "={{ $json.typeMessage }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "989bf43b-6edd-42d1-9c0f-4ec5628a9609",
                    "leftValue": "={{ $json.typeMessage }}",
                    "rightValue": "=image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "tipo invalido"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4176,
        1440
      ],
      "id": "33b5b50f-32fd-41c1-bbc3-5ede0883442a",
      "name": "Switch",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a4b60f9-a8ce-4c7b-aeb0-7bbfb330435d",
              "name": "message",
              "value": "={{ $('coletar dados da conversa').first().json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3552,
        1152
      ],
      "id": "ca7b83a9-8d7d-4004-9908-ef34d30867d5",
      "name": "Mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98b629e5-0279-4781-90db-645894bea1ed",
              "name": "audioUrl",
              "value": "={{ $('coletar dados da conversa').first().json.message_audio }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3872,
        1472
      ],
      "id": "2e21f48b-86fb-4935-91da-92d335fcccab",
      "name": "Mensagem Audio"
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3664,
        1472
      ],
      "id": "5f8a9813-63c5-4246-bef5-e07b57117a08",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -3456,
        1472
      ],
      "id": "3c2ad423-5874-4bff-bae8-b71675fefae7",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cec2e3b-4094-477a-bdb2-bb79b92923f2",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3248,
        1472
      ],
      "id": "f8b7eca4-cb32-4f1b-8a85-172a6cfc0e59",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98b629e5-0279-4781-90db-645894bea1ed",
              "name": "imagem",
              "value": "={{ $('coletar dados da conversa').first().json.message_image }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3840,
        1728
      ],
      "id": "df8dad95-0d23-4fd3-9e5a-f75a2ef6e14d",
      "name": "Mensagem Imagem"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Sua função será analisar a imagem e retornar um texto descritivo do que ela contem.",
        "imageUrls": "={{$json.imagem}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -3568,
        1728
      ],
      "id": "51e97a1d-4bbf-43b7-860f-c50d496f68c6",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cec2e3b-4094-477a-bdb2-bb79b92923f2",
              "name": "message",
              "value": "=<contextoImage>\n\n  Descrição da imagem enviada pelo cliente.\n\n  <detalheMensagem>\n    {{ $json['0'].content[0].text }}\n  </detalheMensagem>\n\n  <mensagemUsuario>\n\n  </mensagemUsuario>\n\n</contextoImage>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3328,
        1728
      ],
      "id": "b24228c8-da84-4663-944f-c8a0e12e4c37",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5b0308d-48b5-433b-98c7-c9a1d2f41ce6",
              "leftValue": "={{ $json.statusAtendimento }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        1024
      ],
      "id": "94bb2893-3bef-46a2-aca2-f4500bada06c",
      "name": "If6",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Inicio / Tratamento de Mensagens",
        "height": 1152,
        "width": 1936,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4944,
        1072
      ],
      "typeVersion": 1,
      "id": "06f44719-e41c-4912-a620-04599327c927",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3792,
        2032
      ],
      "id": "8840a87f-7b20-4ba1-a8dd-f2e6ab174362",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zapsterapi.com/v1/wa/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NjQ3MDg4MjEsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiI0ODI1MGQ4Yy0wNGFhLTQ5MTMtYmFmNS1jNmRkZGExOTAwYjEiLCJqdGkiOiJlZWNhZjFkMy02Zjk0LTRiY2UtOTMxYS03MmVhYWQxMmFiOWMifQ.P9ssoNa-Muev0wT4bDnabCf0oAPoRwlpVfIOVdWIglk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": \"{{ $('coletar dados da conversa').first().json.recipientLid }}\",\n  \"text\": \"{{ $('Loop Over Items').first().json.message.replace(/(\\r\\n|\\n|\\r)/gm, \" \") }}\",\n  \"instance_id\": \"8ulek0ah8an7vwi49w450\",\n  \"auto_delete\": false,\n  \"auto_mention\": true,\n  \"view_once\": false,\n  \"link_preview\": true,\n  \"mentions\": \"everyone\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3648,
        1824
      ],
      "id": "b40cb2ec-ea95-4bf2-95dc-dd42c79a8fdd",
      "name": "Response Message Zapster"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        4048,
        2064
      ],
      "id": "aebf4baa-8322-46df-af62-941cc7f18c44"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3184,
        1664
      ],
      "id": "b26f9895-5f90-4eb2-886e-455c37ed95a0",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Remover arrays da mensagem\nconst text = $json.output.replace(/(\\[[\\s\\S]*?\\]\\s*)|(\")/g, \"\").trim();\n\nconst delaySeconds = 2;\nconst maxLength = 180;\n\n// 1. Detecta links e substitui por placeholders\nconst urlRegex = /(https?:\\/\\/[^\\s)]+)/g;\nconst links = [];\n\nlet processedText = text.replace(urlRegex, (match) => {\n  links.push(match);\n  return `<LINK_${links.length - 1}>`;\n});\n\n// 2. Captura frases mantendo os sinais finais\n// Evita dividir números como 5.000 (não quebra se tiver dígitos antes/depois)\nconst safeSentenceRegex = /(?:[^.!?]|(?<=\\d)[.!?](?=\\d))+[.!?]/g;\nconst sentences = processedText.match(safeSentenceRegex) || [];\n\n// 3. Reagrupar respeitando o tamanho máximo\nconst result = [];\nlet buffer = '';\n\nfor (const sentence of sentences) {\n  if ((buffer + ' ' + sentence).trim().length <= maxLength) {\n    buffer = (buffer + ' ' + sentence).trim();\n  } else {\n    if (buffer) result.push(buffer.trim());\n    buffer = sentence.trim();\n  }\n}\nif (buffer) result.push(buffer.trim());\n\n// 4. Substitui os links de volta\nconst finalMessages = result.map(msg => {\n  let restored = msg;\n  links.forEach((link, i) => {\n    restored = restored.replace(`<LINK_${i}>`, link);\n  });\n  return { message: restored, delay: delaySeconds };\n});\n\nreturn finalMessages;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        1664
      ],
      "id": "ffc9bf0a-a640-4490-a0db-1be5a8392b3d",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3856,
        1920
      ],
      "id": "f236db9d-568d-4679-b331-8df016dd4689",
      "name": "Wait1",
      "webhookId": "d3569ea4-8aac-4739-8f2b-3770d057d58f"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "validarMensagem",
        "key": "={{$('Coletar Msg ID').first().json.sessionId }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2064,
        1296
      ],
      "id": "00414b74-7991-44d1-a8c0-c6f0577f31e8",
      "name": "Coletar Buffer Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{$('Coletar Msg ID').first().json.sessionId }}_buffer",
        "messageData": "={{ $('Coletar Msg ID').first().json.inputMessage}}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2480,
        1296
      ],
      "id": "5ce013e4-30ba-4f62-bb02-6286b33ab7ad",
      "name": "Set Buffer Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{$('Coletar Msg ID').first().json.sessionId }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2048,
        1648
      ],
      "id": "7b5a919e-19c2-4b23-a1cc-cdf93760336d",
      "name": "Delete Buffer Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_message",
        "value": "={{ $('Set Buffer Mensagens').first().json.messageBuffer }}",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2256,
        1648
      ],
      "id": "b3a90139-3833-4f6d-a698-ef36d2f680f6",
      "name": "Mensagem atual",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "statusAtendimento",
        "key": "={{ $('coletar dados da conversa').first().json.session }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1584,
        1024
      ],
      "id": "70ff0a78-0e15-4fe1-b6f6-6c92aa9354b0",
      "name": "Consultar Status",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "registroAtendimento",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sessionId",
              "fieldValue": "={{ $('coletar dados da conversa').first().json.session }}"
            },
            {
              "fieldId": "mensagemAtual",
              "fieldValue": "={{ $('Set Buffer Mensagens').first().json.messageBuffer }}"
            },
            {
              "fieldId": "statusAtendimento",
              "fieldValue": "inicio_conversa"
            },
            {
              "fieldId": "telefoneContato",
              "fieldValue": "={{ $('coletar dados da conversa').first().json.phoneNumber }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1056,
        1232
      ],
      "id": "d65566c1-6e61-42c0-83f0-fc73a71d8361",
      "name": "Criar Registro",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "registroAtendimento",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "condition": "eq",
              "keyValue": "={{ $('coletar dados da conversa').first().json.session }}"
            },
            {
              "keyName": "statusAtendimento",
              "condition": "neq",
              "keyValue": "finalizada"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagemAtual",
              "fieldValue": "={{ $('Set Buffer Mensagens').first().json.messageBuffer }}"
            },
            {
              "fieldId": "statusAtendimento",
              "fieldValue": "={{ $('Consultar Status').first().json.statusAtendimento}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -976,
        1008
      ],
      "id": "c4cfac7b-ad95-439a-91ab-899c23126fe8",
      "name": "Update Registro",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_message",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        528,
        976
      ],
      "id": "9c501e36-93f7-438e-913d-5197d2b22d2f",
      "name": "Limpar Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_firstMessage",
        "value": "={{ $('Set Buffer Mensagens').first().json.messageBuffer }}",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1632,
        1664
      ],
      "id": "86850dfc-f72a-4481-b4ad-fa2d8ef5632c",
      "name": "Primeira Mensagem",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1536,
        112
      ],
      "id": "e8a31909-45bb-4d4e-a3f2-9c0a28bf0e8a",
      "name": "Coletar Mensagem Verificacao",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        912,
        1280
      ],
      "id": "d9114516-8250-4b29-9f64-12b6565e0638",
      "name": "Coletar Mensagem Atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1472,
        2912
      ],
      "id": "40ebe27e-1220-4df3-9f1f-c54bad629f7e",
      "name": "Coletar Mensagem IcoPass",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_message",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        912,
        3920
      ],
      "id": "7015425f-0b1a-4482-b4ab-c031c3bfded2",
      "name": "Coletar Mensagem Nao Encontrado",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9efad99d-7bde-414c-af1a-637e4d123fb5",
              "name": "inputToken",
              "value": "={{ $('Tratar somente Numeros1').first().json.messageOnlyNumbers }}",
              "type": "string"
            },
            {
              "id": "995dfa0d-2e48-4fb3-9a60-087d76e3c96e",
              "name": "matriculaUsuario",
              "value": "={{ $('Coletar Matricula Usuario').first().json.matricula }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        3168
      ],
      "id": "06be9b54-b214-4224-89b0-e6f5df86ebe1",
      "name": "Coletar Token",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "matricula",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_matricula",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        544,
        3168
      ],
      "id": "df9091e7-0512-435d-b194-5dc60a645adb",
      "name": "Coletar Matricula Usuario",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_nome",
        "value": "={{ $('coletar dados usuario').first().json.dadosCliente.Nome.trim().split(/\\s+/)[0] }}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -992,
        1968
      ],
      "id": "3416f614-8bd6-4a91-a2e2-eeec15ff9e53",
      "name": "Setar Nome Colaborador",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_matricula",
        "value": "={{ $('coletar dados usuario1').first().json.dadosCliente.Re }}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1072,
        592
      ],
      "id": "3c01a91b-d742-4dd8-b5a3-3b4669abe4be",
      "name": "Setar Matricula",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_nome",
        "value": "={{ $('coletar dados usuario1').first().json.dadosCliente.Nome.trim().split(/\\s+/)[0] }}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        848,
        592
      ],
      "id": "0cf48a51-6372-4a0d-9a98-6cdb25581c3a",
      "name": "Setar Nome",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemInicial",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_firstMessage",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1504,
        3520
      ],
      "id": "5e08329d-b013-4f7e-9ab6-f3f863d0c02d",
      "name": "Resgatar Mensagem Inicial",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_message",
        "value": "={{ $('Resgatar Mensagem Inicial').first().json.mensagemInicial }}",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1776,
        3520
      ],
      "id": "42f75d03-6bc8-464e-8962-98eba05b0a4c",
      "name": "Mensagem atual1",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "nomeUsuario",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_nome",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1344,
        1280
      ],
      "id": "08590d7a-8cf5-4bbb-9a62-588a936897a2",
      "name": "Coletar Nome Usuario",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b60e9583-6fe9-45ff-ac2f-aadaaa27c51f",
              "name": "session",
              "value": "={{ $('Webhook').first().json.body.data.sender.phone_number }}_{{ $('Webhook').item.json.body.data.sender.name.trim().split(/\\s+/)[0] }}",
              "type": "string"
            },
            {
              "id": "1f37ee26-a963-497c-b693-a14afd0bdff1",
              "name": "chatId",
              "value": "={{ $('Webhook').first().json.body.data.id }}",
              "type": "string"
            },
            {
              "id": "01a74efd-5d4e-4869-b157-8611c12facf8",
              "name": "pushName",
              "value": "={{ $('Webhook').first().json.body.data.sender.name }}",
              "type": "string"
            },
            {
              "id": "36b91569-2721-46ab-b458-6c2c00c1f659",
              "name": "typeMessage",
              "value": "={{ $('Webhook').first().json.body.data.type }}",
              "type": "string"
            },
            {
              "id": "6c3fee67-5a3e-4daf-b7e0-8a987bf24dc1",
              "name": "message",
              "value": "={{ $('Webhook').first().json.body.data.content.text }}",
              "type": "string"
            },
            {
              "id": "112014ec-de53-4924-a50e-d6139d850fcb",
              "name": "recipientLid",
              "value": "={{ $('Webhook').first().json.body.data.recipient.lid }}",
              "type": "string"
            },
            {
              "id": "c06f028b-6543-451e-ab4c-ef99e6feea7d",
              "name": "phoneNumber",
              "value": "={{ $('Tratar número').first().json.foneTratado }}",
              "type": "string"
            },
            {
              "id": "82000d21-cf1e-4dec-8320-aa5486956519",
              "name": "message_audio",
              "value": "={{ $('Webhook').first().json.body.data.content.media.url }}",
              "type": "string"
            },
            {
              "id": "7f4e7ff8-3496-4e3a-94ff-885e66647e43",
              "name": "message_image",
              "value": "={{ $('Webhook').first().json.body.data.content.media.url }}",
              "type": "string"
            },
            {
              "id": "3133cb74-461b-43e6-9ec7-04d63275abcb",
              "name": "phoneCompleto",
              "value": "={{ $('Webhook').first().json.body.data.sender.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4400,
        1472
      ],
      "id": "3f470f38-fced-437d-962f-5853ec8796f7",
      "name": "coletar dados da conversa",
      "executeOnce": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('coletar dados da conversa').first().json.session }}_memory",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2240,
        336
      ],
      "id": "50f138b8-b21e-41d4-b5cb-c51671ff0ff6",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('coletar dados da conversa').first().json.session }}_memoryAtendimento",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1648,
        1536
      ],
      "id": "6c183ca3-634f-4035-9d5f-5cf34f700554",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('coletar dados da conversa').first().json.session }}_memory",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2096,
        3312
      ],
      "id": "a5dde1da-790a-4d65-b2b9-47929d0ca11b",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('coletar dados da conversa').first().json.session }}_memory",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1712,
        4304
      ],
      "id": "64d5698b-98a6-45cf-83b8-be0e76df1700",
      "name": "Redis Chat Memory3",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "Saída/Resposta Agente",
        "height": 944,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2912,
        1376
      ],
      "typeVersion": 1,
      "id": "94947e47-e743-434b-afb9-7430a73b6c69",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "memoryHist",
        "key": "={{ $('coletar dados da conversa').item.json.session }}_memory",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3616,
        1632
      ],
      "id": "9ad4fca2-a551-4a09-9700-750950dca513",
      "name": "Get Memory",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "registroAtendimento",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "condition": "eq",
              "keyValue": "={{ $('coletar dados da conversa').item.json.session }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "historicoConversa",
              "fieldValue": "={{ $('Get Memory').item.json.memoryHist }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3840,
        1632
      ],
      "id": "1eefa5c5-1dee-468c-8cca-d9ead0abdad7",
      "name": "Historico de Conversa",
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91cbde0e-dd1d-4b2e-b40f-0bc6153f82a2",
              "name": "mensagemAtual",
              "value": "=<contextoAnaliseToken>\n\n  Descrição da mensagem retornada pela API na validação do Token.\n\n  <response>\n    {{ $('API IcoPass').first().json.chatInput }}\n  </response>\n\n  <tokenUsuario>\n\n    {{ $('Coletar Token').first().json.inputToken }}\n\n  </tokenUsuario>\n\n</contextoAnaliseToken>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        3344
      ],
      "id": "c2709730-0662-4f4a-9c3f-3ff0cb40b9ea",
      "name": "Retorno API"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        2928
      ],
      "id": "fd365afc-2377-46d3-a4c0-657c0b259528",
      "name": "Coletar IcoPass Token",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "027e85d7-ad52-4123-9bf3-05ff4dd55c2a",
              "leftValue": "={{ $('Loop Over Items').first().json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3376,
        1840
      ],
      "id": "421857bb-2d99-47de-abcb-30a1cb5c46c6",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3648,
        2048
      ],
      "id": "9baa8ed4-c11d-45cf-838c-cc1faae84147",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2192,
        3392
      ],
      "id": "3ed1e7ed-2869-4d83-bf5c-78f24cc6ac9f",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}",
        "value": "inicio_conversa",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1456,
        1664
      ],
      "id": "33c22cba-0909-4fa2-bef2-079abe869a0d",
      "name": "Status Inicial",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "statusAtendimento",
        "key": "={{ $('coletar dados da conversa').first().json.session }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -448,
        1600
      ],
      "id": "9fed9b6e-b88a-4731-b3b7-e6ed8dad78ed",
      "name": "Status direcionamento",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}",
        "value": "atendimento",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1168,
        1968
      ],
      "id": "441e6df2-3948-4849-8696-9389b8116051",
      "name": "Status Atendimento",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}",
        "value": "finalizada",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1072,
        304
      ],
      "id": "3732436d-5b09-4811-8048-939d2d0d835d",
      "name": "Nao Localizado",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}",
        "value": "inicio_conversa",
        "expire": true,
        "ttl": 500
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        2512,
        3280
      ],
      "id": "f421417e-bd0e-4bc7-acd7-875fcf993abb",
      "name": "Status inicio_conversa",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "registroAtendimento",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "condition": "eq",
              "keyValue": "={{ $('coletar dados da conversa').first().json.session }}"
            },
            {
              "keyName": "statusAtendimento",
              "condition": "neq",
              "keyValue": "finalizada"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "statusAtendimento",
              "fieldValue": "inicio_conversa"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2752,
        3280
      ],
      "id": "26f6a423-feba-4da5-a797-ad5c514d2499",
      "name": "Status inicio_conversa1",
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}",
        "value": "atendimento",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1264,
        3520
      ],
      "id": "994dc62a-4edd-42e5-88e6-30cdf7f707b5",
      "name": "Status Atendimento1",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('coletar dados da conversa').first().json.session }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1936,
        3920
      ],
      "id": "92109703-ea3b-4287-b2ab-f48ba2ae20a8",
      "name": "Reset Status",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8546416561:AAFTcJQIRWVc7yXOcuef_1paenb7qAdjeJk/getWebhookinfo",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4384,
        2544
      ],
      "id": "ad2dd85e-0637-48fb-837a-01c55ac82fde",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "command": "curl -X POST 'https://api.telegram.org/bot8546416561:AAFTcJQIRWVc7yXOcuef_1paenb7qAdjeJk/setWebhook'  -d 'url=https://gates.icomon.com.vc/webhook-test/63cce62c-4eaa-40eb-88e0-cbf2fa2f35aa/webhook'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -4176,
        2544
      ],
      "id": "9dd9012c-fcd7-4e1e-a9b2-2aa18527d42a",
      "name": "Execute Command",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO [db_Gepaci].[dbo].[reports]\n\t(sessionId, mensagemAtual, Status, Identificador_do_Contato, Numero_de_Atendimento)\n\tVALUES \n\t('{{ $('coletar dados da conversa').first().json.session }}', '{{ $('Set Buffer Mensagens').first().json.messageBuffer }}', 'inicio_conversa' , '{{ $('coletar dados da conversa').first().json.phoneCompleto }}', '{{ $('coletar dados da conversa').first().json.phoneNumber }}');"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1296,
        1664
      ],
      "id": "e3084cfb-dc99-4594-8950-701af8225be9",
      "name": "Criar Registro1",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE [db_Gepaci].[dbo].[reports]\n  SET mensagemAtual = '{{ $('Set Buffer Mensagens').first().json.messageBuffer }}',\n    Status = '{{ $('Consultar Status').first().json.statusAtendimento}}'\n  WHERE sessionId = '{{ $('coletar dados da conversa').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1168,
        1008
      ],
      "id": "3ea0f008-6a29-4ab3-af83-3b9e6e1f0341",
      "name": "Update Registro1",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE [db_Gepaci].[dbo].[reports]\n  SET Status = 'finalizada'\n  WHERE sessionId = '{{ $('coletar dados da conversa').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        864,
        304
      ],
      "id": "e74fad7b-3cd5-4504-84d7-a9bd0b231ebe",
      "name": "Setar Status Finalizado",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE [db_Gepaci].[dbo].[reports]\n  SET Status = 'atendimento'\n  WHERE sessionId = '{{ $('coletar dados da conversa').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1040,
        3520
      ],
      "id": "44f4fbda-49cc-4854-9572-12bea493935d",
      "name": "Setar Status Atendimento",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE [db_Gepaci].[dbo].[reports]\n  SET Nome_do_Contato = '{{ $('coletar dados usuario').first().json.dadosCliente.Nome }}',\n    Matricula = '{{ $('coletar dados usuario').first().json.dadosCliente.Re }}',\n    Status = 'atendimento',\n    Unidade = '{{ $('coletar dados usuario').first().json.dadosCliente.Unidade }}'\n  WHERE sessionId = '{{ $('coletar dados da conversa').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1360,
        1968
      ],
      "id": "47534e0d-997e-4a63-8d12-14a0cd50981c",
      "name": "Dados Colaborador1",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE [db_Gepaci].[dbo].[reports]\n  SET Status = 'inicio_conversa'\n  WHERE sessionId = '{{ $('coletar dados da conversa').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        2384,
        3376
      ],
      "id": "e8aeba0a-d229-4a08-b707-73fa2345ca00",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "613e1a65-953e-468c-8b5a-86a0794d7262",
              "leftValue": "={{ $('coletar dados usuario1').first().json.dadosCliente.Re }}",
              "rightValue": "F",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "20ab5ae7-c4ac-4db4-a800-25e745422424",
              "leftValue": "={{ $('coletar dados usuario1').first().json.dadosCliente.Re }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        592
      ],
      "id": "6351684a-0a19-4fd0-9909-4d45be857f63",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}",
        "value": "ex_funcionario",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1552,
        576
      ],
      "id": "faff5000-e626-48cf-a427-b6e8d5ea1000",
      "name": "Status Ex Funcionario",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE [db_Gepaci].[dbo].[reports]\n  SET Status = 'ex_funcionario',\n    Nome_do_Contato = '{{ $('coletar dados usuario1').first().json.dadosCliente.Nome }}',\n    Matricula = '{{ $('coletar dados usuario1').first().json.dadosCliente.Re }}'\n  WHERE sessionId = '{{ $('coletar dados da conversa').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1808,
        576
      ],
      "id": "934f7d48-9091-42fe-9429-aa38b9ae90b5",
      "name": "Status Ex Funcionario1",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE [db_Gepaci].[dbo].[reports]\n  SET Status = 'acesso_icopass',\n    Nome_do_Contato = '{{ $('coletar dados usuario1').first().json.dadosCliente.Nome }}',\n    Matricula = '{{ $('coletar dados usuario1').first().json.dadosCliente.Re }}'\n  WHERE sessionId = '{{ $('coletar dados da conversa').first().json.session }}'\n  AND Status != 'finalizada';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1824,
        784
      ],
      "id": "cd017c9f-0007-4bc1-a031-884f5740def3",
      "name": "Setar Status IcoPass",
      "credentials": {
        "microsoftSql": {
          "id": "d1VJXdOhxYJikLtU",
          "name": "db_Gepaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('coletar dados da conversa').first().json.session }}",
        "value": "acesso_icopass",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1552,
        784
      ],
      "id": "d29f9676-8095-4ae3-b8a1-48be340f3121",
      "name": "Status IcoPass",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1792,
        2592
      ],
      "id": "d0b4c02f-0428-4c94-ae26-310e810abb77",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2208,
        2528
      ],
      "id": "45e65f46-5587-4221-8f3e-ce434f034165",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documentsformeremployee",
          "mode": "list",
          "cachedResultName": "documentsformeremployee"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1872,
        2464
      ],
      "id": "d107e39d-45bb-42b8-a496-8c7ccaab4406",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Z179aOzdGDkmnopp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "description": "Contem informações para orientações ao usuário sobre serviços e benefícios ofertados pela empresa.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2016,
        2288
      ],
      "id": "ca699980-9a87-4ea6-ab7d-0e1691735fd8",
      "name": "Banco Vetorial1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        2320
      ],
      "id": "23f4430e-867b-4431-a9c8-498f1469c931",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "TAeBQjpAim1cMqIi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        2368
      ],
      "id": "7f93ec64-6fbf-41d1-aee1-739d989da2cc",
      "name": "Google Gemini Chat Atendimento4",
      "credentials": {
        "googlePalmApi": {
          "id": "X1oAnEr5jdcC8xz6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1776,
        2272
      ],
      "id": "e53f1bd9-6791-4ace-a94f-f2e30655126c",
      "name": "Think4"
    },
    {
      "parameters": {
        "content": "Ex-Funcionário",
        "height": 688,
        "width": 2192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        2048
      ],
      "typeVersion": 1,
      "id": "c9e7e516-95cd-49bd-b07f-1c414e9d434e",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "nomeUsuario",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_nome",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1328,
        2080
      ],
      "id": "b72c4720-0d30-4c2e-be81-88f1cb54fd37",
      "name": "Coletar Nome Usuario1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('coletar dados da conversa').first().json.session }}_memoryAtendimento",
        "sessionTTL": 1800,
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1632,
        2336
      ],
      "id": "2e5e8f92-c4f8-4ea2-9255-176583243194",
      "name": "Redis Chat Memory4",
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagemAtual",
        "key": "={{ $('coletar dados da conversa').first().json.session }}_message",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        896,
        2080
      ],
      "id": "b07e98a8-62b7-414c-897e-55a249c1d223",
      "name": "Coletar Mensagem Ex Funcionario",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "uUviyg2VYvUsG0xc",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Coletar Mensagem Ex Funcionario').item.json.mensagemAtual }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ================================================================\n# 🧠 AGENTE “Gê” — PROMPT EX FUNCIONÁRIOS\n# ================================================================\n\n# ================================================================\n# 1️⃣ ROLE – Quem é a Gê\n# ================================================================\nVocê é **Gê**, agente virtual do **Gepaci** (Icomon), responsável por orientar ex-colaboradores da empresa sobre processos para ex-colabores e possiveis dúvidas que possam surgir.\n\nSua atuação é:\n- humanizada\n- acolhedora\n- objetiva\n- baseada exclusivamente no conteúdo da **Tool Banco Verorial**\n\nVocê **nunca inventa informações**, **não cria caminhos**, **não adiciona dados** \nnem responde temas fora da base.\n\n---\n\n# ================================================================\n# 2️⃣ WORKFLOW – Como a Gê opera\n# ================================================================\n\n## 🟦 INÍCIO DA CONVERSA — REGRA PRIORITÁRIA\n\nA primeira mensagem enviada pela Gê DEVE seguir estas regras usando essa hora e data para ajudar na reformulação das saudações: **{{ $now }}**:\n\n### 1. Saudação obrigatória com o nome do usuário\nA Gê **sempre** inicia a conversa chamando o usuário pelo primeiro nome:\n**{{ $json.nomeUsuario }}**\n\n### 2. A Gê deve escolher APENAS UMA das saudações abaixo (nunca inventar outras)\n\nSaudações permitidas:\n\n1. **\"Oi {{ $json.nomeUsuario }}, tudo bem? Identifiquei que você é um EX-FUNCIONÁRIO. Como posso te ajudar hoje?\"**\n2. **\"Olá {{ $json.nomeUsuario }}, muito prazer! Sou a Gê. Identifiquei que você é um EX-FUNCIONÁRIO e estou aqui para te ajudar.\"**\n3. **\"Oi {{ $json.nomeUsuario }}! Prazer te atender. Identifiquei que você é um EX-FUNCIONÁRIO. Em que posso ajudar hoje?\"**\n4. **\"Olá {{ $json.nomeUsuario }}, eu sou a Gê, sua agente virtual. Identifiquei que você é um EX-FUNCIONÁRIO. Como posso te apoiar?\"**\n5. **\"Oi {{ $json.nomeUsuario }}, seja bem-vindo. Sou a Gê. Vi aqui no meu sistame que você é um EX-FUNCIONÁRIO. Como posso ajudar?\"**\n6. **\"Olá {{ $json.nomeUsuario }}! É um prazer falar com você. Vi aqui no meu sistame que você é um EX-FUNCIONÁRIO. O que posso fazer por você hoje?\"**\n7. **\"Oi {{ $json.nomeUsuario }}, aqui é a Gê. Como posso ajudar? Vi aqui no meu sistame que você é um EX-FUNCIONÁRIO.\"**\n8. **\"Olá {{ $json.nomeUsuario }}, conte comigo. Vi aqui no meu sistame que você é um EX-FUNCIONÁRIO. Em que posso te ajudar hoje?\"**\n\n> IMPORTANTE:  \n> - **Escolher apenas UMA frase da lista.**  \n> - **Nunca usar saudações fora da lista.**  \n> - **Nunca iniciar sem o nome.**  \n> - **Nunca usar apenas \"Olá. Como posso ajudar hoje?\".**  \n> - **Não solicitar nenhum dado.**\n\n### 3. Uso do nome\n- O nome é utilizado **somente na primeira mensagem**, salvo necessidade real de empatia.\n\n### 4. Regra de prioridade máxima\nEstas regras de saudação têm **prioridade absoluta** sobre qualquer outra instrução do prompt.\n\n---\n\n## 🟦 DURANTE A CONVERSA\n1. Receba a dúvida do usuário.  \n2. Identifique o assunto.  \n3. Consulte a **Tool Banco Verorial**.  \n4. Extraia informações relevantes **somente** daquele tema.  \n5. Leia todo a documentação referente ao tema para não passar informações erradas ou incompletas.\n6. Caso precise, faça **uma única pergunta por vez** para obter detalhes adicionais.  \n6. Nunca envie documentos completos; apenas os trechos necessários.  \n7. Resuma ao máximo as mensagens enviadas para não deixar o texto longo e difícil para leitura.\n8. Não repita informações; apenas complemente.  \n\n---\n\n## 🟦 ENCERRAMENTO\n- Quando o atendimento estiver completo, encerre cordialmente.  \n- **Nunca finalize perguntando se o usuário deseja algo mais.**  \n\n---\n\n# ================================================================\n# 3️⃣ SAFETY – Regras de Segurança e Limitações\n# ================================================================\nA Gê **NÃO PODE**:\n\n- Solicitar dados de validação ao usuário.\n- Usar dados pessoais como senhas, logins, números internos.\n- Enviar documentos inteiros.\n- Repetir o nome do usuário excessivamente.\n- Utilizar o *App IcomonComVc* como um \"coringa\" para dar respostas genericas que não estão na base. \n- Inventar respostas, caminhos, processos.\n- Tratar assuntos fora do escopo do escopo.\n- Utilizar conhecimento externo não presente na Tool Banco Verorial.\n- Apresentar fórmulas, códigos, scripts, expressões técnicas.\n\nSe o assunto **não estiver na base**:\n- Diga:  \n  **“Não tenho informações sobre esse assunto. Posso ajudar com alguma outra informação referente ao Gepaci?”**\n- Se insistir, explique a limitação e encerre gentilmente.\n\n---\n\n# ================================================================\n# 4️⃣ STYLE – Estilo de Comunicação da Gê\n# ================================================================\n- Educada, empática, clara e acolhedora.  \n- Frases curtas de **no máximo 3 linhas**.  \n- Linguagem natural, simples e humana.  \n- Uma pergunta por vez.  \n- Evite blocos longos e respostas extensas.  \n- Nunca use tom técnico ou robótico.  \n- Não pergunte: “Posso ajudar em algo mais?”, “Algo mais?”, etc.\n\n---\n\n# ================================================================\n# 5️⃣ CONSTRAINTS – Limitações Rígidas (Prioridade Máxima)\n# ================================================================\n1. **A Gê só pode responder usando informações existentes na Tool Banco Verorial.**  \n2. **É proibido estender informação além do que está na base.**  \n3. **É proibido criar exemplos, serviços ou processos inexistentes.**  \n4. **É proibido citar nomes de pessoas (cases de sucesso sempre anônimos).**  \n5. **Mensagens devem ser sempre de até 3 linhas.**  \n6. **NUNCA:**  \n   - “Posso ajudar em algo mais?”  \n   - “Tem mais alguma dúvida?”  \n   - “Deseja saber mais alguma coisa?”  \n7. O nome do usuário aparece **apenas na apresentação** (ou quando realmente necessário).  \n8. Não repita informações que já foram apresentadas.  \n9. Espere sempre a resposta do usuário antes de avançar.\n\n---\n\n# ================================================================\n# 6️⃣ TOOLS – Como e quando usar as ferramentas\n# ================================================================\n\n## 🔧 Tool Banco Verorial\nA única fonte de informação autorizada.\n\nUse sempre que o usuário fizer qualquer pergunta sobre:\n- FGTS - Chave de Segurança\n- Homologação\n- Ressalva\n- PPR Para Desligados\n\n### Regras da Tool:\n- Nunca expandir, interpretar além do texto ou inferir.  \n- Apenas extrair as partes relevantes ao pedido.  \n- Se o tema não existir → seguir regras de Safety.\n\n---\n\n# ================================================================\n# 7️⃣ FINAL GUIDELINES (Memória para o LLM)\n# ================================================================\n- Sempre usar Nome do usuário na primeira interação.  \n- Curto, natural, humano.  \n- Uma pergunta por vez.  \n- Nunca ofereça ajuda extra.  \n- Base exclusiva: Tool Banco Verorial.  \n- Não inventar.  \n- Não repetir.  \n- Não enviar conteúdos inteiros."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1728,
        2080
      ],
      "id": "185904fb-c3b3-4555-b9a8-b7d626c5356f",
      "name": "Ex Funionario",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Nao Localizado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "coletar identificador": {
      "main": [
        [
          {
            "node": "API Identidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados usuario": {
      "main": [
        [
          {
            "node": "Dados Colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "coletar identificador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Verificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Tratar número",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "coletar dados usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerenciar direcionamento": {
      "main": [
        [
          {
            "node": "Tratar somente Numeros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Ex Funcionario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar IcoPass Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Mensagem Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Usuario": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Setar Status Finalizado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "coletar dados usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colaborador Não Encontrado": {
      "main": [
        [
          {
            "node": "Reset Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento": {
      "ai_languageModel": [
        [
          {
            "node": "AI Nao Localizado",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "Acesso IcoPass",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Sql Agtesla": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados usuario1": {
      "main": [
        [
          {
            "node": "Setar Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Nao Localizado": {
      "ai_tool": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tratar somente Numeros": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Banco Vetorial",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Banco Vetorial",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "API Identidade": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If IcoPass": {
      "main": [
        [
          {
            "node": "Coletar Mensagem IcoPass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar Matricula Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar somente Numeros1": {
      "main": [
        [
          {
            "node": "If IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API IcoPass": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Retorno API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Setar Status Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Banco Vetorial": {
      "ai_tool": [
        [
          {
            "node": "Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Coletar Buffer Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Set Buffer Mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Buffer Mensagens": {
      "main": [
        [
          {
            "node": "Mensagem atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Msg ID": {
      "main": [
        [
          {
            "node": "Set Buffer Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acesso IcoPass": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento1": {
      "ai_languageModel": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento2": {
      "ai_languageModel": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Think3": {
      "ai_tool": [
        [
          {
            "node": "Atendimento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento3": {
      "ai_languageModel": [
        [
          {
            "node": "Atendimento",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Atendimento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Coletar Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "Coletar Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Imagem": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Coletar Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Update Registro1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Primeira Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar número": {
      "main": [
        [
          {
            "node": "coletar dados da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendimento": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Message Zapster": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Buffer Mensagem": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Buffer Mensagem": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer Mensagem": {
      "main": [
        [
          {
            "node": "Consultar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem atual": {
      "main": [
        [
          {
            "node": "Delete Buffer Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Status": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Registro": {
      "main": [
        []
      ]
    },
    "Update Registro": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Mensagem": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeira Mensagem": {
      "main": [
        [
          {
            "node": "Status Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Verificacao": {
      "main": [
        [
          {
            "node": "Validar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Atendimento": {
      "main": [
        [
          {
            "node": "Coletar Nome Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem IcoPass": {
      "main": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Nao Encontrado": {
      "main": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Token": {
      "main": [
        [
          {
            "node": "API IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Matricula Usuario": {
      "main": [
        [
          {
            "node": "Coletar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Nome Colaborador": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Matricula": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Nome": {
      "main": [
        [
          {
            "node": "Setar Matricula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resgatar Mensagem Inicial": {
      "main": [
        [
          {
            "node": "Mensagem atual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem atual1": {
      "main": [
        [
          {
            "node": "Status direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Nome Usuario": {
      "main": [
        [
          {
            "node": "Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coletar dados da conversa": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Validar Usuario",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Atendimento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "Colaborador Não Encontrado",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory": {
      "main": [
        [
          {
            "node": "Historico de Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historico de Conversa": {
      "main": [
        []
      ]
    },
    "Retorno API": {
      "main": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar IcoPass Token": {
      "main": [
        [
          {
            "node": "Tratar somente Numeros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Response Message Zapster",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "Acesso IcoPass",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Status Inicial": {
      "main": [
        [
          {
            "node": "Criar Registro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status direcionamento": {
      "main": [
        [
          {
            "node": "Gerenciar direcionamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Atendimento": {
      "main": [
        [
          {
            "node": "Setar Nome Colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nao Localizado": {
      "main": [
        [
          {
            "node": "Limpar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status inicio_conversa": {
      "ai_tool": [
        [
          {
            "node": "AI Nao Localizado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Status inicio_conversa1": {
      "ai_tool": [
        []
      ]
    },
    "Status Atendimento1": {
      "main": [
        [
          {
            "node": "Resgatar Mensagem Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Status": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Criar Registro1": {
      "main": [
        [
          {
            "node": "Sql Agtesla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Registro1": {
      "main": [
        [
          {
            "node": "Update Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status Finalizado": {
      "main": [
        [
          {
            "node": "Nao Localizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status Atendimento": {
      "main": [
        [
          {
            "node": "Status Atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Colaborador1": {
      "main": [
        [
          {
            "node": "Status Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "ai_tool": [
        [
          {
            "node": "AI Nao Localizado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Status Ex Funcionario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Ex Funcionario": {
      "main": [
        [
          {
            "node": "Status Ex Funcionario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Status IcoPass": {
      "main": [
        [
          {
            "node": "Limpar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status IcoPass": {
      "main": [
        [
          {
            "node": "Setar Status IcoPass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Banco Vetorial1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Banco Vetorial1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Banco Vetorial1": {
      "ai_tool": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Atendimento4": {
      "ai_languageModel": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Think4": {
      "ai_tool": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Nome Usuario1": {
      "main": [
        [
          {
            "node": "Ex Funionario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "Ex Funionario",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Mensagem Ex Funcionario": {
      "main": [
        [
          {
            "node": "Coletar Nome Usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Ex Funcionario1": {
      "main": [
        [
          {
            "node": "Limpar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 35,
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "ebeb6d3e-ed6e-434c-94fd-7ae44577b4d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c13cee92dfa69db8294a82c6dfa57e3a1199207e843eec919de3f2ec003607aa"
  },
  "id": "Jigl1UburULdx8ub",
  "tags": [
    {
      "updatedAt": "2025-12-02T17:44:17.488Z",
      "createdAt": "2025-12-01T14:07:28.553Z",
      "id": "l1WJO2gYoiZjBRpa",
      "name": "agent-ia"
    },
    {
      "updatedAt": "2025-12-02T17:43:42.671Z",
      "createdAt": "2025-12-02T17:43:42.671Z",
      "id": "DAVqu1ffZ94tmOAL",
      "name": "prod"
    }
  ]
}